﻿@{
    ViewData["Title"] = "Introduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- Single -->
    <section class="single">
        <div class="container">
            <div class="flex-singel">
                <div class="right-single">
                    <div class="page-offset">

                        <!-- Breadcrumb -->
                        <div class="breadcrumb">
                            <a href="https://mahak-charity.org/wp-content/themes/kalhors-mahak">خانه</a>
                            <i></i> <a href="#"> آشنایی با محک</a>
                            <i></i> <a href="#"> درباره محک</a>
                            <i></i> <span>فعالیت های محک</span>
                        </div>

                        <article class="single-page">
                            <aside class="category-aside">
                                <h3 class="category-aside-h3">مطالب بیشتر:</h3>
                                <ul class="category-aside-ul">
                                    <li><a href="https://mahak-charity.org//charity/">خیریه</a></li>
                                    <li><a href="https://mahak-charity.org//ttreatment/">درمان</a></li>
                                    <li><a href="https://mahak-charity.org//investigation/">تحقیقات</a></li>
                                </ul>
                            </aside>
                            <div class="category-block">
                                <div class="single-img"><img width="751" height="183" src="https://mahak-charity.org/wp-content/uploads/2020/02/header11.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://mahak-charity.org/wp-content/uploads/2020/02/header11.jpg 751w, https://mahak-charity.org/wp-content/uploads/2020/02/header11-600x146.jpg 600w" sizes="(max-width: 751px) 100vw, 751px" /></div>
                                <h1 class="single-h1">فعالیت های محک</h1>
                                <ul class="singel-des">
                                    <li>۲۸ بهمن ۹۸</li>
                                    <li>2850 بازدید</li>
                                    <li>0 دیدگاه</li>
                                </ul>
                                <div class="single-content">
                                    <p>موسسه خیریه حمایت از کودکان مبتلا به سرطان با نام اختصاری “ محک ”  از سال  ۱۳۷۰ و با شماره ثبت۶۵۶۷  در قـالب یک سـازمان مردم نهاد با انگیزه والای کمک به همنوع به حمایت همه جانبه از کودکان مبتلا بـه سرطان زیر ۱۶ سال و خانواده‌های آنـان می پردازد و در سه حوزه خیریه، درمان و تحقیقات فعال است. اطلاعات بیشتر در مورد فعالیت های محک را در لینک ها زیر جستجو کنید.</p>
                                    <div id="attachment_789" style="width: 177px" class="wp-caption alignright"><a href="https://mahak-charity.org//charity/"><img aria-describedby="caption-attachment-789" class="wp-image-789" src="https://mahak-charity.org//wp-content/uploads/2020/02/IMG_55000-1-1.jpg" alt="خیریه" width="167" height="125" /></a><p id="caption-attachment-789" class="wp-caption-text"><a href="https://mahak-charity.org//charity/">خیریه</a></p></div>
                                    <div id="attachment_790" style="width: 177px" class="wp-caption alignright"><a href="https://mahak-charity.org//ttreatment/"><img aria-describedby="caption-attachment-790" class="wp-image-790" src="https://mahak-charity.org//wp-content/uploads/2020/02/darman-1.jpg" alt="" width="167" height="125" /></a><p id="caption-attachment-790" class="wp-caption-text"><a href="https://mahak-charity.org//ttreatment/">درمان</a></p></div>
                                    <div id="attachment_792" style="width: 177px" class="wp-caption alignright"><a href="https://mahak-charity.org//investigation/"><img aria-describedby="caption-attachment-792" class="wp-image-792" src="https://mahak-charity.org//wp-content/uploads/2020/02/tahghighat-1.jpg" alt="" width="167" height="125" /></a><p id="caption-attachment-792" class="wp-caption-text"><a href="https://mahak-charity.org//investigation/">تحقیقات</a></p></div>
                                </div>
                            </div>
                        </article>
                        <h3 class="single-h3">دیدگاه‌ها</h3>
                        <section class="single-page margin-bottom-0">
                            <div id="respond">
                                <h3 id="reply-title"> <small><a rel="nofollow" id="cancel-comment-reply-link" href="/activity/#respond" style="display:none;">لغو پاسخ</a></small></h3>
                                <form action="https://mahak-charity.org/wp-comments-post.php" method="post" id="commentform" class="form-comment">
                                    <span class="comment-span">دیدگاه خود را بنویسید</span>
                                    <span class="comment-span">* نشانی ایمیل شما منتشر نخواهد شد. بخش‌های موردنیاز علامت‌گذاری شده‌اند</span>
                                    <span class="comment-span">* دیدگاه شما</span>
                                    <p class="logged-in-as">وارد شده با نام <a href="https://mahak-charity.org/wp-admin/profile.php">محمد خاکساری</a>. <a href="https://mahak-charity.org/wp-login.php?action=logout&amp;redirect_to=https%3A%2F%2Fmahak-charity.org%2Factivity%2F&amp;_wpnonce=93df65e702" title="بیرون رفتن از حساب کاربری">بیرون رفتن؟</a></p><textarea id="comment" class="comment-textarea" name="comment" cols="45" rows="11" aria-required="true" placeholder="نظرتان را بنویسید"></textarea><button type="submit" id="submit" value="فرستادن دیدگاه" class="buttons comment-button">ثبت دیدگاه</button>
                                    <input type='hidden' name='comment_post_ID' value='167' id='comment_post_ID' />
                                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                </form>
                            </div>
                        </section>

                    </div>
                </div>
                <aside class="aside">
                    <div class="aside-block">

                        <!--   the box     -->
                        <div class="sidebar-box">
                            <div class="pay-title-block">
                                <h3 class="ptb-h3"> </h3>
                                <span class="ptb-des"><p style="text-align: justify;"><span style="font-size: 10.6667px;">شما هم سهمی در نجات کودکان محک داشته باشید</span></p></span>
                            </div>
                            <a href="https://mahak-charity.org/online-payment/" class="buttons index-pay-button">کمک آنلاین</a>
                        </div>

                        <a href="https://mahak-charity.org/my-account/" class="sidebar-box sb-icons sb-icons-card">
                            تشکیل پروفایل
                        </a>
                        <a href="tel: 02123540" class="sidebar-box sb-icons sb-icons-phone">
                            ۰۲۱-۲۳۵۴۰
                        </a>
                        <a href="https://mahak-charity.org/talk-to-mahak/" class="sidebar-box sb-icons sb-icons-talk">
                            میخواهم با محک گفتگو کنم
                        </a>
                        <a href="tel: *733*23540#" class="sidebar-box sb-icons sb-icons-ussd">
                            *۷۳۳*۲۳۵۴۰#
                        </a>
                    </div>
                </aside>
            </div>
        </div>
    </section>
</main>
