﻿@{
    ViewData["Title"] = "Introduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- Single -->
    <section class="single category-padding">
        <div class="container">
            <div class="flex-singel">
                <div class="right-single">
                    <div class="page-offset">
                        <!-- Breadcrumb -->
                        <div class="breadcrumb"><a href="https://mahak-charity.org">خانه</a> <i></i> <a href="https://mahak-charity.org/category/about/">آشنایی با محک</a> <i></i> <a href="https://mahak-charity.org/category/about/about-about/">درباره محک</a> <i></i> <span>بایگانی برای دسته بندی "در محک چه می گذرد؟"</span></div>                            <div class="single-page category-page">
                            <aside class="category-aside">
                                <h3 class="category-aside-h3">ارجاع های مرتبط:</h3>
                                <ul class="category-aside-ul">
                                    <li><a href="https://mahak-charity.org/category/about/about-about/news/news-mahak/">اخبار محک</a></li>
                                </ul>
                                <ul class="category-aside-ul">
                                    <li><a href="https://mahak-charity.org/newsletters/">خبرنامه محک</a></li>
                                </ul>
                                <ul class="category-aside-ul">
                                    <li><a href="https://mahak-charity.org/category/about/about-about/news/news-story/">داستانهای محک</a></li>
                                </ul>
                                <ul class="category-aside-ul">
                                    <li><a href="https://mahak-charity.org/category/about/about-about/news/news-report-image/">گزارش های تصویری</a></li>
                                </ul>
                            </aside>
                            <div class="category-block">
                                <article class="news-box">
                                    <a href="https://mahak-charity.org/%da%a9%d8%a7%d8%b4-%d8%ac%d9%88%d8%a7%d8%a8-%d8%a2%d8%b2%d9%85%d8%a7%db%8c%d8%b4%e2%80%8c%d8%a7%d8%b4-%d8%ae%d9%88%d8%a8-%d8%a8%d8%a7%d8%b4%d8%af/" class="news-img"><img width="263" height="142" src="https://mahak-charity.org/wp-content/uploads/2020/09/1654x600-03-263x142.jpg" class="attachment-263x142 size-263x142 wp-post-image" alt="" /><img src=https://mahak-charity.org/wp-content/themes/kalhors-mahak/images/no-img.jpg></a>
                                    <h2 class="news-h2"><a href="https://mahak-charity.org/%da%a9%d8%a7%d8%b4-%d8%ac%d9%88%d8%a7%d8%a8-%d8%a2%d8%b2%d9%85%d8%a7%db%8c%d8%b4%e2%80%8c%d8%a7%d8%b4-%d8%ae%d9%88%d8%a8-%d8%a8%d8%a7%d8%b4%d8%af/">کاش جواب آزمایش‌اش خوب باشد</a></h2>
                                    <ul class="news-ul">
                                        <li>۳ مهر ۹۹</li>
                                        <li>15 بازدید</li>
                                    </ul>
                                    <div class="news-des">
                                        <p>برگه آزمایش دخترش تارا را گرفت و باهم از آزمایشگاه محک بیرون آمدند. همانطور که دستش را گرفته بود و در راهروی بیمارستان راه می‌رفتند&#8230;</p>
                                    </div>
                                </article>
                                <article class="news-box">
                                    <a href="https://mahak-charity.org/%da%86%d8%b1%d8%a7%d8%ba-%d8%a8%d8%a7%d8%ba%da%86%d9%87%e2%80%8c%d8%a8%d8%a7%d9%86-%d9%86%d8%a8%d8%a7%db%8c%d8%af-%d8%ae%d8%a7%d9%85%d9%88%d8%b4-%d8%b4%d9%88%d8%af/" class="news-img"><img width="263" height="142" src="https://mahak-charity.org/wp-content/uploads/2020/09/1654x600-19-263x142.jpg" class="attachment-263x142 size-263x142 wp-post-image" alt="" /><img src=https://mahak-charity.org/wp-content/themes/kalhors-mahak/images/no-img.jpg></a>
                                    <h2 class="news-h2"><a href="https://mahak-charity.org/%da%86%d8%b1%d8%a7%d8%ba-%d8%a8%d8%a7%d8%ba%da%86%d9%87%e2%80%8c%d8%a8%d8%a7%d9%86-%d9%86%d8%a8%d8%a7%db%8c%d8%af-%d8%ae%d8%a7%d9%85%d9%88%d8%b4-%d8%b4%d9%88%d8%af/">چراغ باغچه‌بان نباید خاموش شود</a></h2>
                                    <ul class="news-ul">
                                        <li>۲ مهر ۹۹</li>
                                        <li>13 بازدید</li>
                                    </ul>
                                    <div class="news-des">
                                        <p>استان آذربایجان؛ شهر مرند؛ دبستان احمدیه؛ صد و یک سال پیش یکی از معلمان این مدرسه، تصمیمی گرفت که اسمش را برای ابد در تاریخ&#8230;</p>
                                    </div>
                                </article>
                                <article class="news-box">
                                    <a href="https://mahak-charity.org/%d8%a8%d8%b1%d8%ac-%d9%85%db%8c%d9%84%d8%a7%d8%af-%d8%a8%d9%87-%d8%ad%d9%85%d8%a7%db%8c%d8%aa-%d8%a7%d8%b2-%da%a9%d9%88%d8%af%da%a9%d8%a7%d9%86-%d9%85%d8%a8%d8%aa%d9%84%d8%a7-%d8%a8%d9%87-%d8%b3%d8%b1/" class="news-img"><img width="263" height="142" src="https://mahak-charity.org/wp-content/uploads/2020/09/1654x600-17-263x142.jpg" class="attachment-263x142 size-263x142 wp-post-image" alt="طلایی شدن برج میلاد" /><img src=https://mahak-charity.org/wp-content/themes/kalhors-mahak/images/no-img.jpg></a>
                                    <h2 class="news-h2"><a href="https://mahak-charity.org/%d8%a8%d8%b1%d8%ac-%d9%85%db%8c%d9%84%d8%a7%d8%af-%d8%a8%d9%87-%d8%ad%d9%85%d8%a7%db%8c%d8%aa-%d8%a7%d8%b2-%da%a9%d9%88%d8%af%da%a9%d8%a7%d9%86-%d9%85%d8%a8%d8%aa%d9%84%d8%a7-%d8%a8%d9%87-%d8%b3%d8%b1/">برج میلاد به حمایت از کودکان مبتلا به سرطان طلایی شد</a></h2>
                                    <ul class="news-ul">
                                        <li>۲ مهر ۹۹</li>
                                        <li>23 بازدید</li>
                                    </ul>
                                    <div class="news-des">
                                        <p>نماد شهر تهران به دعوت محک به یک اقدام جهانی همراه با ۶ برج معروف پیوست: برج میلاد به حمایت از کودکان مبتلا به سرطان&#8230;</p>
                                    </div>
                                </article>
                                <article class="news-box">
                                    <a href="https://mahak-charity.org/%d8%a8%d9%87-%d8%a7%d9%85%db%8c%d8%af-%d9%85%d9%87%d8%b1%db%8c-%d9%be%d8%b1-%d8%a7%d8%b2-%d8%b3%d9%84%d8%a7%d9%85%d8%aa%db%8c/" class="news-img"><img width="263" height="142" src="https://mahak-charity.org/wp-content/uploads/2020/09/1654-263x142.jpg" class="attachment-263x142 size-263x142 wp-post-image" alt="" /><img src=https://mahak-charity.org/wp-content/themes/kalhors-mahak/images/no-img.jpg></a>
                                    <h2 class="news-h2"><a href="https://mahak-charity.org/%d8%a8%d9%87-%d8%a7%d9%85%db%8c%d8%af-%d9%85%d9%87%d8%b1%db%8c-%d9%be%d8%b1-%d8%a7%d8%b2-%d8%b3%d9%84%d8%a7%d9%85%d8%aa%db%8c/">به امید مهری پر از سلامتی</a></h2>
                                    <ul class="news-ul">
                                        <li>۳۱ شهریور ۹۹</li>
                                        <li>20 بازدید</li>
                                    </ul>
                                    <div class="news-des">
                                        <p>آغاز مهر همواره برای همه یادآور بوی پاییز، بوی کاغذ نوی کتاب‌ها و نشستن پشت میزهای مدرسه بوده است. اما امسال بسیاری از روال‌های زندگی‌&#8230;</p>
                                    </div>
                                </article>
                                <article class="news-box">
                                    <a href="https://mahak-charity.org/%da%a9%d8%b3%db%8c-%d9%85%db%8c%e2%80%8c%d8%af%d8%a7%d9%86%d8%af-%da%86%d8%b1%d8%a7-%d8%a8%d8%b1%d8%ac-%d9%85%db%8c%d9%84%d8%a7%d8%af-%d8%b7%d9%84%d8%a7%db%8c%db%8c-%d8%b4%d8%af%d9%87-%d8%a7%d8%b3/" class="news-img"><img width="263" height="142" src="https://mahak-charity.org/wp-content/uploads/2020/09/1654x600-17-263x142.jpg" class="attachment-263x142 size-263x142 wp-post-image" alt="طلایی شدن برج میلاد" /><img src=https://mahak-charity.org/wp-content/themes/kalhors-mahak/images/no-img.jpg></a>
                                    <h2 class="news-h2"><a href="https://mahak-charity.org/%da%a9%d8%b3%db%8c-%d9%85%db%8c%e2%80%8c%d8%af%d8%a7%d9%86%d8%af-%da%86%d8%b1%d8%a7-%d8%a8%d8%b1%d8%ac-%d9%85%db%8c%d9%84%d8%a7%d8%af-%d8%b7%d9%84%d8%a7%db%8c%db%8c-%d8%b4%d8%af%d9%87-%d8%a7%d8%b3/">کسی می‌داند چرا برج میلاد طلایی شده است؟</a></h2>
                                    <ul class="news-ul">
                                        <li>۳۰ شهریور ۹۹</li>
                                        <li>20 بازدید</li>
                                    </ul>
                                    <div class="news-des">
                                        <p>آیا در این چند شب از نزدیک برج میلاد عبور کرده‌اید؟ آیا به رنگ آن دقت کرده‌اید؟ آیا از خود پرسیده‌اید که دلیل تغییر رنگ&#8230;</p>
                                    </div>
                                </article>
                                <article class="news-box">
                                    <a href="https://mahak-charity.org/%d8%b9%da%a9%d8%b3-%d8%a8%d8%b1%d8%a7%d8%af%d8%b1%d9%85-%d8%b1%d9%88-%d8%a8%d8%a8%db%8c%d9%86%d9%85-%d8%aa%d8%a7-%da%a9%d9%85%d8%aa%d8%b1-%d8%af%d9%84%d9%85-%d8%a8%d8%b1%d8%a7%d8%b4-%d8%aa%d9%86%da%af/" class="news-img"><img width="263" height="142" src="https://mahak-charity.org/wp-content/uploads/2020/09/1654x600-02-1-263x142.jpg" class="attachment-263x142 size-263x142 wp-post-image" alt="کودک سرطانی" /><img src=https://mahak-charity.org/wp-content/themes/kalhors-mahak/images/no-img.jpg></a>
                                    <h2 class="news-h2"><a href="https://mahak-charity.org/%d8%b9%da%a9%d8%b3-%d8%a8%d8%b1%d8%a7%d8%af%d8%b1%d9%85-%d8%b1%d9%88-%d8%a8%d8%a8%db%8c%d9%86%d9%85-%d8%aa%d8%a7-%da%a9%d9%85%d8%aa%d8%b1-%d8%af%d9%84%d9%85-%d8%a8%d8%b1%d8%a7%d8%b4-%d8%aa%d9%86%da%af/">عکس برادرم را ببینم تا کمتر دلم برای او تنگ شود</a></h2>
                                    <ul class="news-ul">
                                        <li>۲۹ شهریور ۹۹</li>
                                        <li>28 بازدید</li>
                                    </ul>
                                    <div class="news-des">
                                        <p>با مادرش آمده بود عکس‌هایش را بگیرد. پسر آرامی بود اما کاملاً معلوم بود برای دیدن یک عکس خیلی ذوق دارد. کنار پرینتر منتظر بود&#8230;</p>
                                    </div>
                                </article>
                                <article class="news-box">
                                    <a href="https://mahak-charity.org/%d9%84%d8%a7%d9%84%d8%a7%db%8c%db%8c-%d9%be%d8%b1%d8%ba%d8%b5%d9%87/" class="news-img"><img width="263" height="142" src="https://mahak-charity.org/wp-content/uploads/2020/09/1600408408348_1654x450-263x142.jpg" class="attachment-263x142 size-263x142 wp-post-image" alt="کودک مبتلا به سرطان" /><img src=https://mahak-charity.org/wp-content/themes/kalhors-mahak/images/no-img.jpg></a>
                                    <h2 class="news-h2"><a href="https://mahak-charity.org/%d9%84%d8%a7%d9%84%d8%a7%db%8c%db%8c-%d9%be%d8%b1%d8%ba%d8%b5%d9%87/">لالایی پرغصه</a></h2>
                                    <ul class="news-ul">
                                        <li>۲۸ شهریور ۹۹</li>
                                        <li>34 بازدید</li>
                                    </ul>
                                    <div class="news-des">
                                        <p>«لالا لالا لالا لالا لالايي&#8230; سيه چشم و گلم، لالا لالايي&#8230; شایانم با نوازش و صدای لالاییم به خواب رفته اما لالایی خوندن من تموم&#8230;</p>
                                    </div>
                                </article>
                                <article class="news-box">
                                    <a href="https://mahak-charity.org/%d8%af%d9%88%d8%b3%d8%aa-%d8%af%d8%a7%d8%b1%d9%85-%d8%b1%d9%88%d8%b2%db%8c-%d8%b1%d8%a7-%d8%a8%d8%a8%db%8c%d9%86%d9%85-%da%a9%d9%87-%d8%af%d8%ae%d8%aa%d8%b1%d9%85-%d9%85%d8%a7%d8%af%d8%b1-%d8%b4-2/" class="news-img"><img width="263" height="142" src="https://mahak-charity.org/wp-content/uploads/2020/09/1654x600-01-2-263x142.jpg" class="attachment-263x142 size-263x142 wp-post-image" alt="کودک مبتلا به سرطان" /><img src=https://mahak-charity.org/wp-content/themes/kalhors-mahak/images/no-img.jpg></a>
                                    <h2 class="news-h2"><a href="https://mahak-charity.org/%d8%af%d9%88%d8%b3%d8%aa-%d8%af%d8%a7%d8%b1%d9%85-%d8%b1%d9%88%d8%b2%db%8c-%d8%b1%d8%a7-%d8%a8%d8%a8%db%8c%d9%86%d9%85-%da%a9%d9%87-%d8%af%d8%ae%d8%aa%d8%b1%d9%85-%d9%85%d8%a7%d8%af%d8%b1-%d8%b4-2/">دوست دارم روزی را ببینم که دخترم مادر شده</a></h2>
                                    <ul class="news-ul">
                                        <li>۲۷ شهریور ۹۹</li>
                                        <li>31 بازدید</li>
                                    </ul>
                                    <div class="news-des">
                                        <p>« زمانی که دختری کوچک بودم، عروسک‌هایم را دور خودم جمع می‌کردم، مامان می‌شدم و دست‌هایم برای بخشیدن عشق مادرانه پر از انگیزه بود. بزرگ‌تر&#8230;</p>
                                    </div>
                                </article>
                                <article class="news-box">
                                    <a href="https://mahak-charity.org/%d8%a7%d9%87%d9%85%db%8c%d8%aa-%d8%aa%d8%af%d8%a7%d9%88%d9%85-%d8%a7%d8%b1%d8%a7%d8%a6%d9%87-%d8%ae%d8%af%d9%85%d8%a7%d8%aa-%d8%af%d8%b1%d9%85%d8%a7%d9%86%db%8c-%d8%a8%d9%87-%da%a9%d9%88%d8%af%da%a9/" class="news-img"><img width="263" height="142" src="https://mahak-charity.org/wp-content/uploads/2020/09/1654x600-16-263x142.jpg" class="attachment-263x142 size-263x142 wp-post-image" alt="" /><img src=https://mahak-charity.org/wp-content/themes/kalhors-mahak/images/no-img.jpg></a>
                                    <h2 class="news-h2"><a href="https://mahak-charity.org/%d8%a7%d9%87%d9%85%db%8c%d8%aa-%d8%aa%d8%af%d8%a7%d9%88%d9%85-%d8%a7%d8%b1%d8%a7%d8%a6%d9%87-%d8%ae%d8%af%d9%85%d8%a7%d8%aa-%d8%af%d8%b1%d9%85%d8%a7%d9%86%db%8c-%d8%a8%d9%87-%da%a9%d9%88%d8%af%da%a9/">اهمیت تداوم ارائه خدمات درمانی به کودکان مبتلا به سرطان با رعایت پروتکل‌های بهداشتی در زمان پاندمی کرونا</a></h2>
                                    <ul class="news-ul">
                                        <li>۲۵ شهریور ۹۹</li>
                                        <li>41 بازدید</li>
                                    </ul>
                                    <div class="news-des">
                                        <p>معاون مدیرعامل در درمان بیمارستان «محک»؛ اهمیت تداوم ارائه خدمات درمانی به کودکان مبتلا به سرطان با رعایت پروتکل‌های بهداشتی در زمان پاندمی کرونا امروز،&#8230;</p>
                                    </div>
                                </article>
                                <article class="news-box">
                                    <a href="https://mahak-charity.org/%d8%a8%d8%b1%d8%a7%db%8c-%d8%af%d8%ae%d8%aa%d8%b1-%d9%85%d9%86-%d9%87%d9%85-%d8%af%d8%b9%d8%a7-%da%a9%d9%86/" class="news-img"><img width="263" height="142" src="https://mahak-charity.org/wp-content/uploads/2020/09/1654x600-15-263x142.jpg" class="attachment-263x142 size-263x142 wp-post-image" alt="" /><img src=https://mahak-charity.org/wp-content/themes/kalhors-mahak/images/no-img.jpg></a>
                                    <h2 class="news-h2"><a href="https://mahak-charity.org/%d8%a8%d8%b1%d8%a7%db%8c-%d8%af%d8%ae%d8%aa%d8%b1-%d9%85%d9%86-%d9%87%d9%85-%d8%af%d8%b9%d8%a7-%da%a9%d9%86/">برای دختر من هم دعا کن</a></h2>
                                    <ul class="news-ul">
                                        <li>۲۴ شهریور ۹۹</li>
                                        <li>42 بازدید</li>
                                    </ul>
                                    <div class="news-des">
                                        <p>داخل نمازخانه بیمارستان محک نشسته بود تا چند لحظه‌ای خلوت کند و آرام شود. زمانی که داشت برای دختر دو ساله‌ا‌ش دعا می‌کرد، دختر نوجوانی&#8230;</p>
                                    </div>
                                </article>
                            </div>
                            <ul class='niwanta-pagination'><li class='active'>1</li><li><a href='https://mahak-charity.org/category/about/about-about/news/page/2/'>2</a></li><li><a href='https://mahak-charity.org/category/about/about-about/news/page/3/'>3</a></li><li><a href='https://mahak-charity.org/category/about/about-about/news/page/4/'>4</a></li><li><a href='https://mahak-charity.org/category/about/about-about/news/page/2/'><span></span></a></li></ul>
                        </div>
                    </div>
                </div>
                <aside class="aside">
                    <div class="aside-block">

                        <!--   the box     -->
                        <div class="sidebar-box">
                            <div class="pay-title-block">
                                <h3 class="ptb-h3"> </h3>
                                <span class="ptb-des"><p style="text-align: justify;"><span style="font-size: 10.6667px;">شما هم سهمی در نجات کودکان محک داشته باشید</span></p></span>
                            </div>
                            <a href="https://mahak-charity.org/online-payment/" class="buttons index-pay-button">کمک آنلاین</a>
                        </div>

                        <a href="https://mahak-charity.org/my-account/" class="sidebar-box sb-icons sb-icons-card">
                            تشکیل پروفایل
                        </a>
                        <a href="tel: 02123540" class="sidebar-box sb-icons sb-icons-phone">
                            ۰۲۱-۲۳۵۴۰
                        </a>
                        <a href="https://mahak-charity.org/talk-to-mahak/" class="sidebar-box sb-icons sb-icons-talk">
                            میخواهم با محک گفتگو کنم
                        </a>
                        <a href="tel: *733*23540#" class="sidebar-box sb-icons sb-icons-ussd">
                            *۷۳۳*۲۳۵۴۰#
                        </a>
                    </div>
                </aside>
            </div>

        </div>
    </section>
</main>
