﻿@{
    ViewData["Title"] = "Introduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- Single -->
    <section class="single">
        <div class="container">
            <div class="flex-singel">
                <div class="right-single">
                    <div class="page-offset">

                        <!-- Breadcrumb -->
                        <div class="breadcrumb">
                            <a href="https://mahak-charity.org/wp-content/themes/kalhors-mahak">خانه</a>
                            <i></i> <a href="#"> آشنایی با محک</a>
                            <i></i> <a href="#"> درباره محک</a>
                            <i></i> <span>تاریخچه و نحوه تأسیس</span>
                        </div>

                        <article class="single-page">
                            <div class="single-img"><img width="745" height="181" src="https://mahak-charity.org/wp-content/uploads/2020/02/header13.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://mahak-charity.org/wp-content/uploads/2020/02/header13.jpg 745w, https://mahak-charity.org/wp-content/uploads/2020/02/header13-600x146.jpg 600w" sizes="(max-width: 745px) 100vw, 745px" /></div>
                            <h1 class="single-h1">تاریخچه و نحوه تأسیس</h1>
                            <ul class="singel-des">
                                <li>۲۸ بهمن ۹۸</li>
                                <li>7654 بازدید</li>
                                <li>4 دیدگاه</li>
                            </ul>
                            <div class="single-content">
                                <div>موسسه خیریه حمایت از کودکان مبتلا به سرطان با نام اختصاری محک در سال ۱۳۷۰ با شماره ۶۵۶۷ به ثبت رسید.</div>
                                <div>ایده اولیه تاسیس محک توسط سعیده قدس (بنیان‌گذار محک) با آگاهی از مشکلات کودکان مبتلا به سرطان به واسطه بیماری فرزندش صورت گرفت. از همان ابتدا با گردهم آمدن گروهی از خیران داوطلب فعالیت محک در بیمارستان‌های دولتی دانشگاهی انجام می‌گرفت. همزمان با فعالیت‌های مددکاری در بیمارستان‌های دولتی و دانشگاهی مقدمات ثبت محک از سال ۶۸ آغاز شد. بنیانگذاران اولیه براین باور بودند که یک موسسه نمی‌تواند تنها با اتکا به شخص و یا گروه محدودی از یاواران این راه را طی کند بنابراین در سال ۱۳۷۰ محک به ثبت رسید تا از امکانات خیرخواهانه گروه وسیع‌تری برای حمایت همه جانبه از کودکان مبتلا به سرطان بهره گیرد و دامنه حمایت های خود را در سطح ایران گسترش دهد.</div>
                                <div>نام اختصاری محک برگرفته از نوع فعالیت این موسسه می‌باشد (موسسه حمایت از کودکان مبتلا به سرطان) و لوگوی محک طرح برگ است که نماد حیات و زندگی است و برروی آن کودک و خانواده‌اش امیدوارانه ایستاده‌اند.</div>
                                <div>محک از همان ابتدا با جلب کمک‌های مردمی و نیت خیرخواهانه مردم و فعالیت‌های داوطلبانه اداره می‌گردید. برگزاری بازارها، توزیع قلک و عضویت درجمع یاوران محک از روش‌های جلب کمک‌های مردمی در محک بوده است. موسسه &#8220;محک&#8221; توانست ظرف کمتر از یک دهه با بهره‌گیری از اعتماد و حمایت‌های آحاد مردم و سخت کوشی اعضاء داوطلب و اعمال روش‌های علمی و تخصصی در مراقبت‌های ویژه از بیماران و خانواده‌های آنان در کنار پیشرفت‌های علم پزشکی آمار بهبود را تحت تاثیر قرار دهد.</div>
                                <div>محک همواره با هدف حفظ منزلت انسانی کودکان مبتلا به سرطان و خانواده‌ها در تلاش است که آنان شادمانه و امیدوارانه مراحل درمان را طی کنند و خانواده تنها به سلامت کودک خود بیاندیشد.</div>
                                <div>محک:</div>
                                <div>فعالیت محک، انجام امور خیریه در زمینه‌های پزشکی، پژوهشی، پیشگیری، درمانی، خدماتی، بهداشتی، بیمارستانی، رفاهی و صرفا در جهت حمایت از کودکان مبتلا به سرطان می‌باشد. محک تبلوری از ایفایی نقش مشارکت مردمی در جامعه است که در بخش اول اساسی‌ترین شعار محک یعنی ” ما را یاری دهید و از ما یاری بخواهید ” بر آن تصریح شده است.</div>
                                <div>می‌توان این فعالیت‌های را به سه بخش خیریه – درمان- تحقیقات تقسیم کرد.</div>
                                <div>محک در بخش خیریه با کمک‌های مردمی توانسته تا پایان سال ۹۷ بیش از ۳۲۰۰۰ کودک مبتلا به سرطان و خانواده‌هایشان را تحت حمایت همه جانبه قرار دهد. در بخش درمان با بهره‌گیری از پزشکان برجسته و متبحر در بیمارستان فوق تخصصی محک پروتکل‌های درمانی را برای کودکان تعیین می‌نماید و همچنین مشاوره‌های درمانی نیز ارائه می‌دهند. در بخش تحقیقات نیز با موسسات مشابه تحقیقاتی داخلی و خارجی (انستیو گوستاوروسی فرانسه &#8211; موسسه تحقیقاتی رویان &#8211; موسسه تحقیقاتی ابن سینا &#8211; انستیتو کانسر تهران) فعالیت می‌کند.</div>
                                <div></div>
                                <div class="product-gallery-block single-gallery">
                                    <div class="product-gallery">
                                        <div data-thumb="https://mahak-charity.org/wp-content/uploads/2020/02/18-6e62710b75-1.jpg" data-src="https://mahak-charity.org/wp-content/uploads/2020/02/18-6e62710b75-1.jpg">
                                            <img src="https://mahak-charity.org/wp-content/uploads/2020/02/18-6e62710b75-1.jpg" alt="اولین قلک محک">
                                        </div>
                                        <div data-thumb="https://mahak-charity.org/wp-content/uploads/2020/02/9-ac5b87663a.jpg" data-src="https://mahak-charity.org/wp-content/uploads/2020/02/9-ac5b87663a.jpg">
                                            <img src="https://mahak-charity.org/wp-content/uploads/2020/02/9-ac5b87663a.jpg" alt="جشن تولد کودکان محک- بیمارستان علی اصغر- 1377">
                                        </div>
                                        <div data-thumb="https://mahak-charity.org/wp-content/uploads/2020/02/10-a2b00ac548-1.jpg" data-src="https://mahak-charity.org/wp-content/uploads/2020/02/10-a2b00ac548-1.jpg">
                                            <img src="https://mahak-charity.org/wp-content/uploads/2020/02/10-a2b00ac548-1.jpg" alt="جشن کودکان محک، بیمارستان بهرامی- 1378">
                                        </div>
                                        <div data-thumb="https://mahak-charity.org/wp-content/uploads/2020/02/12-8f1eb5cb15-1.jpg" data-src="https://mahak-charity.org/wp-content/uploads/2020/02/12-8f1eb5cb15-1.jpg">
                                            <img src="https://mahak-charity.org/wp-content/uploads/2020/02/12-8f1eb5cb15-1.jpg" alt="جشن قلک شکان محک- 1378">
                                        </div>
                                        <div data-thumb="https://mahak-charity.org/wp-content/uploads/2020/02/11-5ff7876f2c-1.jpg" data-src="https://mahak-charity.org/wp-content/uploads/2020/02/11-5ff7876f2c-1.jpg">
                                            <img src="https://mahak-charity.org/wp-content/uploads/2020/02/11-5ff7876f2c-1.jpg" alt="جشن چهارشنبه‌سوری محک- 1378">
                                        </div>
                                        <div data-thumb="https://mahak-charity.org/wp-content/uploads/2020/02/3-5dac305fcb-1.jpg" data-src="https://mahak-charity.org/wp-content/uploads/2020/02/3-5dac305fcb-1.jpg">
                                            <img src="https://mahak-charity.org/wp-content/uploads/2020/02/3-5dac305fcb-1.jpg" alt="کودک تحت حمایت محک-بیمارستان علی اصغر- 1379">
                                        </div>
                                        <div data-thumb="https://mahak-charity.org/wp-content/uploads/2020/02/4-cdfc9b98db-1.jpg" data-src="https://mahak-charity.org/wp-content/uploads/2020/02/4-cdfc9b98db-1.jpg">
                                            <img src="https://mahak-charity.org/wp-content/uploads/2020/02/4-cdfc9b98db-1.jpg" alt="کودکان محک در حیاط بیمارستان علی اصغر- 1379">
                                        </div>
                                        <div data-thumb="https://mahak-charity.org/wp-content/uploads/2020/02/5-75a715bf65-1.jpg" data-src="https://mahak-charity.org/wp-content/uploads/2020/02/5-75a715bf65-1.jpg">
                                            <img src="https://mahak-charity.org/wp-content/uploads/2020/02/5-75a715bf65-1.jpg" alt="کودکان و مددکاران محک در جشن هفته سرطان-مهر ماه 1379">
                                        </div>
                                        <div data-thumb="https://mahak-charity.org/wp-content/uploads/2020/02/2-53989b67bc-1.jpg" data-src="https://mahak-charity.org/wp-content/uploads/2020/02/2-53989b67bc-1.jpg">
                                            <img src="https://mahak-charity.org/wp-content/uploads/2020/02/2-53989b67bc-1.jpg" alt="کودک تحت حمایت محک-بیمارستان علی اصغر- 1379">
                                        </div>
                                        <div data-thumb="https://mahak-charity.org/wp-content/uploads/2020/02/16-e4f2e04843-1.jpg" data-src="https://mahak-charity.org/wp-content/uploads/2020/02/16-e4f2e04843-1.jpg">
                                            <img src="https://mahak-charity.org/wp-content/uploads/2020/02/16-e4f2e04843-1.jpg" alt="بازارچه کتاب محک با حضور هنرمندان-1379">
                                        </div>
                                        <div data-thumb="https://mahak-charity.org/wp-content/uploads/2020/02/1-4a9f8b937a-1.jpg" data-src="https://mahak-charity.org/wp-content/uploads/2020/02/1-4a9f8b937a-1.jpg">
                                            <img src="https://mahak-charity.org/wp-content/uploads/2020/02/1-4a9f8b937a-1.jpg" alt="مددکاران و کودکان محک-بیمارستان علی اصغر-1379">
                                        </div>
                                        <div data-thumb="https://mahak-charity.org/wp-content/uploads/2020/02/17-658ddf9462-1.jpg" data-src="https://mahak-charity.org/wp-content/uploads/2020/02/17-658ddf9462-1.jpg">
                                            <img src="https://mahak-charity.org/wp-content/uploads/2020/02/17-658ddf9462-1.jpg" alt="ساختمان بیمارستان محک در حال ساخت- 1380">
                                        </div>
                                        <div data-thumb="https://mahak-charity.org/wp-content/uploads/2020/02/8-1d8d894299-1.jpg" data-src="https://mahak-charity.org/wp-content/uploads/2020/02/8-1d8d894299-1.jpg">
                                            <img src="https://mahak-charity.org/wp-content/uploads/2020/02/8-1d8d894299-1.jpg" alt="جشن قلک شکان، باشگاه انقلاب-1380">
                                        </div>
                                        <div data-thumb="https://mahak-charity.org/wp-content/uploads/2020/02/6-5fa988d173-1.jpg" data-src="https://mahak-charity.org/wp-content/uploads/2020/02/6-5fa988d173-1.jpg">
                                            <img src="https://mahak-charity.org/wp-content/uploads/2020/02/6-5fa988d173-1.jpg" alt="جشن قلک شکان، باشگاه انقلاب-1380">
                                        </div>
                                        <div data-thumb="https://mahak-charity.org/wp-content/uploads/2020/02/13-6948d694ba-1.jpg" data-src="https://mahak-charity.org/wp-content/uploads/2020/02/13-6948d694ba-1.jpg">
                                            <img src="https://mahak-charity.org/wp-content/uploads/2020/02/13-6948d694ba-1.jpg" alt="شب یلدا در بیمارستان محک- 1383">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <h3 class="single-h3">دیدگاه‌ها</h3>
                        <section class="single-page margin-bottom-0">
                            <ol class="commentlist">
                                <li class="comment byuser comment-author-09354543158 even thread-even depth-1" id="li-comment-2507">
                                    <div class="comment-block">
                                        <div class="comment">
                                            <article id="comment-2507" class="comment">
                                                <div class="avatar">
                                                    <img alt='' src='https://secure.gravatar.com/avatar/22887888f05be0b92e4192d04c19c024?s=45&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/22887888f05be0b92e4192d04c19c024?s=90&#038;d=mm&#038;r=g 2x' class='avatar avatar-45 photo' height='45' width='45' />
                                                </div>

                                                <div class="comment-content">
                                                    <a rel='nofollow' class='comment-reply-link' href='#comment-2507' data-commentid="2507" data-postid="163" data-belowelement="comment-2507" data-respondelement="respond" aria-label='پاسخ به محمد عبدالهی'>پاسخ</a>											<div class="comment-title-block">
                                                        <span class="comment-name">محمد عبدالهی</span>												<span class="comment-date">6 ماه پیش</span>
                                                    </div>
                                                    <div class="comment-text">
                                                        <p>عالی موفق باشید</p>
                                                    </div>
                                                </div>
                                    </article>
                                        </div>
                                    </div>
                                </li><!-- #comment-## -->
                                <li class="comment odd alt thread-odd thread-alt depth-1" id="li-comment-2549">
                                    <div class="comment-block">
                                        <div class="comment">
                                            <article id="comment-2549" class="comment">
                                                <div class="avatar">
                                                    <img alt='' src='https://secure.gravatar.com/avatar/93872d6e6e72b9d3bee1a7057aa28df6?s=45&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/93872d6e6e72b9d3bee1a7057aa28df6?s=90&#038;d=mm&#038;r=g 2x' class='avatar avatar-45 photo' height='45' width='45' />
                                                </div>

                                                <div class="comment-content">
                                                    <a rel='nofollow' class='comment-reply-link' href='#comment-2549' data-commentid="2549" data-postid="163" data-belowelement="comment-2549" data-respondelement="respond" aria-label='پاسخ به فائزه تست'>پاسخ</a>											<div class="comment-title-block">
                                                        <span class="comment-name">فائزه تست</span>												<span class="comment-date">6 ماه پیش</span>
                                                    </div>
                                                    <div class="comment-text">
                                                        <p>محک بی نظیره</p>
                                                    </div>
                                                </div>
                                    </article>
                                        </div>
                                    </div>
                                </li><!-- #comment-## -->
                                <li class="comment byuser comment-author-09380247661 even thread-even depth-1" id="li-comment-2843">
                                    <div class="comment-block">
                                        <div class="comment">
                                            <article id="comment-2843" class="comment">
                                                <div class="avatar">
                                                    <img alt='' src='https://secure.gravatar.com/avatar/?s=45&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/?s=90&#038;d=mm&#038;r=g 2x' class='avatar avatar-45 photo avatar-default' height='45' width='45' />
                                                </div>

                                                <div class="comment-content">
                                                    <a rel='nofollow' class='comment-reply-link' href='#comment-2843' data-commentid="2843" data-postid="163" data-belowelement="comment-2843" data-respondelement="respond" aria-label='پاسخ به هادی الیاسی'>پاسخ</a>											<div class="comment-title-block">
                                                        <span class="comment-name">هادی الیاسی</span>												<span class="comment-date">5 ماه پیش</span>
                                                    </div>
                                                    <div class="comment-text">
                                                        <p>
                                                            زندگی،  راز بزرگی است که در ما جاریست<br />
                                                            زندگی فاصله آمدن و رفتن ماست
                                                        </p>
                                                    </div>
                                                </div>
                                    </article>
                                        </div>
                                    </div>
                                </li><!-- #comment-## -->
                                <li class="comment byuser comment-author-09125401557 odd alt thread-odd thread-alt depth-1" id="li-comment-3215">
                                    <div class="comment-block">
                                        <div class="comment">
                                            <article id="comment-3215" class="comment">
                                                <div class="avatar">
                                                    <img alt='' src='https://secure.gravatar.com/avatar/?s=45&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/?s=90&#038;d=mm&#038;r=g 2x' class='avatar avatar-45 photo avatar-default' height='45' width='45' />
                                                </div>

                                                <div class="comment-content">
                                                    <a rel='nofollow' class='comment-reply-link' href='#comment-3215' data-commentid="3215" data-postid="163" data-belowelement="comment-3215" data-respondelement="respond" aria-label='پاسخ به محمد فرنام موحد'>پاسخ</a>											<div class="comment-title-block">
                                                        <span class="comment-name">محمد فرنام موحد</span>												<span class="comment-date">5 ماه پیش</span>
                                                    </div>
                                                    <div class="comment-text">
                                                        <p>خیلی خوبه ک مطمئنم میزسه دست کسی ک واقعا بهش احتیاج داره</p>
                                                    </div>
                                                </div>
                                    </article>
                                        </div>
                                    </div>
                                </li><!-- #comment-## -->
                            </ol>
                            <div id="respond">
                                <h3 id="reply-title"> <small><a rel="nofollow" id="cancel-comment-reply-link" href="/history/#respond" style="display:none;">لغو پاسخ</a></small></h3>
                                <form action="https://mahak-charity.org/wp-comments-post.php" method="post" id="commentform" class="form-comment">
                                    <span class="comment-span">دیدگاه خود را بنویسید</span>
                                    <span class="comment-span">* نشانی ایمیل شما منتشر نخواهد شد. بخش‌های موردنیاز علامت‌گذاری شده‌اند</span>
                                    <span class="comment-span">* دیدگاه شما</span>
                                    <p class="logged-in-as">وارد شده با نام <a href="https://mahak-charity.org/wp-admin/profile.php">محمد خاکساری</a>. <a href="https://mahak-charity.org/wp-login.php?action=logout&amp;redirect_to=https%3A%2F%2Fmahak-charity.org%2Fhistory%2F&amp;_wpnonce=93df65e702" title="بیرون رفتن از حساب کاربری">بیرون رفتن؟</a></p><textarea id="comment" class="comment-textarea" name="comment" cols="45" rows="11" aria-required="true" placeholder="نظرتان را بنویسید"></textarea><button type="submit" id="submit" value="فرستادن دیدگاه" class="buttons comment-button">ثبت دیدگاه</button>
                                    <input type='hidden' name='comment_post_ID' value='163' id='comment_post_ID' />
                                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                </form>
                            </div>
                        </section>

                    </div>
                </div>
                <aside class="aside">
                    <div class="aside-block">

                        <!--   the box     -->
                        <div class="sidebar-box">
                            <div class="pay-title-block">
                                <h3 class="ptb-h3"> </h3>
                                <span class="ptb-des"><p style="text-align: justify;"><span style="font-size: 10.6667px;">شما هم سهمی در نجات کودکان محک داشته باشید</span></p></span>
                            </div>
                            <a href="https://mahak-charity.org/online-payment/" class="buttons index-pay-button">کمک آنلاین</a>
                        </div>

                        <a href="https://mahak-charity.org/my-account/" class="sidebar-box sb-icons sb-icons-card">
                            تشکیل پروفایل
                        </a>
                        <a href="tel: 02123540" class="sidebar-box sb-icons sb-icons-phone">
                            ۰۲۱-۲۳۵۴۰
                        </a>
                        <a href="https://mahak-charity.org/talk-to-mahak/" class="sidebar-box sb-icons sb-icons-talk">
                            میخواهم با محک گفتگو کنم
                        </a>
                        <a href="tel: *733*23540#" class="sidebar-box sb-icons sb-icons-ussd">
                            *۷۳۳*۲۳۵۴۰#
                        </a>
                    </div>
                </aside>
            </div>
        </div>
    </section>
</main>
