﻿@{
    ViewData["Title"] = "Introduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- Single -->
    <section class="single">
        <div class="container">
            <div class="flex-singel">
                <div class="right-single">
                    <div class="page-offset">

                        <!-- Breadcrumb -->
                        <div class="breadcrumb">
                            <a href="https://mahak-charity.org/wp-content/themes/kalhors-mahak">خانه</a>
                            <i></i> <a href="#"> آشنایی با محک</a>
                            <i></i> <a href="#"> درباره محک</a>
                            <i></i> <span>محک از دیدگاه بین الملل</span>
                        </div>

                        <article class="single-page">
                            <aside class="category-aside">
                                <h3 class="category-aside-h3">مطالب بیشتر:</h3>
                                <ul class="category-aside-ul">
                                    <li><a href="https://mahak-charity.org/international-awards/">استانداردها و جوایز بین المللی</a></li>
                                    <li><a href="https://mahak-charity.org/collaboration-and-research/">همکاری و تحقیقات در عرصه بین الملل</a></li>
                                </ul>
                            </aside>
                            <div class="category-block">
                                <div class="single-img"><img width="724" height="175" src="https://mahak-charity.org/wp-content/uploads/2020/02/mahak-azdidgahe-benolmelal.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://mahak-charity.org/wp-content/uploads/2020/02/mahak-azdidgahe-benolmelal.jpg 724w, https://mahak-charity.org/wp-content/uploads/2020/02/mahak-azdidgahe-benolmelal-600x145.jpg 600w" sizes="(max-width: 724px) 100vw, 724px" /></div>
                                <h1 class="single-h1">محک از دیدگاه بین الملل</h1>
                                <ul class="singel-des">
                                    <li>۲۸ بهمن ۹۸</li>
                                    <li>1928 بازدید</li>
                                    <li>0 دیدگاه</li>
                                </ul>
                                <div class="single-content">
                                    <p><img class="alignright size-full wp-image-698" src="https://mahak-charity.org//wp-content/uploads/2020/02/mahakk.jpg" alt="" width="280" height="210" />محک سازمانی است که با انگیزه والای کمک به همنوع توجه خود را به بیماری سرطان کودکان نه تنها در سطح ملی بلکه در سطح بین المللی نیز معطوف کرده است. فعالیت های بین المللی محک که از طریق بخش روابط بین الملل انجام می شود شامل شرکت در جلسات ارگان های جهانی نظیر شورای اقتصادی و اجتماعی سازمان ملل متحد (به عنوان عضو مشورتی)، همکاری با بخش روابط بین الملل سازمان ملل متحد و عضویت در کمیساریای عالی ملل متحد برای پناهدگان و ارتباط با بانک توسعه اسلامی می باشد.</p>
                                    <p>همچنین برقراری ارتباط و تبادل اطلاعات با سازمان های مشابه محک که در سطح بین الملل در امر سلامت کودکان خصوصا سرطان فعالبت می کنند.</p>
                                    <p>در مجموع همه فعالیت های بین المللی محک از طریق بخش روابط بین الملل موسسه انجام می شود.این فعالیت ها شامل :</p>
                                    <p>
                                        ۱- شرکت در نشستها و جلسات سازمانهای بین المللی نظیر شورای اقتصادی &#8211; اجتماعی سازمان ملل متحد (دارای مقام مشورتی)، بخش اطلاع رسانی عمومی سازمان ملل متحد (DPI)، کمیساریای عالی ملل پناهندگان (UNHCR) و بانک توسعه اسلامی IDB)) می باشد.<br />
                                        ۲- فعالیتهای مربوط به جذب کمکهای بین المللی<br />
                                        ۳- همکاری های پژوهشی در سطح بین الملل<br />
                                        ۴- برگزاری مراسم ورویدادهای بین المللی
                                    </p>
                                    <p>از دیگر فعالیت های محک در این عرصه برقراری همکاری‌های بین‌المللی در امر تحقیقات در مورد سرطان و شیوه های درمان آن است. همچنین از آنجا که این سازمان خیریه با تکیه بر جلب مشارکت های مردمی و انواع کمک های بشر‌دوستانه در زمینه های نقدی، کالا، خدمات و دانش فنی اداره می شود، فعالیت های مربوط به معرفی محک در سطح بین الملل و جذب کمک نیز از طریق بخش روابط بین الملل انجام می گیرد.</p>
                                    <p>
                                        محک با ارائه خدمات حمایتی و درمانی خود به کودکان غیر ایرانی وضعیت دستیابی به استانداردهای بین المللی در زمینه فعالیت سازمان های غیر دولتی و همچنین در زمینه فعالیت بیمارستان ها و قراردادهای همکاری با سازمان های بین المللی در نهادهای مرتبط، سازمانی است که در فضای بین المللی فعالیت کرده و در این فضا توسط سازمان های دیگر دیده می شود. محک دارای مقام مشورتی شورای اقتصادی اجتماعی سازمان ملل متحد (Ecosoc) می باشد<br />
                                        محک در سال ۲۰۰۱ به این مقام نائل شده است. شورای اقتصادی و اجتماعی سازمان ملل متحد که به عنوان رکن اصلی هماهنگ کننده فعالیت های اقتصادی و اجتماعی سازمان ملل و نهادهای تخصصی و آژانس ها –که به همه آنها عنوان &#8220;نظام ملل متحد&#8221; اطلاق می شود- فعالیت می کند، در چارچوب منشور سازمان ملل متحد شکل گرفت. فعالیت های شورای اقتصادی و اجتماعی شامل توصیه هایی جهت سیاستگذاری و اجرای مطالعات و فراخوانی کنفرانس های بین المللی و هماهنگ سازی فعالیت های آژانس های تخصصی سازمان ملل متحد می باشد. این شورا همه ساله نشستی به مدت چهار هفته در ماه ژوییه در مقرهای سازمان ملل متحد در نیویورک یا ژنو برگزار می کند که نماینده محک نیز در آن شرکت دارد.
                                    </p>
                                    <p>همچنین محک اولین سازمان غیر دولتی در منطقه خاورمیانه است که از استاندارد NGO Bench markring شرکت بازرسی بین المللی SGS را اخذ کرده و به دریافت گواهینامه مربوط به این استاندارد نائل شده است. این استاندارد براساس آنالیز عملکرد ۲۵ سازمان بزرگ غیر دولتی توسط شرکت SGS شکل گرفته است و حاوی بهترین شیوه های کاری برای اداره یک سازمان غیر دولتی است که در ۱۰۸ آیتم تعریف گردیده است و براساس آن عملکرد یک NGO مورد ارزیابی قرار می گیرد.</p>
                                </div>
                            </div>
                        </article>
                        <h3 class="single-h3">دیدگاه‌ها</h3>
                        <section class="single-page margin-bottom-0">
                            <div id="respond">
                                <h3 id="reply-title"> <small><a rel="nofollow" id="cancel-comment-reply-link" href="/international/#respond" style="display:none;">لغو پاسخ</a></small></h3>
                                <form action="https://mahak-charity.org/wp-comments-post.php" method="post" id="commentform" class="form-comment">
                                    <span class="comment-span">دیدگاه خود را بنویسید</span>
                                    <span class="comment-span">* نشانی ایمیل شما منتشر نخواهد شد. بخش‌های موردنیاز علامت‌گذاری شده‌اند</span>
                                    <span class="comment-span">* دیدگاه شما</span>
                                    <p class="logged-in-as">وارد شده با نام <a href="https://mahak-charity.org/wp-admin/profile.php">محمد خاکساری</a>. <a href="https://mahak-charity.org/wp-login.php?action=logout&amp;redirect_to=https%3A%2F%2Fmahak-charity.org%2Finternational%2F&amp;_wpnonce=93df65e702" title="بیرون رفتن از حساب کاربری">بیرون رفتن؟</a></p><textarea id="comment" class="comment-textarea" name="comment" cols="45" rows="11" aria-required="true" placeholder="نظرتان را بنویسید"></textarea><button type="submit" id="submit" value="فرستادن دیدگاه" class="buttons comment-button">ثبت دیدگاه</button>
                                    <input type='hidden' name='comment_post_ID' value='177' id='comment_post_ID' />
                                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                </form>
                            </div>
                        </section>

                    </div>
                </div>
                <aside class="aside">
                    <div class="aside-block">

                        <!--   the box     -->
                        <div class="sidebar-box">
                            <div class="pay-title-block">
                                <h3 class="ptb-h3"> </h3>
                                <span class="ptb-des"><p style="text-align: justify;"><span style="font-size: 10.6667px;">شما هم سهمی در نجات کودکان محک داشته باشید</span></p></span>
                            </div>
                            <a href="https://mahak-charity.org/online-payment/" class="buttons index-pay-button">کمک آنلاین</a>
                        </div>

                        <a href="https://mahak-charity.org/my-account/" class="sidebar-box sb-icons sb-icons-card">
                            تشکیل پروفایل
                        </a>
                        <a href="tel: 02123540" class="sidebar-box sb-icons sb-icons-phone">
                            ۰۲۱-۲۳۵۴۰
                        </a>
                        <a href="https://mahak-charity.org/talk-to-mahak/" class="sidebar-box sb-icons sb-icons-talk">
                            میخواهم با محک گفتگو کنم
                        </a>
                        <a href="tel: *733*23540#" class="sidebar-box sb-icons sb-icons-ussd">
                            *۷۳۳*۲۳۵۴۰#
                        </a>
                    </div>
                </aside>
            </div>
        </div>
    </section>
</main>
