﻿@model Mahak.ViewModel.Home.NewsDetailsViewModel
@using Mahak.Common.Extensions
@using Mahak.ViewModel.Comments
@{
    ViewData["Title"] = "Introduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- Single -->
    <section class="single">
        <div class="container">
            <div class="flex-singel">
                <div class="right-single">
                    <div class="page-offset">

                        <!-- Breadcrumb -->
                        <div class="breadcrumb">
                            <a asp-action="Index" asp-controller="Home">خانه</a>
                            <i></i> <a href="#"> آشنایی با محک</a>
                            <i></i> <a href="#"> درباره محک</a>
                            <i></i> <span>معرفی محک</span>
                        </div>

                        @if (Model.News.Locations == "معرفی محک")
                        {
                            <a href=""><img src="~/images/@Model.News.ImageName" alt="@Model.News.Title"></a>

                            <article class="single-page">
                                <div class="single-img"><img width="745" height="181" src="~/images/@Model.News.ImageName" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="درباره محک" srcset="https://mahak-charity.org/wp-content/uploads/2020/02/header12-1.jpg 745w, https://mahak-charity.org/wp-content/uploads/2020/02/header12-1-600x146.jpg 600w" sizes="(max-width: 745px) 100vw, 745px" /></div>
                                <h1 class="single-h1">معرفی محک</h1>
                                <ul class="singel-des">
                                    <li>@Model.News.PersianPublishDate</li>
                                    <li>@Model.News.NumberOfVisit بازدید</li>
                                    <li>@Model.News.NumberOfComments دیدگاه</li>
                                </ul>
                                <div class="single-content">
                                    <p><img class="size-full wp-image-126 alignright" src="~/images/@Model.News.ImageName" alt="" width="280" height="210" /></p>
                                    <p>@Model.News.Description</p>
                                </div>
                            </article>
                        }

                        <h3 class="single-h3">دیدگاه‌ها</h3>
                        <section class="single-page margin-bottom-0">
                            <ol class="commentlist">
                                <li class="comment even thread-even depth-1" id="li-comment-3890">
                                    <div class="comment-block">
                                        <div class="comment">
                                            <article id="comment-3890" class="comment">
                                                <div class="avatar">
                                                    <img alt='' src='https://secure.gravatar.com/avatar/e2bef09d3cab8c15799b69f33f0e6451?s=45&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/e2bef09d3cab8c15799b69f33f0e6451?s=90&#038;d=mm&#038;r=g 2x' class='avatar avatar-45 photo' height='45' width='45' />
                                                </div>

                                                <div class="comment-content">
                                                    <a rel='nofollow' class='comment-reply-link' href='#comment-3890' data-commentid="3890" data-postid="161" data-belowelement="comment-3890" data-respondelement="respond" aria-label='پاسخ به آرمین'>پاسخ</a>											<div class="comment-title-block">
                                                        <span class="comment-name">آرمین</span>												<span class="comment-date">4 ماه پیش</span>
                                                    </div>
                                                    <div class="comment-text">
                                                        <p>
                                                            سلام، خسته نباشید.<br />
                                                            سایت جدید بسیار عالی!!!<br />
                                                            احسنت.
                                                        </p>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                    <ul class="children">
                                        <li class="comment byuser comment-author-09352203471 odd alt depth-2" id="li-comment-6754">
                                            <div class="comment-block">
                                                <div class="comment">
                                                    <article id="comment-6754" class="comment">
                                                        <div class="avatar">
                                                            <img alt='' src='https://secure.gravatar.com/avatar/aed4fd877cc13877ea69cc7e7423841a?s=45&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/aed4fd877cc13877ea69cc7e7423841a?s=90&#038;d=mm&#038;r=g 2x' class='avatar avatar-45 photo' height='45' width='45' />
                                                        </div>

                                                        <div class="comment-content">
                                                            <a rel='nofollow' class='comment-reply-link' href='#comment-6754' data-commentid="6754" data-postid="161" data-belowelement="comment-6754" data-respondelement="respond" aria-label='پاسخ به مؤسسه خیریه محک'>پاسخ</a>											<div class="comment-title-block">
                                                                <span class="comment-name">مؤسسه خیریه محک</span>												<span class="comment-date">6 روز پیش</span>
                                                            </div>
                                                            <div class="comment-text">
                                                                <p>
                                                                    با سلام و احترام<br />
                                                                    از اینکه دغدغه کمک به کودکان مبتلا به سرطان را دارید و به سایت محک مراجعه می‌کنید، صمیمانه سپاسگزاریم. برایتان آرزوی سلامتی داریم.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </li><!-- #comment-## -->
                                    </ul><!-- .children -->
                                </li><!-- #comment-## -->
                            </ol>
                            <div id="respond">
                                <h3 id="reply-title"> <small><a rel="nofollow" id="cancel-comment-reply-link" href="/introduction/#respond" style="display:none;">لغو پاسخ</a></small></h3>
                                @if (Model.Comments.Count() != 0)
                                {
                                    <ul>
                                        @foreach (var item in Model.Comments)
                                        {
                                            <li class="single_comment_area">
                                                <!-- Comment Content -->
                                                <div id="@("comment-"+item.CommentId)" class="comment-content d-flex">
                                                    <!-- Comment Author -->
                                                    <div class="comment-author">
                                                        <img src="~/assets/img/UserPic.png" alt="author">
                                                    </div>
                                                    <!-- Comment Meta -->
                                                    <div class="comment-meta">
                                                        <a href="#" class="comment-date">@item.PostageDateTime.ConvertMiladiToShamsi("dd MMMM yyyy ساعت HH:mm")</a>
                                                        <h6>@item.Name</h6>
                                                        <p>@item.Description</p>
                                                        <div class="d-flex align-items-center">
                                                            <a id="@("btn-"+item.CommentId)" onclick="ShowCommentForm('@item.CommentId','@item.NewsId')" href="#" class="reply">پاسخ</a>
                                                        </div>
                                                    </div>
                                                </div>

                                                @if (item.comments.Count() != 0)
                                                {
                                                    <ol class="children">
                                                        @foreach (var sub in item.comments)
                                                        {
                                                            <li class="single_comment_area">
                                                                <div id="@("comment-"+sub.CommentId)" class="comment-content d-flex">
                                                                    <div class="comment-author">
                                                                        <img src="~/assets/img/UserPic.png" alt="author">
                                                                    </div>
                                                                    <div class="comment-meta">
                                                                        <a href="#" class="comment-date">@sub.PostageDateTime.ConvertMiladiToShamsi("dd MMMM yyyy ساعت HH:mm")</a>
                                                                        <h6>@sub.Name</h6>
                                                                        <p>@sub.Description</p>
                                                                        <div class="d-flex align-items-center">
                                                                            <a id="@("btn-"+sub.CommentId)" href="#" onclick="ShowCommentForm('@sub.CommentId','@item.NewsId')" class="reply">پاسخ</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                @if (sub.comments.Count() != 0)
                                                                {
                                                                    @await Html.PartialAsync("_SubComments", sub.comments)
                                                                }
                                                            </li>
                                                        }
                                                    </ol>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <p class="alert alert-info mb-0">دیدگاهی برای این محصول ارسال نشده است.</p>
                                }
                                @await Html.PartialAsync("_SendComment", new CommentViewModel(null, null, Model.News.NewsId))


                                @*<form action="https://mahak-charity.org/wp-comments-post.php" method="post" id="commentform" class="form-comment">
                                        <span class="comment-span">دیدگاه خود را بنویسید</span>
                                        <span class="comment-span">* نشانی ایمیل شما منتشر نخواهد شد. بخش‌های موردنیاز علامت‌گذاری شده‌اند</span>
                                        <span class="comment-span">* دیدگاه شما</span>
                                        <p class="logged-in-as">وارد شده با نام <a href="https://mahak-charity.org/wp-admin/profile.php">محمد خاکساری</a>. <a href="https://mahak-charity.org/wp-login.php?action=logout&amp;redirect_to=https%3A%2F%2Fmahak-charity.org%2Fintroduction%2F&amp;_wpnonce=f2c9a8ef83" title="بیرون رفتن از حساب کاربری">بیرون رفتن؟</a></p><textarea id="comment" class="comment-textarea" name="comment" cols="45" rows="11" aria-required="true" placeholder="نظرتان را بنویسید"></textarea><button type="submit" id="submit" value="فرستادن دیدگاه" class="buttons comment-button">ثبت دیدگاه</button>
                                        <input type='hidden' name='comment_post_ID' value='161' id='comment_post_ID' />
                                        <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                    </form>*@
                            </div>
                        </section>
                    </div>
                </div>
                <aside class="aside">
                    <div class="aside-block">

                        <!--   the box     -->
                        <div class="sidebar-box">
                            <div class="pay-title-block">
                                <h3 class="ptb-h3"> </h3>
                                <span class="ptb-des"><p style="text-align: justify;"><span style="font-size: 10.6667px;">شما هم سهمی در نجات کودکان محک داشته باشید</span></p></span>
                            </div>
                            <a href="https://mahak-charity.org/online-payment/" class="buttons index-pay-button">کمک آنلاین</a>
                        </div>

                        <a asp-action="Profile" asp-controller="Account" class="sidebar-box sb-icons sb-icons-card">
                            تشکیل پروفایل
                        </a>
                        <a href="tel: 02123540" class="sidebar-box sb-icons sb-icons-phone">
                            ۰۲۱-۲۳۵۴۰
                        </a>
                        <a href="https://mahak-charity.org/talk-to-mahak/" class="sidebar-box sb-icons sb-icons-talk">
                            میخواهم با محک گفتگو کنم
                        </a>
                        <a href="tel: *733*23540#" class="sidebar-box sb-icons sb-icons-ussd">
                            *۷۳۳*۲۳۵۴۰#
                        </a>
                    </div>
                </aside>
            </div>
        </div>
    </section>
</main>