﻿@{
    ViewData["Title"] = "Introduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- Single -->
    <section class="single">
        <div class="container">
            <div class="flex-singel">
                <div class="right-single">
                    <div class="page-offset">

                        <!-- Breadcrumb -->
                        <div class="breadcrumb">
                            <a href="https://mahak-charity.org/wp-content/themes/kalhors-mahak">خانه</a>
                            <i></i> <a href="#"> آشنایی با محک</a>
                            <i></i> <a href="#"> درباره محک</a>
                            <i></i> <span>پیام مدیرعامل</span>
                        </div>

                        <article class="single-page">
                            <div class="single-img"><img width="724" height="175" src="https://mahak-charity.org/wp-content/uploads/2020/02/payammodir.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://mahak-charity.org/wp-content/uploads/2020/02/payammodir.jpg 724w, https://mahak-charity.org/wp-content/uploads/2020/02/payammodir-600x145.jpg 600w" sizes="(max-width: 724px) 100vw, 724px" /></div>
                            <h1 class="single-h1">پیام مدیرعامل</h1>
                            <ul class="singel-des">
                                <li>۲۸ بهمن ۹۸</li>
                                <li>2948 بازدید</li>
                                <li>0 دیدگاه</li>
                            </ul>
                            <div class="single-content">
                                <p><img class="alignright size-full wp-image-687" src="https://mahak-charity.org//wp-content/uploads/2020/02/ahmadian-roz-sanato-madan.jpg" alt="" width="420" height="320" /></p>
                                <p>
                                    مؤسسه خیریه حمایت از کودکان مبتلا به سرطان محک، سازمانى است که از انگيزه والاى خدمت به همنوع سرچشمه گرفته و در نزدیک به سه دهه فعالیت خود کوشیده است تا به همراه نیکوکاران، کارکنان و داوطلبان خود، در مسیر تحقق اهداف بشردوستانه فعالیت كند و همواره اولويتش ارزش‌هاى انساني باشد. ما در محک آموختيم که در زمان اخذ تصمیم‌ها، همه جوانب را در نظر بگیریم. آموخته‌ايم كه ‏در روزهای سخت و بحرانی همه انسان‌ها به یک اندازه عزيزند و مى‌بايست به آنها ‏توجه كنيم.‏<br />
                                    ‏‎ امروز هم كه جهان و كشور ما با یک بحران عمومی سلامتی به خاطر شایع شدن ویروس کرونا ‏روبرو شده است، ما نيز در محك ‏خود را مسئول می‌دانيم که مانند همیشه، در تصمیم‌گیری‌های روزهای سخت به مصلحت همه فکر کنیم. كودكانمان، كاركنان، ‏نيكوكاران و اعضای خانواده بزرگ ‏محک و البته همه آحاد جامعه.<br />
                                    ‏‎‏ به همین دليل با تکیه بر تجارب و اطلاعات، اقداماتی را در زمينه فراهم ساختن شرایطی به منظور کاهش حضور و رفت‌ و‌ آمد کودکان و خانواده‌های ایشان در دفاتر مددکاری محک در سراسر کشور، ارائه خدمات روان‌شناسی به منظور کاهش استرس، آموزش روش‌های مراقبتی و پیشگیرانه به جامعه، کاهش حضور پرسنل مؤسسه با انجام فعالیت‌های دورکاری انجام داده‌ایم. فعالیت يك دفتر از ۳۰ دفتر و باجه جلب مشارکت‌های مردمی محک در سطح شهر و عدم مراجعه به منازل به منظور جمع‌آوری و توزيع قلک از جمله این اقدامات است.<br />
                                    در کنار همه این موارد، بدیهی است که درمان کودک مبتلا به سرطان در هر شرایطی باید ادامه پیدا کند. لذا تلاش کردیم تا در این روزها نیز با توسعه روش‌های کمک از راه دور و روش‌هاى آنلاین، اهدای كمک‌های نيكوكاران به كودكان مبتلا به سرطان را تسهيل كنيم تا درمان این عزیزان ادامه پیدا کند.<br />
                                    طراحی وب‌سایت جديد محک که امروز شاهد آن هستید، يكى از اقداماتی است كه در پاسخ به درخواست‌های تسهیل ارتباطات آنلاین اعضای خانواده بزرگ محک ایجاد شده است. بدین ترتیب از این پس پرداخت کمک‌های نیکوکارانه یاوران گرانقدر محک به صورت آنلاین و سفارش‌های آنلاين مانند تقویم، سررسید، دستبندهای یادبود و &#8230; در کوتاه‌ترین زمان ممکن میسر خواهد بود.
                                </p>
                                <p>ما در محک، به این امر واقفیم که با توجه به سرعت عمل در این تغییر، ممکن است استاندارهای بين المللی مورد نظر خانواده بزرگ محک در وب‌سایت جدید به طور كامل انجام نشده باشد اما برای گذر از روزهای پیش رو، سرعت را بر کیفیت مطلوب ارجح بود. در اين مسير به دنبال بهبود مستمر با تكيه بر مشاركت و پيشنهادات شما هستيم چرا كه:</p>
                                <p>&nbsp;</p>
                                <p style="text-align: center;">
                                    ما بدان مقصد عالی نتوانیم رسید<br />
                                    هم مگر پیش نهد لطف شما گامی چند
                                </p>
                                <p>&nbsp;</p>
                                <p>از همه شما كه در هر شرایطی اعم از بحران، ثبات، جنگ، صلح و تحریم همراه كودكان معصوم مبتلا به سرطان هستيد قدرداني و در برابر مهرتان اداى احترام مي كنم. آرزو داريم سال ١٣٩٩ براى همه هموطنان سالى سرشار از سلامتى و آرامش باشد. به اميد آنكه با همدلي تمامي اركان جامعه كشورمان و همه جهان اين روزهاى سخت را پشت سر بگذارد.</p>
                                <p>&nbsp;</p>
                                <p style="text-align: left;">
                                    <strong>‎</strong><strong>با احترام</strong><br />
                                    <strong>‎</strong><strong>آراسب احمدیان </strong><strong>–</strong><strong> مدیر عامل</strong>
                                </p>
                            </div>
                        </article>
                        <h3 class="single-h3">دیدگاه‌ها</h3>
                        <section class="single-page margin-bottom-0">
                            <div id="respond">
                                <h3 id="reply-title"> <small><a rel="nofollow" id="cancel-comment-reply-link" href="/message/#respond" style="display:none;">لغو پاسخ</a></small></h3>
                                <form action="https://mahak-charity.org/wp-comments-post.php" method="post" id="commentform" class="form-comment">
                                    <span class="comment-span">دیدگاه خود را بنویسید</span>
                                    <span class="comment-span">* نشانی ایمیل شما منتشر نخواهد شد. بخش‌های موردنیاز علامت‌گذاری شده‌اند</span>
                                    <span class="comment-span">* دیدگاه شما</span>
                                    <p class="logged-in-as">وارد شده با نام <a href="https://mahak-charity.org/wp-admin/profile.php">محمد خاکساری</a>. <a href="https://mahak-charity.org/wp-login.php?action=logout&amp;redirect_to=https%3A%2F%2Fmahak-charity.org%2Fmessage%2F&amp;_wpnonce=93df65e702" title="بیرون رفتن از حساب کاربری">بیرون رفتن؟</a></p><textarea id="comment" class="comment-textarea" name="comment" cols="45" rows="11" aria-required="true" placeholder="نظرتان را بنویسید"></textarea><button type="submit" id="submit" value="فرستادن دیدگاه" class="buttons comment-button">ثبت دیدگاه</button>
                                    <input type='hidden' name='comment_post_ID' value='175' id='comment_post_ID' />
                                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                </form>
                            </div>
                        </section>

                    </div>
                </div>
                <aside class="aside">
                    <div class="aside-block">

                        <!--   the box     -->
                        <div class="sidebar-box">
                            <div class="pay-title-block">
                                <h3 class="ptb-h3"> </h3>
                                <span class="ptb-des"><p style="text-align: justify;"><span style="font-size: 10.6667px;">شما هم سهمی در نجات کودکان محک داشته باشید</span></p></span>
                            </div>
                            <a href="https://mahak-charity.org/online-payment/" class="buttons index-pay-button">کمک آنلاین</a>
                        </div>

                        <a href="https://mahak-charity.org/my-account/" class="sidebar-box sb-icons sb-icons-card">
                            تشکیل پروفایل
                        </a>
                        <a href="tel: 02123540" class="sidebar-box sb-icons sb-icons-phone">
                            ۰۲۱-۲۳۵۴۰
                        </a>
                        <a href="https://mahak-charity.org/talk-to-mahak/" class="sidebar-box sb-icons sb-icons-talk">
                            میخواهم با محک گفتگو کنم
                        </a>
                        <a href="tel: *733*23540#" class="sidebar-box sb-icons sb-icons-ussd">
                            *۷۳۳*۲۳۵۴۰#
                        </a>
                    </div>
                </aside>
            </div>
        </div>
    </section>
</main>
