﻿@{
    ViewData["Title"] = "Introduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- Single -->
    <section class="single">
        <div class="container">
            <div class="flex-singel">
                <div class="right-single">
                    <div class="page-offset">


                        <!-- Breadcrumb -->
                        <div class="breadcrumb">
                            <a href="https://mahak-charity.org/wp-content/themes/kalhors-mahak">خانه</a>
                            <i></i> <a href="#"> آشنایی با مجک</a>
                            <i></i> <a href="#"> درباره محک</a>
                            <i></i> <span>بیانیه مأموریت</span>
                        </div>

                        <article class="single-page">
                            <div class="single-img"><img width="724" height="175" src="https://mahak-charity.org/wp-content/uploads/2020/02/bayaniye.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://mahak-charity.org/wp-content/uploads/2020/02/bayaniye.jpg 724w, https://mahak-charity.org/wp-content/uploads/2020/02/bayaniye-600x145.jpg 600w" sizes="(max-width: 724px) 100vw, 724px" /></div>
                            <h1 class="single-h1">بیانیه مأموریت (۱۴۰۰ – ۱۳۹۶)</h1>
                            <ul class="singel-des">
                                <li>۲۸ بهمن ۹۸</li>
                                <li>2415 بازدید</li>
                                <li>0 دیدگاه</li>
                            </ul>
                            <div class="single-content">
                                <p><img class="alignright size-full wp-image-677" src="https://mahak-charity.org//wp-content/uploads/2020/02/mamoriyat.jpg" alt="" width="280" height="248" /></p>
                                <p dir="RTL">محک سازماني است که از انگيزه والاي خدمت به همنوع سرچشمه گرفته و توجه خود را معطوف به بيماري سرطان کودکان در سطح ملي و بين‌المللي در حوزه‌های امور حمايتی، تشخيص و درمان، آموزش و اطلاع‌رسانی و تحقيقات نموده است. اين سازمان؛ خيريه، مردم‌نهاد، غيرانتفاعی، غيرسياسی و غيردولتی است و با تکيه بر جلب مشارکت‌هاي اشخاص حقيقی و حقوقی و انواع کمک‌های بشردوستانه ملي و بين‌المللي اعم از نقدی، کالا، خدمات و دانش فنی اداره می‌شود.</p>
                                <p dir="RTL">حمايت همه‌جانبه از کودکان مبتلا به سرطان و خانواده آنان در بخش حمايتی، درمان کودکان مبتلا به سرطان در ايران به صورت يکپارچه و جامع در چارچوب استانداردهاي ملي و بين‌المللي و منشور حقوق بيمار با بهره‌مندي از جديدترين و کارآمدترين روش‌ها و آخرين دستاوردهاي علم پزشکي، ايجاد يک مرکز تحقيقات جهت انجام تحقيقات علمي در زمينه بيماری سرطان براي کشف علل بروز بيماری، روش‌های تشخيص، غربالگری، پيشگيری و شيوه‌های نوين درمان، مأموريت اين سازمان است. محک با برنامه‌ريزی و سرمایه‌گذاری در حوزه آموزش پيشگيرانه و اطلاع‌رسانی می‌کوشد در کاهش نرخ ابتلا به سرطان کودکان در ايران مشارکت نمايد.</p>
                                <p dir="RTL">کارکنان و داوطلبان، صميمانه در کنار يکديگر براي تحقق اهداف بشردوستانه محک تلاش می‌کنند و محک با برنامه‌ريزی برای توانمندسازی منابع انسانی و بهره‌گيری از جديدترين فناوري‌ها در همه حوزه‌ها به ويژه تشخيص و درمان اين ظرفيت را توسعه مي‌دهد.</p>
                                <p dir="RTL">محک نه تنها به سرطان کودکان می‌پردازد بلکه اندیشه والای کمک به همنوع را ترویج می‌نماید. شفافیت، پاسخگویی، قدرشناسی و زیبایی‌شناسی ممتازترین ارزش‌های محک هستند.</p>
                                <p dir="RTL">محک از یک سو به عنوان یک سازمان چند عملکردی و با دارا بودن تنها بيمارستان فوق‌تخصصی سرطان کودکان در ایران، و از سوی دیگر براساس تعهد و صداقت در ارائه خدمات جامع و یکپارچه در مسیر درمان کودکان مبتلا به سرطان و خانواده ایشان در چارچوب استانداردهای بين‌المللي، يکي از معتمدترين نهادهاي خيريه براي نيکوکاران و سازمان‌های بشردوستانه است. محک خود را نسبت به استفاده بهینه از منابع و دستیابی به نتایج قابل اندازه‌گيری مسئول می‌داند. در کنار توجه به توسعه سازمان و رشد منابع جهت پایداری در ارائه خدمات، تأکید بر بهبود مستمر در کارایی و اثربخشی، رویه جاری سازمان است.</p>
                            </div>
                        </article>
                        <h3 class="single-h3">دیدگاه‌ها</h3>
                        <section class="single-page margin-bottom-0">
                            <div id="respond">
                                <h3 id="reply-title"> <small><a rel="nofollow" id="cancel-comment-reply-link" href="/mission/#respond" style="display:none;">لغو پاسخ</a></small></h3>
                                <form action="https://mahak-charity.org/wp-comments-post.php" method="post" id="commentform" class="form-comment">
                                    <span class="comment-span">دیدگاه خود را بنویسید</span>
                                    <span class="comment-span">* نشانی ایمیل شما منتشر نخواهد شد. بخش‌های موردنیاز علامت‌گذاری شده‌اند</span>
                                    <span class="comment-span">* دیدگاه شما</span>
                                    <p class="logged-in-as">وارد شده با نام <a href="https://mahak-charity.org/wp-admin/profile.php">محمد خاکساری</a>. <a href="https://mahak-charity.org/wp-login.php?action=logout&amp;redirect_to=https%3A%2F%2Fmahak-charity.org%2Fmission%2F&amp;_wpnonce=93df65e702" title="بیرون رفتن از حساب کاربری">بیرون رفتن؟</a></p><textarea id="comment" class="comment-textarea" name="comment" cols="45" rows="11" aria-required="true" placeholder="نظرتان را بنویسید"></textarea><button type="submit" id="submit" value="فرستادن دیدگاه" class="buttons comment-button">ثبت دیدگاه</button>
                                    <input type='hidden' name='comment_post_ID' value='171' id='comment_post_ID' />
                                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                </form>
                            </div>
                        </section>





                    </div>
                </div>
                <aside class="aside">
                    <div class="aside-block">

                        <!--   the box     -->
                        <div class="sidebar-box">
                            <div class="pay-title-block">
                                <h3 class="ptb-h3"> </h3>
                                <span class="ptb-des"><p style="text-align: justify;"><span style="font-size: 10.6667px;">شما هم سهمی در نجات کودکان محک داشته باشید</span></p></span>
                            </div>
                            <a href="https://mahak-charity.org/online-payment/" class="buttons index-pay-button">کمک آنلاین</a>
                        </div>

                        <a href="https://mahak-charity.org/my-account/" class="sidebar-box sb-icons sb-icons-card">
                            تشکیل پروفایل
                        </a>
                        <a href="tel: 02123540" class="sidebar-box sb-icons sb-icons-phone">
                            ۰۲۱-۲۳۵۴۰
                        </a>
                        <a href="https://mahak-charity.org/talk-to-mahak/" class="sidebar-box sb-icons sb-icons-talk">
                            میخواهم با محک گفتگو کنم
                        </a>
                        <a href="tel: *733*23540#" class="sidebar-box sb-icons sb-icons-ussd">
                            *۷۳۳*۲۳۵۴۰#
                        </a>
                    </div>
                </aside>
            </div>
        </div>
    </section>
</main>
