﻿@{
    ViewData["Title"] = "Introduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- Single -->
    <section class="single">
        <div class="container">
            <div class="flex-singel">
                <div class="right-single">
                    <div class="page-offset">

                        <!-- Breadcrumb -->
                        <div class="breadcrumb">
                            <a href="https://mahak-charity.org/wp-content/themes/kalhors-mahak">خانه</a>
                            <i></i> <a href="#"> آشنایی با محک</a>
                            <i></i> <a href="#"> درباره محک</a>
                            <i></i> <span>سوالات متداول</span>
                        </div>

                        <article class="single-page">
                            <div class="single-img"><img width="760" height="175" src="https://mahak-charity.org/wp-content/uploads/2020/02/soalate-motadavel.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://mahak-charity.org/wp-content/uploads/2020/02/soalate-motadavel.jpg 760w, https://mahak-charity.org/wp-content/uploads/2020/02/soalate-motadavel-600x138.jpg 600w" sizes="(max-width: 760px) 100vw, 760px" /></div>
                            <h1 class="single-h1">سوالات متداول</h1>
                            <ul class="singel-des">
                                <li>۲۸ بهمن ۹۸</li>
                                <li>3467 بازدید</li>
                                <li>1 دیدگاه</li>
                            </ul>
                            <div class="single-content">
                                <p>
                                    <strong>۱. محک چگونه سازمانی است؟</strong><br />
                                    محک سازمانی است مردم نهاد که با هدف حمایت از کودکان مبتلا به سرطان و خانواده آنها در سال ۱۳۷۰ با نیت خیرخواهانه یک مادر (خانم سعیده قدس) تأسیس گردیده است. محک سازمانی خیریه، غیر انتفاعی، غیر سیاسی و غیر دولتی است و تنها با اتکا بر جلب مشارکت‌های مردمی و انواع کمک‌های بشر دوستانه اعم از نقدی، کالا، خدمات و دانش فنی اداره می‌شود.<a href="https://mahak-charity.org//introduction/"> بیشتر &#8230;</a>
                                </p>
                                <p><strong>۲. معنای نام و لوگوی محک چیست؟</strong></p>
                                <p>نام اختصاری محک برگرفته از نوع فعالیت این موسسه است (موسسه حمایت از کودکان مبتلا به سرطان) و لوگوی محک طرح برگ دارد که نماد حیات و زندگی است و برروی آن کودک و خانواده‌اش امیدوارانه ایستاده‌اند.</p>
                                <p>
                                    <strong>۳. بودجه محک چگونه تأمین می‌گردد؟</strong><br />
                                    محک سازمانی غیر دولتی، غیر سیاسی و غیرانتقاعی است و بودجه آن تنها با اتکا به جلب مشارکت‌های مردمی و انواع کمک‌های بشر دوستانه اعم از نقدی، کالا، خدمات و دانش فنی تأمین می‌شود.
                                </p>
                                <p>
                                    <strong>۴. تا کنون چند کودک تحت حمایت محک بوده است و سن پذیرش کودکان چند سال می‌باشد؟</strong><br />
                                    تا پایان سال ۹۷ بیش از ۳۲۰۰۰ کودک تحت حمایت موسسه محک بوده‌اند.  این موسسه حامی همه کودکان مبتلا به سرطان زیر ۱۶ سال در سراسر کشور است.
                                </p>
                                <p>
                                    <strong>۵.حال حاضر چند کودک تحت درمان محک می‌باشد؟</strong><br />
                                    بر اساس آمار سال ۹۷، بیش از ۱۹۰۰۰ کودک تحت درمان محک هستند.
                                </p>
                                <p>
                                    <strong>۶. چگونه می‌توان فعالیت داوطلبانه در محک داشت؟</strong><br />
                                    شما می‌توانید با عضویت در گروه داوطلبان با اهدای زمان و توا‌نمندی ارزشمند خود، موسسه خیریه محک را برای دستیابی به اهدافش همراهی کنید. برای دریافت اطلاعات بیشتر و شرایط عضویت می‌توانید با شماره ۲۳۵۰۱۲۳۲ بخش داوطلبان تماس بگیرید. داوطلبان داری شرایط با مراجعه به واحد داوطلبان و پر نمودن فرم داوطلبی، بر اساس نیاز محک و توانایی‌هایشان از حضورشان در مؤسسه استفاده می‌گردد. <a href="https://mahak-charity.org//volunteer/">بیشتر …</a>
                                </p>
                                <p>
                                    <strong>۷. آیا امکان بازدید از محک و ملاقات با کودکان و خانواده‌ها وجود دارد؟</strong><br />
                                    به اطلاع مي‌رسانیم امکان بازدید از مؤسسه و بیمارستان محک بر اساس تعهد این سازمان به اصول شفافیت و پاسخگویی در برابر همه ذیربطانش وجود دارد. اما این بازديد فقط از بخش‌های مختلف مؤسسه به منظور آشنايي با فعاليت هاي محك است و ورود به بخش‌های بستري به دليل پايين بودن سيستم ايمنی كودكان، رعایت مسائل بهداشتی، حفظ كرامت انساني خانواده‌ها و همچنين حفظ حريم خصوصي آنها امكان پذير نيست. علاقمندان به بازدید می‎‌توانند از شنبه تا چهارشنبه از ساعت ۱۰ تا ۱۴ به مؤسسه مراجعه کنند یا برای هماهنگی در زمان ذکر شده با شماره ۲۳۵۰۱۲۱۰ تماس بگیرند.
                                </p>
                                <p>
                                    <strong>۸. آیا محک به غیر از درمان خدمات دیگری هم به کودکان مبتلا به سرطان ارائه می‌دهد؟</strong><br />
                                    محک  به غیر از تأمین هزینه‌های دارو و درمان، هزینه اقامت کودک همراه با یکی از اعضا خانواده، تحصیل، پوشاک، ایاب و ذهاب، مشاوره پزشکی و روانشناسی و سبدکالا و خواربار ماهانه و… را در حد امکان برای کودکان و خانواده‌هایشان پرداخت می‌کند. همچنین برای برای ارتقا روحیه کودکان و خانواده‌های آنها محک در طول سال اقدام به برگزاری جشن‌ها و برنامه‌های شادی و متنوعی به مناسبت‌های گوناگون می‌نماید. <a href="https://mahak-charity.org//support-services/">بیشتر …</a>
                                </p>
                                <p>
                                    <strong>۹. چه نوع روش‌هایی برای کمک به محک تعریف شده است؟</strong><br />
                                    موسسه محک روش‌های مختلفی را به منظور سهولت اهدای کمک‌های نیکوکاران به کودکان مبتلا به سرطان تعریف کرده است. روش‌هایی همچون: قلک‌، عضویت، اهدای غیر نقدی، درمانیاری، سفارش محصولات محک، اهدای سلول‌های بنیادی و کمک به عنوان داوطلبان. برای آشنایی با روش‌های کمک به محک می‌توانید با شماره ۲۳۵۴۰-۰۲۱ تماس بگیرید. <a href="https://mahak-charity.org//assistance-methods/">بیشتر …</a>
                                </p>
                                <p>
                                    <strong>۱۰. چرا روش‌های مختلفی برای کمک به محک تعریف شده و فرق این روش‌ها در چیست؟</strong><br />
                                    علت وجود روش‌های مختلف این است که گروه‌های مختلف مردم با هر بودجه و درآمد و هرگونه توانمندی و مهارتی بتوانند به موسسه کمک نمایند و در نهایت تمامی عواید بخش‌های محک صرف دارو و درمان کودکان مبتلا به سرطان می‌شود.
                                </p>
                                <p>
                                    <strong>۱۱. دلیل گرفتن اطلاعات فردی یاوران چیست؟</strong><br />
                                    این اطلاعات فردی جهت ثبت شناسه یاو‌ران در سیستم واحد جلب مشارکت است که به صورت محرمانه حفظ می‌شود. توسط این شناسه، محک یاوران خود را می‌شناسد و اخبار و اطلاعات خود را به روش‌های مختلف برای این یاوران ارسال می‌نماید.<br />
                                    زمانی که شماره شناسه به افراد اعلام می‌شود، افراد اطمینان پیدا می‌کنند که اطلاعاتشان در سیستم ثبت شده است. شماره شناسه برای  یاوران محک همچون کارت شناسایی  است. به طور مثال  یاوران می‌توانند با این شناسه، عضویت خود را از روش‌های تعریف شده پرداخت و از طریق پروفایل پیگیری نمایند.
                                </p>
                                <p>
                                    <strong>۱۲. اعضا چگونه می‌توانند تغییرآدرس خود را به اطلاع محک برسانند؟</strong><br />
                                    یاوران می‌تواندد از طریق تماس با شماره ۲۳۵۴۰-۰۲۱ مرکز ارتباط با یاوران، تغییرات آدرس خود را به محک اطلاع دهید.
                                </p>
                                <p>
                                    <strong>۱۳. اعضا محک چگونه می‌توانند در خصوص مبالغ واریزی و ماه هایی که حق عضویت خود را پرداخت کرده اند اطلاعات کسب نمایند؟</strong><br />
                                    اعضا می‌توانند با شماره ۲۳۵۴۰-۰۲۱ تماس گرفته و در خصوص مبالغ واریزی و ماه‌های کمک خود، اطلاعات لازم را کسب نمایید و یا با ارسال پیامک خالی به شماره ۲۰۰۰۲۳۵۴۰ از آخرین مانده پرداختی خود مطلع گردید.
                                </p>
                                <p>
                                    <strong>۱۴. چگونه می‌توان بنر تبلیغاتی  محک را در نشریات و ‌سایت‌‌‌ها درج کرد؟</strong><br />
                                    یاورانی که تمایل دارند از این طریق محک را همراهی کنند می‌توانند برای دریافت بنر و هماهنگی‌های لازم با شماره ۲۳۵۰۱۰۰۹ تماس بگیرند.
                                </p>
                                <p>
                                    <strong>۱۵. نحوه انجام تحقیقات و پروژه‌های دانشجویی در موسسه خیریه محک چگونه است؟</strong><br />
                                    محک همواره از به اشتراک گذاشتن دانش تخصصی سازمان خود برای انجام فعالیت‌های علمی و آکادمیک که به نوعی به بهبود و توسعه درمان کودکان مبتلا به سرطان و ارتقاء سطح زندگی آنان بیانجامد استقبال می‌کند و این امر را یکی از مسئولیت‌های اجتماعی خود در جهت ارتقای سطح دانش کشور در حوزهای مربوط به سرطان کودکان می‌داند. با توجه به رویکرد تخصصی موسسه و بیمارستان فوق تخصصی محک، پایان‌نامه یا طرح‌های پژوهشی مرتبط با فعالیت‌های تخصصی سازمان با همکاری این موسسه در مقاطع کارشناسی ارشد و دکترا امکان‌پذیر است. در صورتی‌که شرایط فوق مهیا باشد از افراد علاقه‌مند تقاضا می‌شود ضمن ارایه کتبی درخواست برای انجام پروژه و تکمیل فرم مربوط، یک نمونه تأیید شده از پروپوزال و معرفی‌نامه از سوی دانشگاه یا مرکز تحقیقاتی را به واحد توسعه و نوآوری ارائه نمایند. شما می‌توانید برای برقرار ارتباط با این واحد با شماره‌ ۲۳۵۰۱۱۶۴ تماس بگیرید.
                                </p>
                            </div>
                        </article>
                        <h3 class="single-h3">دیدگاه‌ها</h3>
                        <section class="single-page margin-bottom-0">
                            <ol class="commentlist">
                                <li class="comment byuser comment-author-09214187988 even thread-even depth-1" id="li-comment-2559">
                                    <div class="comment-block">
                                        <div class="comment">
                                            <article id="comment-2559" class="comment">
                                                <div class="avatar">
                                                    <img alt='' src='https://secure.gravatar.com/avatar/bf600c296a395bd21e28bbde677abc61?s=45&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/bf600c296a395bd21e28bbde677abc61?s=90&#038;d=mm&#038;r=g 2x' class='avatar avatar-45 photo' height='45' width='45' />
                                                </div>

                                                <div class="comment-content">
                                                    <a rel='nofollow' class='comment-reply-link' href='#comment-2559' data-commentid="2559" data-postid="181" data-belowelement="comment-2559" data-respondelement="respond" aria-label='پاسخ به محمد زینی هرسینی'>پاسخ</a>											<div class="comment-title-block">
                                                        <span class="comment-name">محمد زینی هرسینی</span>												<span class="comment-date">6 ماه پیش</span>
                                                    </div>
                                                    <div class="comment-text">
                                                        <p>خدایا خودت به فریاد این بچهای معصوم برس</p>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </li><!-- #comment-## -->
                            </ol>
                            <div id="respond">
                                <h3 id="reply-title"> <small><a rel="nofollow" id="cancel-comment-reply-link" href="/questions/#respond" style="display:none;">لغو پاسخ</a></small></h3>
                                <form action="https://mahak-charity.org/wp-comments-post.php" method="post" id="commentform" class="form-comment">
                                    <span class="comment-span">دیدگاه خود را بنویسید</span>
                                    <span class="comment-span">* نشانی ایمیل شما منتشر نخواهد شد. بخش‌های موردنیاز علامت‌گذاری شده‌اند</span>
                                    <span class="comment-span">* دیدگاه شما</span>
                                    <p class="logged-in-as">وارد شده با نام <a href="https://mahak-charity.org/wp-admin/profile.php">محمد خاکساری</a>. <a href="https://mahak-charity.org/wp-login.php?action=logout&amp;redirect_to=https%3A%2F%2Fmahak-charity.org%2Fquestions%2F&amp;_wpnonce=93df65e702" title="بیرون رفتن از حساب کاربری">بیرون رفتن؟</a></p><textarea id="comment" class="comment-textarea" name="comment" cols="45" rows="11" aria-required="true" placeholder="نظرتان را بنویسید"></textarea><button type="submit" id="submit" value="فرستادن دیدگاه" class="buttons comment-button">ثبت دیدگاه</button>
                                    <input type='hidden' name='comment_post_ID' value='181' id='comment_post_ID' />
                                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                </form>
                            </div>
                        </section>

                    </div>
                </div>
                <aside class="aside">
                    <div class="aside-block">

                        <!--   the box     -->
                        <div class="sidebar-box">
                            <div class="pay-title-block">
                                <h3 class="ptb-h3"> </h3>
                                <span class="ptb-des"><p style="text-align: justify;"><span style="font-size: 10.6667px;">شما هم سهمی در نجات کودکان محک داشته باشید</span></p></span>
                            </div>
                            <a href="https://mahak-charity.org/online-payment/" class="buttons index-pay-button">کمک آنلاین</a>
                        </div>

                        <a href="https://mahak-charity.org/my-account/" class="sidebar-box sb-icons sb-icons-card">
                            تشکیل پروفایل
                        </a>
                        <a href="tel: 02123540" class="sidebar-box sb-icons sb-icons-phone">
                            ۰۲۱-۲۳۵۴۰
                        </a>
                        <a href="https://mahak-charity.org/talk-to-mahak/" class="sidebar-box sb-icons sb-icons-talk">
                            میخواهم با محک گفتگو کنم
                        </a>
                        <a href="tel: *733*23540#" class="sidebar-box sb-icons sb-icons-ussd">
                            *۷۳۳*۲۳۵۴۰#
                        </a>
                    </div>
                </aside>
            </div>
        </div>
    </section>
</main>
