﻿@{
    ViewData["Title"] = "Introduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- Single -->
    <section class="single">
        <div class="container">
            <div class="flex-singel">
                <div class="right-single">
                    <div class="page-offset">

                        <!-- Breadcrumb -->
                        <div class="breadcrumb">
                            <a href="https://mahak-charity.org/wp-content/themes/kalhors-mahak">خانه</a>
                            <i></i> <a href="#"> آشنایی با محک</a>
                            <i></i> <a href="#"> درباره محک</a>
                            <i></i> <span>بیانیه چشم انداز</span>
                        </div>

                        <article class="single-page">
                            <div class="single-img"><img width="724" height="175" src="https://mahak-charity.org/wp-content/uploads/2020/02/header15.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://mahak-charity.org/wp-content/uploads/2020/02/header15.jpg 724w, https://mahak-charity.org/wp-content/uploads/2020/02/header15-600x145.jpg 600w" sizes="(max-width: 724px) 100vw, 724px" /></div>
                            <h1 class="single-h1">بیانیه چشم انداز (۱۴۰۰ &#8211; ۱۳۹۶)</h1>
                            <ul class="singel-des">
                                <li>۲۸ بهمن ۹۸</li>
                                <li>2098 بازدید</li>
                                <li>0 دیدگاه</li>
                            </ul>
                            <div class="single-content">
                                <p><img class="alignright size-full wp-image-667" src="https://mahak-charity.org//wp-content/uploads/2020/02/rr.jpg" alt="" width="280" height="210" /></p>
                                <p dir="RTL">محک حامی استوار پدران و مادرانی است که فرزند آنها به بيماری سرطان مبتلا شده است. در سايه اين حمایت، خانواده‌ها می‌توانند با نگرانی کمتر، تنها به درمان کودک خود فکر کنند و کودکان می‌توانند شادمانه‌تر فرآیند درمان را طي نموده و آرزوهای آنها از بودن يا نبودن، به چگونه زیستن در آینده تغيیر کند.</p>
                                <p dir="RTL">در سایه حمایت محک، هیچ خانواده‌ای در مسیر درمان فرزند خود تنها نخواهد بود و در تمام مسیر درمان همه حمایت‌هاي لازم را به‌طور یکسان در سراسر ایران دریافت می‌نماید. بیمارستان محک بر اساس استانداردهای ملي و بين‌المللی به ارائه پيشرفته‌ترین خدمات درمانی جامع و یکپارچه در حوزه سرطان کودکان می‌پردازد. در سایه آموزش و اطلاع‌رساني این سازمان، بیماري کودکان در مراحل اولیه تشخیص داده می‌شود و از لحظه تشخيص بیماری کودک و خانواده وی تحت حمایت قرار خواهند گرفت. محک جامعه را نسبت به آخرین اخبار در ارتباط با سرطان آگاه ساخته و مناسب‌ترین اطلاعات، توصیه‌ها و منابع لازم را در اختیار جامعه قرار می‌دهد. همچنین از طریق گسترش همکاری با مؤسسات تحقیقاتی و درمانی ملی و بين‌المللی فعال در زمينه سرطان، به کاهش نرخ ابتلا به سرطان در کودکان و روش‌های مؤثر درمان دست خواهد یافت.</p>
                                <p dir="RTL">محک به عنوان یک سازمان متعالی در کشور شناخته می‌شود و عملکرد آن معیاری برای ایجاد و ارزیابی سازمان‌های مشابه در سطح ملی و بين‌المللی خواهد بود. محک بر اساس استانداردهای ملی و بين‌المللی دارای برترین جایگاه در بین سازمان‌های مردم‌نهاد بوده و در هر یک از حوزه‌های فعالیت خود نیز یکی از برترین‌ها خواهد بود.</p>
                                <p dir="RTL">
                            </div>
                        </article>
                        <h3 class="single-h3">دیدگاه‌ها</h3>
                        <section class="single-page margin-bottom-0">
                            <div id="respond">
                                <h3 id="reply-title"> <small><a rel="nofollow" id="cancel-comment-reply-link" href="/vision/#respond" style="display:none;">لغو پاسخ</a></small></h3>
                                <form action="https://mahak-charity.org/wp-comments-post.php" method="post" id="commentform" class="form-comment">
                                    <span class="comment-span">دیدگاه خود را بنویسید</span>
                                    <span class="comment-span">* نشانی ایمیل شما منتشر نخواهد شد. بخش‌های موردنیاز علامت‌گذاری شده‌اند</span>
                                    <span class="comment-span">* دیدگاه شما</span>
                                    <p class="logged-in-as">وارد شده با نام <a href="https://mahak-charity.org/wp-admin/profile.php">محمد خاکساری</a>. <a href="https://mahak-charity.org/wp-login.php?action=logout&amp;redirect_to=https%3A%2F%2Fmahak-charity.org%2Fvision%2F&amp;_wpnonce=93df65e702" title="بیرون رفتن از حساب کاربری">بیرون رفتن؟</a></p><textarea id="comment" class="comment-textarea" name="comment" cols="45" rows="11" aria-required="true" placeholder="نظرتان را بنویسید"></textarea><button type="submit" id="submit" value="فرستادن دیدگاه" class="buttons comment-button">ثبت دیدگاه</button>
                                    <input type='hidden' name='comment_post_ID' value='169' id='comment_post_ID' />
                                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                </form>
                            </div>
                        </section>

                    </div>
                </div>
                <aside class="aside">
                    <div class="aside-block">

                        <!--   the box     -->
                        <div class="sidebar-box">
                            <div class="pay-title-block">
                                <h3 class="ptb-h3"> </h3>
                                <span class="ptb-des"><p style="text-align: justify;"><span style="font-size: 10.6667px;">شما هم سهمی در نجات کودکان محک داشته باشید</span></p></span>
                            </div>
                            <a href="https://mahak-charity.org/online-payment/" class="buttons index-pay-button">کمک آنلاین</a>
                        </div>

                        <a href="https://mahak-charity.org/my-account/" class="sidebar-box sb-icons sb-icons-card">
                            تشکیل پروفایل
                        </a>
                        <a href="tel: 02123540" class="sidebar-box sb-icons sb-icons-phone">
                            ۰۲۱-۲۳۵۴۰
                        </a>
                        <a href="https://mahak-charity.org/talk-to-mahak/" class="sidebar-box sb-icons sb-icons-talk">
                            میخواهم با محک گفتگو کنم
                        </a>
                        <a href="tel: *733*23540#" class="sidebar-box sb-icons sb-icons-ussd">
                            *۷۳۳*۲۳۵۴۰#
                        </a>
                    </div>
                </aside>
            </div>
        </div>
    </section>
</main>
