﻿@model Mahak.ViewModel.Comments.CommentViewModel
@using Mahak.Services.Contracts
@inject ISecurityTrimmingService securityTrimmingService

<div id="toolbar">
    <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-url="@Url.Action("DeleteGroup","Tag")">
        <i class="fa fa-trash"></i> | حذف گروهی
    </button>
</div>
<table id="table"
       data-toolbar="#toolbar"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-fullscreen="true"
       data-show-columns="true"
       data-detail-view="true"
       data-show-export="true"
       data-click-to-select="true"
       data-detail-formatter="detailFormatter"
       data-minimum-count-columns="2"
       data-show-pagination-switch="true"
       data-pagination="true"
       data-id-field="id"
       data-page-list="[10, 25, 50, 100, all]"
       data-show-footer="true"
       data-side-pagination="server"
       data-url="/Admin/Comment/GetComments?newsId=@Model.NewsId&&isConfirm=@Model.IsConfirm"
       data-response-handler="responseHandler">
</table>

<script>
    var $table = $('#table')
    var selections = []

    function get_query_params(p) {
        return {
            extraParam: 'abc',
            search: p.title,
            sort: p.sort,
            order: p.order,
            limit: p.limit,
            offset: p.offset
        }
    }

    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1
        })
        return res
    }

    function detailFormatter(index, row) {
            var html = []
            $.each(row, function (key, value) {
                if (key != "state" && key != "Id" && key!="ردیف" && key!="IsConfirm")
                    html.push('<p><b>' + key + ':</b> ' + value + '</p>')
            })
            return html.join('')
    }

    function operateFormatter(value, row, index) {
        var access = "";
        if ('@securityTrimmingService.CanUserAccess(User,"Admin","Comment","ConfirmOrInconfirm")' == 'True') {
            access = access + '<button type="button" class="btn-link text-success" data-toggle="ajax-modal" data-url=@Url.Action("ConfirmOrInconfirm", "Comment")?commentId=' + row.Id + ' title="تایید / عدم تایید"><i class="fa fa-check"></i></button>';
        }
        if ('@securityTrimmingService.CanUserAccess(User,"Admin","Comment","Delete")' == 'True') {
            access = access + '<button type="button" class="btn-link text-danger" data-toggle="ajax-modal" data-url=@Url.Action("Delete", "Comment")/?commentId=' + row.Id + ' title="حذف"><i class="fa fa-trash"></i></button>';
        }
        return access;
    }

    function isConfirmFormatter(value, row, index) {
       var spanClass = "badge badge-success";
       var IsConfirm = "تایید شده";
       if (!row.IsConfirm) {
           IsConfirm = "تایید نشده";
           spanClass = "badge badge-danger";
       }
        return [
           '<span class="' + spanClass + '">' + IsConfirm + '</span>'
        ].join('')
    }

    function checkBoxFormat(value, row) {
       return '<input type="checkbox" name="btSelectItem" value="' + row.Id + '" />';
    }

    function totalTextFormatter(data) {
        return 'تعداد'
    }

    function totalNameFormatter(data) {
        return data.length
    }

    function initTable() {
        $table.bootstrapTable('destroy').bootstrapTable({
            height: 600,
            locale: 'fa-IR',
            columns: [
                [{
                    field: 'state',
                    checkbox: true,
                    rowspan: 2,
                    align: 'center',
                    valign: 'middle',
                    formatter: checkBoxFormat
                }, {
                    title: 'ردیف',
                    field: 'ردیف',
                    rowspan: 2,
                    align: 'center',
                    valign: 'middle',
                    footerFormatter: totalTextFormatter
                }, {
                    title: 'جزئیات اطلاعات دیدگاه ها',
                    colspan: 5,
                    align: 'center'
                }],
                [{
                    field: 'نام',
                    title: 'نام',
                    sortable: true,
                    footerFormatter: totalNameFormatter,
                },{
                    field: 'ایمیل',
                    title: 'ایمیل',
                    sortable: true,
                },{
                    field: 'تاریخ ارسال',
                    title: 'تاریخ ارسال',
                    align: 'center',
                    sortable: true,
                },{
                    field: 'وضعیت',
                    title: 'وضعیت',
                    align: 'center',
                    sortable: true,
                    formatter: isConfirmFormatter
                },{
                    field: 'operate',
                    title: 'عملیات',
                    align: 'center',
                    events: window.operateEvents,
                    formatter: operateFormatter
                }]
            ]
        })
    }

    $(function () {
        initTable()
        $('#locale').change(initTable)
    })
</script>
