﻿@model List<Mahak.ViewModel.Category.TreeViewCategory>
<aside class="shop-aside">
    <div class="sa-box">
        <h3 class="sa-box-h3">دسته بندی‌ها</h3>
        <div class="sa-box-content">
            <ul>
                @foreach (var item in Model.OrderBy(t => t.title))
                {
                    <li>
                        <a href="/product-category/@item.id">@item.title</a>
                        @if (item.subs.Count() != 0)
                        {
                            <ul class="dropdown">
                                @foreach (var sub in item.subs)
                                {
                                    <li><a href="/product-category/@item.id">@sub.title</a></li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</aside>