﻿@model Mahak.ViewModel.UserManager.EmailViewModel
@{
    ViewData["Title"] = "ChangeEmail";
    Layout = "../Shared/_AdminLayout.cshtml";
}


<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">
        <ul class="nav nav-sitemap justify-content-center justify-content-xl-end">
            <li>
                <a class="h4 mb-0 text-white d-lg-inline-block" href="./index.html"> داشبورد </a>
            </li>
            <li class="pr-2 pl-2">
                <i class="fa fa-angle-left text-white align-middle"></i>
            </li>
            <li>
                <a class="h4 mb-0 text-white d-lg-inline-block" href="./index.html">تغییر ایمیل</a>
            </li>
        </ul>
        @await Html.PartialAsync("_AdminLogin")
    </div>
</nav>

<div class="header bg-gradient-primary pb-4 pt-5 pt-md-8"></div>

<div class="container-fluid mt--7">
    <div class="row mt-5">
        <div class="card shadow w-100">
            <div class="card-header font_Vazir_Medium">
                تغییر ایمیل
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.Alert != null)
                        {
                            <div class="alert alert-success alert-dismissable mb-3">
                                @ViewBag.Alert
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }

                        <form asp-action="ChangeEmail" method="post">
                            <input type="hidden" asp-for="Id" />
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-3"></div>
                            <div class="form-group">
                                <label asp-for="OldEmail"></label>
                                <input asp-for="OldEmail" class="form-control" />
                                <span asp-validation-for="OldEmail" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewEmail"></label>
                                <input asp-for="NewEmail" class="form-control" />
                                <span asp-validation-for="NewEmail" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary float-left">تغییر ایمیل</button>
                        </form>
                    </div>
                    <div class="col-md-6 border-right">
                        <p> کاربر عزیز</p>
                        <ul>
                            <li>کلمه عبور شما باید حداقل دارای 6 کاراکتر باشد.</li>
                            <li>در کلمه عبور خود از حروف و اعداد لاتین و کاراکترهای خاص ("#,!,?,^,...") استفاده کنید.</li>
                            <li>لطفا کلمه عبور خود را در فواصل زمانی کوتاه تغییر دهید.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
