﻿<footer class="footer">
    <div class="container">
        <div class="flex-footer">
            <div class="footer-box1">
                <h4 class="footer-h4">دسترسی راحت‌تر به</h4>
                <ul class="footer-ul">
                    <!--                    <li><a href="#">گزارش مالی</a></li>-->
                    <!--                    <li><a href="#">بیمارستان</a></li>-->
                    <!--                    <li><a href="#">کمک به عنوان داوطلب</a></li>-->
                    <!--                    <li><a href="#">مددکاری</a></li>-->
                    <!--                    <li><a href="#">پذیرش</a></li>-->
                    <!--                    <li><a href="#">بازدید از محک</a></li>-->
                    <!--                    <li><a href="--><!--/contact-us">تماس با ما</a></li>-->
                    <div class="menu-class">
                        <ul id="menu-%d9%be%d8%a7%d9%88%d8%b1%d9%82%db%8c" class="menu">
                            <li id="menu-item-119" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-119"><a href="https://mahak-charity.org//financial-reports/">گزارش مالی</a></li>
                            <li id="menu-item-3923" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-3923"><a href="https://mahak-charity.org/hospital/">بیمارستان محک</a></li>
                            <li id="menu-item-121" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-121"><a href="https://mahak-charity.org//terms-and-conditions/">کمک به عنوان داوطلب</a></li>
                            <li id="menu-item-3924" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-3924"><a href="https://mahak-charity.org/assistance-services/">خدمات مددکاری</a></li>
                            <li id="menu-item-3925" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-3925"><a href="https://mahak-charity.org/reception/">نحوه پذیرش</a></li>
                            <li id="menu-item-3926" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-3926"><a href="https://mahak-charity.org/visit/">بازدید ازمحک</a></li>
                            <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="https://mahak-charity.org/contact-us/">تماس با محک</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
            <div class="footer-box2">
                <div class="chart-box">
                    <img src="https://mahak-charity.org/wp-content/uploads/2020/02/medic_5c5527a6bd3653ee883e166dd4433bc2.jpg" alt="chart">
                    <span class="chart-span">نمودار ۵ ساله سرانه درمان</span>
                </div>
                <div class="chart-box">
                    <img src="https://mahak-charity.org/wp-content/uploads/2020/02/D9_86_D9_85_D9_88_D8_AF_D8_A7_D8_B1-5-_D8_B3_D8_A_160d6cbcb097b48f7a08d8429ec6e387.jpg" alt="chart">
                    <span class="chart-span">نمودار ۵ ساله رشد تعداد کودکان تحت حمایت</span>
                </div>
            </div>
            <div class="footer-box3">
                <div class="footer-social-address">
                    <ul class="footer-social">
                        <li><a href="https://www.instagram.com/mahakcharity/?hl=en"><span class="footer-instagram"></span></a></li>
                        <li><a href="https://www.linkedin.com/company/mahak-charity"><span class="footer-linkedin"></span></a></li>
                        <li><a href="mailto:pr@mahak-charity.org"><span class="footer-email"></span></a></li>
                    </ul>
                    <ul class="footer-address">
                        <li>
                            <a href="tel:02123540">
                                <span class="bold-address footer-phone-icon">۰۲۱-۲۳۵۴۰</span>شماره
                                تماس محک
                            </a>
                        </li>
                        <li>
                            <span class="bold-address footer-card-icon">۶۰۳۷ - ۹۹۱۱ - ۹۹۵۰ - ۰۵۹۰</span>شماره کارت
                            موسسه محک
                        </li>
                        <li>
                            <span class="footer-address-icon">آدرس دفتر مرکزی</span>
                            میدان اقدسیه- ابتدای بزرگراه ارتش- سه راه ازگل- بلوار شهید مژدی- بلوار محک- موسسه خیریه و بیمارستان فوق تخصصی سرطان کودکان محک
                        </li>
                    </ul>
                </div>
                <div class="flex-namad">
                    <div class="footer-lightslider-block">
                        <ul>
                            <li>
                                <button class="arrow-button next-button"></button>
                            </li>
                            <li>
                                <button class="arrow-button prev-button"></button>
                            </li>
                        </ul>
                        <div class="footer-lightslider">
                            <div>
                                <a href="https://mahak-charity.org/%d8%aa%d9%86%d8%af%db%8c%d8%b3-%d8%b7%d9%84%d8%a7%db%8c-%da%a9%db%8c%d9%81%db%8c%d8%aa-%d8%a8%d8%b1%d8%a7%db%8c-%d8%a7%d8%b1%d8%a7%d8%a6%d9%87-%d8%ae%d8%af%d9%85%d8%a7%d8%aa-%d8%a8%d8%b1%d8%aa%d8%b1/"><img src="https://mahak-charity.org/wp-content/uploads/2020/02/honor1_3d5d5a3dfa65a6e9165e0ba9faf67e86.jpg" alt=""></a>
                            </div>
                            <div>
                                <a href="https://mahak-charity.org/%da%a9%d8%b3%d8%a8-%d9%86%d8%b4%d8%a7%d9%86-%d8%b7%d9%84%d8%a7%db%8c-%d8%a7%d9%86%d8%ac%d9%85%d9%86-%d8%a8%db%8c%d9%86%e2%80%8c%d8%a7%d9%84%d9%85%d9%84%d9%84%db%8c-%d9%85%d8%af%db%8c%d8%b1%db%8c%d8%aa/"><img src="https://mahak-charity.org/wp-content/uploads/2020/02/honor2_0990b503a4e74f9ce313969b778b5d7c.jpg" alt=""></a>
                            </div>
                            <div>
                                <a href="https://mahak-charity.org/%d8%ae%d8%a7%d9%86%d9%88%d8%a7%d8%af%d9%87-%d8%a8%d8%b2%d8%b1%da%af-%d9%85%d8%ad%da%a9-%d8%af%d8%b1-%d8%b5%d8%af%d8%b1-%d8%ac%d9%87%d8%a7%d9%86-%d8%a7%db%8c%d8%b3%d8%aa%d8%a7%d8%af/"><img src="https://mahak-charity.org/wp-content/uploads/2020/02/honor3_137eda52cdbf526bcfb84d174efe76d6.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <a href="https://trustseal.enamad.ir/Verify.aspx?id=11229&p=nbpdnbpdwkynwkynjzpg" target="_blank">
                        <img id='drftdrftnbpenbpegwmd' style='cursor:pointer' alt='' src='https://trustseal.enamad.ir/logo.aspx?id=11229&p=lznblznbqesgqesgzpfv' />
                    </a>
                </div>
            </div>
        </div>
        <div class="kalhors">کلیه <a href="#">حقوق قانونی وب سایت</a> متعلق به موسسه خیریه محک می باشد</div>
    </div>
</footer>