﻿
@using Mahak.Services.Contracts
@using Mahak.ViewModel.Settings
@inject IWritableOptions<SiteSettings> writableLocations

<header class="header">
    <div class="search-box">
        <div class="container">
            <form asp-controller="Home" asp-action="Index" method="get" class="search-form">
                <input name="s" type="text" placeholder="به دنبال چه چیزی هستید؟" id="input">
                <button type="submit" class="buttons search-button">بگرد</button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="bar">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <a asp-action="Index" asp-controller="Home" class="logo"><img src="/assets/img/@writableLocations.Value.SiteInfo.Logo" alt="logo"></a>
        <div class="overlay"></div>
        <nav class="nav">
            <div class="menu-class">
                <ul id="menu-%d9%81%d9%87%d8%b1%d8%b3%d8%aa-%d8%a7%d8%b5%d9%84%db%8c" class="menu">
                    <li id="menu-item-7" class="about-mahak-icon remove-link menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-7">
                        <a href="https://mahak-charity.org/category/about/">آشنایی با محک</a>
                        <ul class="sub-menu">
                            <li id="menu-item-439" class="remove-link menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-439">
                                <a href="https://mahak-charity.org/category/about/about-about/">درباره محک</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-239" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-239"><a href="/News/2/">معرفی محک</a></li>
                                    <li id="menu-item-165" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-165"><a href="/News/تاریخچه/">تاریخچه و نحوه تأسیس</a></li>
                                    <li id="menu-item-499" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-499"><a href="https://mahak-charity.org/activity/">فعالیت های محک</a></li>
                                    <li id="menu-item-225" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-225"><a href="https://mahak-charity.org/vision/">بیانیه چشم انداز</a></li>
                                    <li id="menu-item-226" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-226"><a href="https://mahak-charity.org/mission/">بیانیه مأموریت</a></li>
                                    <li id="menu-item-228" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-228"><a href="https://mahak-charity.org/message/">پیام مدیرعامل</a></li>
                                    <li id="menu-item-222" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-222"><a href="https://mahak-charity.org/statute/">اساسنامه محک</a></li>
                                    <li id="menu-item-236" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-236"><a href="https://mahak-charity.org/international/">محک از دیدگاه بین الملل</a></li>
                                    <li id="menu-item-500" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-500"><a href="https://mahak-charity.org/category/about/about-about/news/">در محک چه می گذرد؟</a></li>
                                    <li id="menu-item-482" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-482"><a href="https://mahak-charity.org/questions/">سوالات متداول</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-150" class="remove-link menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-150">
                                <a href="https://mahak-charity.org/category/about/pillars/">ارکان محک</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-241" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-241"><a href="https://mahak-charity.org/trustees/">هیأت امنا</a></li>
                                    <li id="menu-item-242" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-242"><a href="https://mahak-charity.org/board-of-directors/">هیأت مدیره</a></li>
                                    <li id="menu-item-238" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-238"><a href="https://mahak-charity.org/manager/">مدیرعامل</a></li>
                                    <li id="menu-item-237" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-237"><a href="https://mahak-charity.org/managers/">مدیران</a></li>
                                    <li id="menu-item-224" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-224"><a href="https://mahak-charity.org/inspector/">بازرس</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-157" class="remove-link menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-157">
                                <a href="https://mahak-charity.org/category/about/organizational-units/">واحدهای سازمانی محک</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-462" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-462"><a href="https://mahak-charity.org/support-services/">خدمات حمایتی</a></li>
                                    <li id="menu-item-483" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-483"><a href="https://mahak-charity.org/participation/">ارتباط با یاوران</a></li>
                                    <li id="menu-item-484" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-484"><a href="https://mahak-charity.org/strategy-and-systems/">استراتژی و سیستم ها</a></li>
                                    <li id="menu-item-231" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-231"><a href="https://mahak-charity.org/candidates/">داوطلبان</a></li>
                                    <li id="menu-item-240" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-240"><a href="https://mahak-charity.org/human-resources/">منابع انسانی</a></li>
                                    <li id="menu-item-5079" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-5079"><a href="https://mahak-charity.org/public-relations/">روابط عمومی و امور بین‌الملل</a></li>
                                    <li id="menu-item-5078" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-5078"><a href="https://mahak-charity.org/it/">فناوری اطلاعات</a></li>
                                    <li id="menu-item-5077" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-5077"><a href="https://mahak-charity.org/financial/">مالی</a></li>
                                    <li id="menu-item-5076" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-5076"><a href="https://mahak-charity.org/official/">اداری</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-156" class="remove-link menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-156">
                                <a href="https://mahak-charity.org/category/about/performance-report/">گزارش عملکرد</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-235" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-235"><a href="https://mahak-charity.org/yearly-reports/">گزارش های سالانه</a></li>
                                    <li id="menu-item-234" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-234"><a href="https://mahak-charity.org/supporting-reports/">گزارش های حمایتی</a></li>
                                    <li id="menu-item-232" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-232"><a href="https://mahak-charity.org/financial-reports/">صورت های مالی و گزارشات بازرس</a></li>
                                    <li id="menu-item-227" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-227"><a href="https://mahak-charity.org/answers/">پاسخ ها</a></li>
                                    <li id="menu-item-233" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-233"><a href="https://mahak-charity.org/twenty-five-year-old-reports/">گزارش های ۲۵ سالگی</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-223" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-223"><a href="https://mahak-charity.org/visit/">بازدید ازمحک</a></li>
                            <li id="menu-item-2331" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2331"><a href="https://mahak-charity.org/contact-us/">تماس با محک</a></li>
                            <li id="menu-item-155" class="remove-link menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-155">
                                <a href="https://mahak-charity.org/category/about/congress/">کنگره های علمی و تخصصی</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-485" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-485"><a href="https://mahak-charity.org/conferences/">همایش‌ها</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-6" class="mahak-service-icon remove-link menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-6">
                        <a href="https://mahak-charity.org/category/services/">خدمات محک</a>
                        <ul class="sub-menu">
                            <li id="menu-item-2680" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2680">
                                <a href="https://mahak-charity.org//assistance-services/">خدمات مددکاری</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-287" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-287"><a href="https://mahak-charity.org/activities/">فعالیت ها</a></li>
                                    <li id="menu-item-274" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-274"><a href="https://mahak-charity.org/parent-forum/">انجمن والدین</a></li>
                                    <li id="menu-item-273" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-273"><a href="https://mahak-charity.org/game-room/">اتاق بازی کودکان</a></li>
                                    <li id="menu-item-272" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-272"><a href="https://mahak-charity.org/celebration/">جشن های کودکان</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-487" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-487">
                                <a href="https://mahak-charity.org/psychological-services/">خدمات روانشناسی</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-288" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-288"><a href="https://mahak-charity.org/psychological-services-for-children/">خدمات روانشناختی کودک</a></li>
                                    <li id="menu-item-286" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-286"><a href="https://mahak-charity.org/family-psychological-services/">خدمات روانشناختی خانواده</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-488" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-488">
                                <a href="https://mahak-charity.org/residential-centers-2/">مراکز اقامتی محک</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-296" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-296"><a href="https://mahak-charity.org/sattarkhan-center/">مرکز رفاهی ستارخان</a></li>
                                    <li id="menu-item-295" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-295"><a href="https://mahak-charity.org/darabad-center/">مرکز رفاهی دارآباد</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-489" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-489">
                                <a href="https://mahak-charity.org/hospital/">بیمارستان محک</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-317" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-317"><a href="https://mahak-charity.org/about-hospital/">درباره بیمارستان</a></li>
                                    <li id="menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-316"><a href="https://mahak-charity.org/hospital-connection-with-charity/">ارتباط بیمارستان با خیریه</a></li>
                                    <li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-315"><a href="https://mahak-charity.org/hospital-sections/">بخش های بیمارستان</a></li>
                                    <li id="menu-item-314" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-314"><a href="https://mahak-charity.org/research/">پژوهش</a></li>
                                    <li id="menu-item-313" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-313"><a href="https://mahak-charity.org/childrens-room/">اتاق کودکان</a></li>
                                    <li id="menu-item-312" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-312"><a href="https://mahak-charity.org/doctor-children/">دکتر کودکان</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-490" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-490">
                                <a href="https://mahak-charity.org/about-cancer/">درمورد سرطان کودک</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-338" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-338"><a href="https://mahak-charity.org/what-is-cancer/">سرطان چیست؟</a></li>
                                    <li id="menu-item-337" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-337"><a href="https://mahak-charity.org/how-to-diagnose/">چگونگی تشخیص و عوارض درمان سرطان</a></li>
                                    <li id="menu-item-336" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-336"><a href="https://mahak-charity.org/cancer-in-children/">سرطان در کودکان</a></li>
                                    <li id="menu-item-335" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-335"><a href="https://mahak-charity.org/nutrition-in-cancer/">تغذیه کودکان مبتلا به سرطان</a></li>
                                    <li id="menu-item-334" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-334"><a href="https://mahak-charity.org/improved-children/">کودکان بهبود یافته</a></li>
                                    <li id="menu-item-333" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-333"><a href="https://mahak-charity.org/books-and-articles/">کتب و مقالات در مورد سرطان کودک</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-318" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-318"><a href="https://mahak-charity.org/reception/">نحوه پذیرش</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-8" class="help-icon remove-link menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-8">
                        <a href="https://mahak-charity.org/category/help/">روش‌های کمک به محک</a>
                        <ul class="sub-menu">
                            <li id="menu-item-4548" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4548">
                                <a href="https://mahak-charity.org//pigs/">قلک محک</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-3899" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3899"><a href="https://mahak-charity.org/request-a-pig/">درخواست قلک</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-4546" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4546">
                                <a href="https://mahak-charity.org//2-membership/">عضویت</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-3902" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3902"><a href="https://mahak-charity.org/membership-request/">درخواست عضویت</a></li>
                                    <li id="menu-item-6256" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6256"><a href="https://mahak-charity.org/pay-membership/">پرداخت حق عضویت</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-493" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-493">
                                <a href="https://mahak-charity.org/assistance-2/">درمان یاری</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-3907" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3907"><a href="https://mahak-charity.org/request-assistance/">می خواهم درمان یار شوم</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-494" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-494">
                                <a href="https://mahak-charity.org/volunteer/">داوطلب</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-384" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-384"><a href="https://mahak-charity.org/terms-and-conditions/">شرایط عضویت در گروه‌های داوطلبین محک</a></li>
                                    <li id="menu-item-383" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-383"><a href="https://mahak-charity.org/volunteer-activities/">فعالیت های داوطلبانه</a></li>
                                    <li id="menu-item-382" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-382"><a href="https://mahak-charity.org/volunteer-council/">شورای داوطلبان</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-495" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-495">
                                <a href="https://mahak-charity.org/rent-a-salon/">اجاره سالن های محک</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-381" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-381"><a href="https://mahak-charity.org/conference-room/">سالن کنفرانس</a></li>
                                    <li id="menu-item-380" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-380"><a href="https://mahak-charity.org/multipurpose-hall/">سالن چندمنظوره</a></li>
                                    <li id="menu-item-379" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-379"><a href="https://mahak-charity.org/amphitheater/">سالن آمفی تئاتر</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-3949" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-3949">
                                <a href="https://mahak-charity.org/product-category/stand-symbol/">استند</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-7041" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7041"><a href="https://mahak-charity.org/product/stand-tabrik/">استند تبریک</a></li>
                                    <li id="menu-item-3955" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-3955"><a href="https://mahak-charity.org/product/sympathy/">استند تسلیت</a></li>
                                    <li id="menu-item-4321" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-4321"><a href="https://mahak-charity.org/product/stand2/">استند صاحب عزا</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-498" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-498">
                                <a href="https://mahak-charity.org/stem-cell-donation/">اهدای سلول بنیادی</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-416" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-416"><a href="https://mahak-charity.org/join-the-center/">عضویت در مرکز</a></li>
                                    <li id="menu-item-415" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-415"><a href="https://mahak-charity.org/contact-center/">ارتباط با مرکز</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-497" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-497">
                                <a href="https://mahak-charity.org/social-responsibility/">مسئولیت اجتماعی</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-419" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-419"><a href="https://mahak-charity.org/introducing-csr/">معرفی csr</a></li>
                                    <li id="menu-item-418" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-418"><a href="https://mahak-charity.org/history-of-csr/">تاریخچه csr در محک</a></li>
                                    <li id="menu-item-417" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-417"><a href="https://mahak-charity.org/csr-projects/">پروژه های تعریف شده csr در محک</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-431" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-431"><a href="https://mahak-charity.org/non-cash-assistance/">کمک غیرنقدی</a></li>
                            <li id="menu-item-9905" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9905"><a href="https://mahak-charity.org/hamdelii/">پیام همدلی</a></li>
                            <li id="menu-item-6257" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6257"><a href="https://mahak-charity.org/online-payment/">پرداخت آنلاین</a></li>
                            <li id="menu-item-429" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-429"><a href="https://mahak-charity.org/account-number/">اطلاعات شماره حساب</a></li>
                            <li id="menu-item-428" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-428"><a href="https://mahak-charity.org/cooperation-rules/">مقررات همکاری با محک</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-8366" class="products-icon menu-item menu-item-type-post_type menu-item-object-page menu-item-8366"><a asp-action="GetCategoriesPaginate" asp-controller="Home">محصولات محک</a></li>
                    <li></li>

                    <li id="menu-item-5166" class="menu-login menu-item menu-item-type-custom menu-item-object-custom menu-item-5166"><a href="https://mahak-charity.org//my-account/"></a></li>
                </ul>
            </div>
        </nav>
        <a href="https://mahak-charity.org/online-payment/" class="online-help">کمک آنلاین</a>
        <div class="other-links">
            <div class="sub-other">
                <button class="search-icon"></button>
                <a href="https://mhk.mahak-charity.org/main/index.php/en" class="en">EN</a>
                @*<a asp-action="SignIn" asp-controller="Account" class="login-register">ورود / ثبت نام</a>*@
                @await Html.PartialAsync("_UserLogin")
            </div>
        </div>
    </div>
</header>