﻿@using Mahak.Services.Contracts
@using Mahak.ViewModel.Settings
@inject IWritableOptions<SiteSettings> writableLocations

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0" />

    <link rel="icon" type="image/svg" href="/assets/img/@writableLocations.Value.SiteInfo.Favicon" />
    <style id='super-products-swatches'>
        .reset_variations {
            display: none !important;
        }

        .sps-swatches > .swatchColor, .sps-swatches > .swatchColor > div {
            width: 18px !important;
            height: 18px !important;
        }

        .sps-swatches .swatch {
            width: 18px !important;
            height: 18px !important;
            line-height: 18px !important;
        }

        .sps-swatches > .swatchColor.selected {
            border: 2px solid #ed145b !important;
        }

        .sps-swatches .swatch.selected {
            border: 2px solid #ed145b !important;
        }

        .sps-swatches .swatch-label-square.selected {
            border: 2px solid #ed145b !important;
        }

        .sps-swatches .swatch-label-circle.selected {
            border: 2px solid #ed145b !important;
        }

        .sps-swatches > .swatchColor {
            border: 2px solid #efefef !important;
        }

        .sps-swatches .swatch, .sps-swatches .swatch-label-circle, .sps-swatches .swatch-label-square {
            border: 2px solid #efefef !important;
        }
    </style>
    <!-- This site is optimized with the Yoast SEO plugin v13.2 - https://yoast.com/wordpress/plugins/seo/ -->
    <title>@writableLocations.Value.SiteInfo.Title</title>
    <meta name="description" content="@writableLocations.Value.SiteInfo.MetaDescriptionTag" />
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="canonical" href="https://mahak-charity.org/" />
    <link rel="next" href="https://mahak-charity.org/page/2/" />
    <meta property="og:locale" content="fa_IR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="موسسه خیریه محک - حمایت از کودکان مبتلا به سرطان" />
    <meta property="og:description" content="حمایت از کودکان مبتلا به سرطان" />
    <meta property="og:url" content="https://mahak-charity.org/" />
    <meta property="og:site_name" content="موسسه خیریه محک" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="حمایت از کودکان مبتلا به سرطان" />
    <meta name="twitter:title" content="موسسه خیریه محک - حمایت از کودکان مبتلا به سرطان" />
    @*<script type='application/ld+json' class='yoast-schema-graph yoast-schema-graph--main'>
            {"@context":"https://schema.org","@graph":[{"@type":"WebSite","@id":"https://mahak-charity.org/#website","url":"https://mahak-charity.org/","name":"\u0645\u0648\u0633\u0633\u0647 \u062e\u06cc\u0631\u06cc\u0647 \u0645\u062d\u06a9","inLanguage":"fa-IR","description":"\u062d\u0645\u0627\u06cc\u062a \u0627\u0632 \u06a9\u0648\u062f\u06a9\u0627\u0646 \u0645\u0628\u062a\u0644\u0627 \u0628\u0647 \u0633\u0631\u0637\u0627\u0646","potentialAction":{"@type":"SearchAction","target":"https://mahak-charity.org/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"CollectionPage","@id":"https://mahak-charity.org/#webpage","url":"https://mahak-charity.org/","name":"\u0645\u0648\u0633\u0633\u0647 \u062e\u06cc\u0631\u06cc\u0647 \u0645\u062d\u06a9 - \u062d\u0645\u0627\u06cc\u062a \u0627\u0632 \u06a9\u0648\u062f\u06a9\u0627\u0646 \u0645\u0628\u062a\u0644\u0627 \u0628\u0647 \u0633\u0631\u0637\u0627\u0646","isPartOf":{"@id":"https://mahak-charity.org/#website"},"inLanguage":"fa-IR","description":"\u062d\u0645\u0627\u06cc\u062a \u0627\u0632 \u06a9\u0648\u062f\u06a9\u0627\u0646 \u0645\u0628\u062a\u0644\u0627 \u0628\u0647 \u0633\u0631\u0637\u0627\u0646"}]}
        </script>*@
    <!-- / Yoast SEO plugin. -->

    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel='stylesheet' id='lightslider-css' href='https://mahak-charity.org/wp-content/themes/kalhors-mahak/css/lightslider.min.css' media='all' />
    <link rel='stylesheet' id='lightgallery-css' href='https://mahak-charity.org/wp-content/themes/kalhors-mahak/css/lightgallery.min.css' media='all' />
    <link rel='stylesheet' id='normalize-css' href='https://mahak-charity.org/wp-content/themes/kalhors-mahak/css/normalize.css' media='all' />
    <link rel='stylesheet' id='PersianDate-css' href='https://mahak-charity.org/wp-content/themes/kalhors-mahak/css/persian-datepicker.css' media='all' />
    <link rel='stylesheet' id='stylesheet-css' href='https://mahak-charity.org/wp-content/themes/kalhors-mahak/style.css' media='all' />
    <link rel='stylesheet' id='wp-block-library-rtl-css' href='https://mahak-charity.org/wp-includes/css/dist/block-library/style-rtl.min.css' media='all' />
    <link rel='stylesheet' id='wc-block-style-rtl-css' href='https://mahak-charity.org/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style-rtl.css' media='all' />
    <link rel='stylesheet' id='wapf-frontend-css-css' href='https://mahak-charity.org/wp-content/plugins/advanced-product-fields-for-woocommerce/assets/css/frontend.min.css' media='all' />
    <link rel='stylesheet' id='woocommerce-layout-rtl-css' href='https://mahak-charity.org/wp-content/plugins/woocommerce/assets/css/woocommerce-layout-rtl.css' media='all' />
    <link rel='stylesheet' id='woocommerce-smallscreen-rtl-css' href='https://mahak-charity.org/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen-rtl.css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='woocommerce-general-rtl-css' href='https://mahak-charity.org/wp-content/plugins/woocommerce/assets/css/woocommerce-rtl.css' media='all' />
    <style id='woocommerce-inline-inline-css'>
        .woocommerce form .form-row .required {
            visibility: visible;
        }
    </style>
    <link rel='stylesheet' id='sps-frontend-css' href='https://mahak-charity.org/wp-content/plugins/super-product-swatches/assets/css/frontend.css' media='all' />
    <script src='https://mahak-charity.org/wp-content/themes/kalhors-mahak/js/jquery-3.4.1.js'></script>
    <script src='https://mahak-charity.org/wp-content/themes/kalhors-mahak/js/index.js'></script>
    <script src='https://mahak-charity.org/wp-content/plugins/mahak/js/num2persian.js'></script>
    <script src='https://mahak-charity.org/wp-content/plugins/mahak/js/html2canvas.js'></script>
    <script>
        /* <![CDATA[ */
        var the_in_url = { "in_url": "https:\/\/mahak-charity.org\/wp-admin\/admin-ajax.php" };
        /* ]]> */
    </script>
    <script src='https://mahak-charity.org/wp-content/plugins/mahak/js/mahak.js'></script>
    <link rel='https://api.w.org/' href='https://mahak-charity.org/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://mahak-charity.org/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://mahak-charity.org/wp-includes/wlwmanifest.xml" />
    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style>
    </noscript>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PGVNDG6');</script>
    <!-- End Google Tag Manager -->
</head>

<body class="rtl home blog theme-kalhors-mahak woocommerce-no-js">
    <div class="woocommerce-notices-shortcode woocommerce"></div>

    <!-- ##### Header Area Start ##### -->
    @await Html.PartialAsync("_Header")
    <!-- ##### Header Area End ##### -->

    <main>
        @RenderBody()
    </main>

    <!-- ##### Footer Area Start ##### -->
    @await Html.PartialAsync("_Footer")
    <!-- ##### Footer Area End ##### -->

    <script>
        var c = document.body.className;
        c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
        document.body.className = c;
    </script>
    <script src='https://mahak-charity.org/wp-content/plugins/mailster/assets/js/form.min.js'></script>
    <script src='https://mahak-charity.org/wp-content/themes/kalhors-mahak/js/lightgallery-all.min.js'></script>
    <script src='https://mahak-charity.org/wp-content/themes/kalhors-mahak/js/lightslider.min.js'></script>
    <script src='https://mahak-charity.org/wp-content/themes/kalhors-mahak/js/lottie.min.js'></script>
    <script src='https://mahak-charity.org/wp-content/themes/kalhors-mahak/js/persian-date.min.js'></script>
    <script src='https://mahak-charity.org/wp-content/themes/kalhors-mahak/js/persian-datepicker.min.js'></script>
    <script src='https://mahak-charity.org/wp-content/themes/kalhors-mahak/js/other.js'></script>
    <script>
        /* <![CDATA[ */
        var wapf_config = { "page_type": "other" };
        /* ]]> */
    </script>
    <script src='https://mahak-charity.org/wp-content/plugins/advanced-product-fields-for-woocommerce/assets/js/frontend.min.js'></script>
    <script src='https://mahak-charity.org/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js'></script>
    <script src='https://mahak-charity.org/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js'></script>
    <script>
        /* <![CDATA[ */
        var woocommerce_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%" };
        /* ]]> */
    </script>
    <script src='https://mahak-charity.org/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js'></script>
    <script>
        /* <![CDATA[ */
        var wc_cart_fragments_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "cart_hash_key": "wc_cart_hash_c2342a37a02726582f714cf2e27cfc6c", "fragment_name": "wc_fragments_c2342a37a02726582f714cf2e27cfc6c", "request_timeout": "5000" };
/* ]]> */
    </script>
    <script src='https://mahak-charity.org/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js'></script>
    <script src='https://mahak-charity.org/wp-content/plugins/super-product-swatches/assets/js/frontend.js'></script>
    <script src='https://mahak-charity.org/wp-includes/js/wp-embed.min.js'></script>
    <link rel='stylesheet' id='su-rtl-shortcodes-css' href='https://mahak-charity.org/wp-content/plugins/shortcodes-ultimate/includes/css/rtl-shortcodes.css' media='all' />

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PGVNDG6"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

</body>
</html>
