﻿@model Mahak.ViewModel.Newsletter.NewsletterViewModel

@*<link href="~/CacheFiles/lib/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" asp-append-version="true" />
<script src="~/CacheFiles/lib/sweetalert2/dist/sweetalert2.min.js" asp-append-version="true"></script>*@

<!--<div class="single-widget newsletter-widget mb-4 border">
    <!-- Section Heading -->
    <!--<div class="section-heading style-2 mb-30">-->
        @*<h4>عضویت در خبرنامه</h4>*@
        <!--<div class="line"></div>
    </div>-->
    @*<p>جهت دریافت جدیدترین اخبار ایمیل خود را وارد کنید.</p>*@@*-->*@
    <!-- Newsletter Form -->
    <!--<div class="newsletter-form">-->
        <form asp-action="RegisterInNewsLetter" asp-controller="NewsLetter" asp-area="Admin" class="mailster-form mailster-form-submit" novalidate>
            <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />

            <input asp-for="Email" class="input mailster-email mailster-required mb-15" placeholder="ایمیل خود را وارد کنید"/>
            <button type="submit" class="mailster-wrapper mailster-submit-wrapper form-submit">عضویت</button>
            @if (ViewData.ModelState.IsValid.ToString() == "False")
            {
                <div asp-validation-summary="All" class="alert alert-danger mt-2"></div>
            }
        </form>
    @*</div>
</div>*@
