﻿
@if (User.Identity.IsAuthenticated)
{
    <form asp-action="SignOut" asp-controller="Account">
        <button type="submit">
            <i class="ni ni-user-run"></i> خروج
        </button>
    </form>
    <a asp-action="Profile" asp-controller="Account" class="btn-link">پنل کاربری</a>
}
else
{
    <a asp-action="SignIn" asp-controller="Account" class="login-register"><i class="fa fa-user"></i> ورود / ثبت نام </a>
}