﻿@model Mahak.ViewModel.Category.CategoryViewModel

<link href="~/lib/comboTreePlugin/comboTreePlugin.css" rel="stylesheet" />
<script src="~/lib/comboTreePlugin/comboTreePlugin.js"></script>

<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @if (Model.CategoryId != null)
                {
                    <h3 id="modal-title">ویرایش اطلاعات دسته بندی</h3>
                }
                else
                {
                    <h3 id="modal-title">افزودن دسته بندی جدید</h3>
                }
                <button type="button" class="close btn-link" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body clearfix">
                <p class="alert alert-warning"><i class="fa fa-exclamation-triangle ml-2"></i>  آدرس  نباید شامل کاراکترهای غیر مجاز فضای خالی و "/","\" باشد. </p>
                <form asp-action="CreateOrUpdate">
                    @if (ViewData.ModelState.IsValid.ToString() == "False")
                    {
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    }
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <input type="hidden" asp-for="CategoryId" />

                    <div class="row p-2 mt-2 mb-2">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label asp-for="CategoryName" class="control-label"></label>
                            </div>
                            <div class="col-md-8">
                                <input asp-for="CategoryName" class="form-control" />
                                <span asp-validation-for="CategoryName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4">
                                <label asp-for="ParentCategoryName" class="control-label"></label>
                            </div>
                            <div class="col-md-8">
                                <input asp-for="ParentCategoryName" class="form-control" />
                                <span asp-validation-for="ParentCategoryName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4">
                                <label asp-for="Title" class="control-label"></label>
                            </div>
                            <div class="col-md-8">
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label asp-for="Url" class="control-label"></label>
                            </div>
                            <div class="col-md-6 pl-0">
                                <input asp-for="Url" class="form-control" />
                            </div>
                            <div class="col-md-6 text-left pr-0">@string.Format("/{0}:://{1}", Context.Request.Scheme, Context.Request.Host)</div>
                            <span asp-validation-for="Url" class="text-danger mt-2"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                <label asp-for="Description" class="control-label"></label>
                            </div>
                            <div class="col-md-9">
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label asp-for="ImageFile" class="control-label"></label>
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="height:200px;  max-width: 400px;">
                                    @if (Model.ImageName != null)
                                    {
                                        <img src="~/images/@Model.ImageName" class="img-thumbnail" />
                                    }
                                    else
                                    {
                                        <img src="~/assets/img/SpecifiedImage.jpg" class="img - thumbnail"/>
                                    }
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="height:200px;"> </div>
                                <div>
                                    <span class="btn default btn-file">
                                        <span class="fileinput-new btn btn-success"> انتخاب کنید </span>
                                        <span class="fileinput-exists btn btn-default"> تغییر عکس </span>
                                        <input type="file" asp-for="ImageFile" accept=".jpg, .png, .jpeg, .gif, .tif, .tiff, .JPG" />
                                    </span>
                                    <a href="javascript:;" class="btn btn-danger fileinput-exists" data-dismiss="fileinput"> حذف </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">بستن</button>
                @if (Model.CategoryId != null)
                {
                    <button type="submit" class="btn btn-sm btn-labeled btn-success mr-1" data-save="modal">
                        ذخیره تغییرات
                    </button>
                }
                else
                {
                    <button type="submit" class="btn btn-sm btn-labeled btn-success mr-1" data-save="modal">
                        افزودن اطلاعات
                    </button>
                }
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function($) {
		    comboTree2 = $('#ParentCategoryName').comboTree({
			    source : @Html.Raw(Json.Serialize(ViewBag.Categories)),
			    isMultiple: false
		    });
    });
</script>
