﻿@model Mahak.ViewModel.Account.MessageUsersViewModel
@using Mahak.Services.Contracts
@inject ISecurityTrimmingService securityTrimmingService

<div id="toolbar">
    <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-url="@Url.Action("DeleteGroup","MessageUsers")">
        <i class="fa fa-trash"></i> | حذف گروهی
    </button>
</div>
<table id="table"
       data-toolbar="#toolbar"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-fullscreen="true"
       data-show-columns="true"
       data-detail-view="true"
       data-show-export="true"
       data-click-to-select="true"
       data-detail-formatter="detailFormatter"
       data-minimum-count-columns="2"
       data-show-pagination-switch="true"
       data-pagination="true"
       data-id-field="id"
       data-page-list="[10, 25, 50, 100, all]"
       data-show-footer="true"
       data-side-pagination="server"
       data-url="/Admin/MessageUsers/GetMessages?userId=@Model.UserId&&IsRegisterCode=@Model.IsRegisterCode"
       data-response-handler="responseHandler">
</table>

<script>
    var $table = $('#table')
    var selections = []

    function get_query_params(p) {
        return {
            extraParam: 'abc',
            search: p.title,
            sort: p.sort,
            order: p.order,
            limit: p.limit,
            offset: p.offset
        }
    }

    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1
        })
        return res
    }

    function detailFormatter(index, row) {
        var html = []
        $.each(row, function (key, value) {
            if (key != "state" && key != "Id" && key != "ردیف" && key != "IsRegisterCode" && key != "نوع پیام" && key != "messageTypes" && key != "تاریخ ثبت")
                html.push('<p><b>' + key + ':</b> ' + value + '</p>')
            if (key == 'متن پیام') {
                html.push('<br><hr/><p><b>' + key + ':</b>' + value + '</p>')
            }
        })
            return html.join('')
    }

    function operateFormatter(value, row, index) {
        var access = "";
        if ('@securityTrimmingService.CanUserAccess(User,"Admin", "MessageUsers", "AnswerMessage")' == 'True') {
            access = access + '<button type="button" class="btn-link text-success" data-toggle="ajax-modal" data-url=@Url.Action("AnswerMessage", "MessageUsers")?messageId=' + row.Id + ' title="تایید / عدم تایید"><i class="fa fa-check"></i></button>';
        }
        if ('@securityTrimmingService.CanUserAccess(User,"Admin", "MessageUsers", "Delete")' == 'True') {
            access = access + '<button type="button" class="btn-link text-danger" data-toggle="ajax-modal" data-url=@Url.Action("Delete", "MessageUsers")/?messageId=' + row.Id + ' title="حذف"><i class="fa fa-trash"></i></button>';
        }
        return access;
    }

    //function isConfirmFormatter(value, row, index) {
    //   var spanClass = "badge badge-success";
    //    var IsRegisterCode = "تایید شده";
    //    if (!row.IsRegisterCode) {
    //       IsRegisterCode = "تایید نشده";
    //       spanClass = "badge badge-danger";
    //   }
    //    return [
    //       '<span class="' + spanClass + '">' + IsConfirm + '</span>'
    //    ].join('')
    //}

    function checkBoxFormat(value, row) {
       return '<input type="checkbox" name="btSelectItem" value="' + row.Id + '" />';
    }

    function totalTextFormatter(data) {
        return 'تعداد'
    }

    function totalNameFormatter(data) {
        return data.length
    }

    function initTable() {
        $table.bootstrapTable('destroy').bootstrapTable({
            height: 600,
            locale: 'fa-IR',
            columns: [
                [{
                    field: 'state',
                    checkbox: true,
                    rowspan: 2,
                    align: 'center',
                    valign: 'middle',
                    formatter: checkBoxFormat
                }, {
                    title: 'ردیف',
                    field: 'ردیف',
                    rowspan: 2,
                    align: 'center',
                    valign: 'middle',
                    footerFormatter: totalTextFormatter
                }, {
                    title: 'جزئیات اطلاعات نظر ها',
                    colspan: 5,
                    align: 'center'
                }],
                [{
                    field: 'ایمیل',
                    title: 'ایمیل',
                    sortable: true,
                    footerFormatter: totalNameFormatter,
                },{
                    field: 'نوع پیام',
                    title: 'نوع پیام',
                    sortable: true,
                },{
                    field: 'تاریخ ثبت',
                    title: 'تاریخ ثبت',
                    align: 'center',
                    sortable: true,
                },{
                    field: 'operate',
                    title: 'عملیات',
                    align: 'center',
                    events: window.operateEvents,
                    formatter: operateFormatter
                }]
            ]
        })
    }

    $(function () {
        initTable()
        $('#locale').change(initTable)
    })
</script>
