﻿@using Mahak.Services.Contracts
@using Mahak.ViewModel.Settings
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject IWritableOptions<SiteSettings> writableLocations
@inject IApplicationUserManager userManager

@{
    var user = await userManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@writableLocations.Value.SiteInfo.MetaDescriptionTag">
    <meta name="author" content="Creative Tim">
    <title>@writableLocations.Value.SiteInfo.Title</title>

    <!-- Favicon -->
    <link href="/assets/img/@writableLocations.Value.SiteInfo.Favicon" rel="icon" type="image/png">
    <!-- Icons -->
    <link href="~/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="~/assets/vendor/fontawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <!-- Argon CSS -->
    <link type="text/css" href="~/assets/css/argon.css?v=1.0.0" rel="stylesheet">
    <script src="~/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/CacheFiles/js/Ajax.js" asp-append-version="true"></script>
    <!-- Loading -->
    <link href="~/CacheFiles/lib/Loading/css/preloader.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/CacheFiles/lib/Loading/js/jquery.preloader.min.js" asp-append-version="true"></script>
    <!-- Sweetalert2 -->
    <link href="~/CacheFiles/lib/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/CacheFiles/lib/sweetalert2/dist/sweetalert2.min.js" asp-append-version="true"></script>
    <!-- DateTimePicker -->
    <link href="~/lib/bootstrap.datetimepicker/css/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
    <script src="~/lib/bootstrap.datetimepicker/js/jquery.md.bootstrap.datetimepicker.js"></script>

    <link href="~/css/bootstrap-fileinput.css" rel="stylesheet" />
    <script src="~/js/bootstrap-fileinput.min.js"></script>
    <!-- Bootstrap Table -->
    <link href="~/CacheFiles/assets/vendor/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/CacheFiles/assets/vendor/bootstrap-table/dist/bootstrap-table.js" asp-append-version="true"></script>
    <script src="~/CacheFiles/assets/vendor/bootstrap-table/dist/extensions/export/tableExport.js" asp-append-version="true"></script>
    <script src="~/CacheFiles/assets/vendor/bootstrap-table/dist/bootstrap-table-locale-all.js" asp-append-version="true"></script>
    <script src="~/CacheFiles/assets/vendor/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js" asp-append-version="true"></script>
</head>

<body>
    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand pt-0" href="./index.html">
                <img src="/assets/img/@writableLocations.Value.SiteInfo.Logo" class="navbar-brand-img" alt="...">
                پنل مدیریت میزفا
            </a>
            <ul class="nav align-items-center d-md-none">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="media align-items-center">
                            <span class="avatar avatar-sm rounded-circle">
                                <img alt="Image placeholder" src="~/avatars/Logo.png">
                            </span>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                        <a href="./examples/profile.html" class="dropdown-item">
                            <i class="ni ni-single-02"></i>
                            <span>نمایه من</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#!" class="dropdown-item">
                            <i class="ni ni-user-run"></i>
                            <span>خروج</span>
                        </a>
                    </div>
                </li>
            </ul>
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-9 collapse-brand">
                            <a href="./index.html">
                                <img src="~/assets/img/Logo.png"> پنل مدیریت میزفا
                            </a>
                        </div>
                        <div class="col-3 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <hr class="my-3">
                @await Html.PartialAsync("_AdminMenu")
            </div>
        </div>
    </nav>
    <div class="main-content">
        @RenderBody()

        <footer class="footer container-fluid">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        2020  &copy;  <a href="/Home/Index" class="font-weight-bold ml-1" target="_blank">سایت میزفا</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="/assets/js/argon.js?v=1.0.0"></script>
    @RenderSection("Scripts", false)
</body>
</html>
