﻿@model Mahak.ViewModel.Customer.CustomerViewModel
@{
    ViewData["Title"] = "AddAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="single">
    <div class="container">
        <div class="page-offset">
            <!-- Breadcrumb -->
            <div class="breadcrumb"><a asp-action="Index" asp-controller="Home">خانه</a> <i></i> <span>حساب کاربری من</span></div>
            <article class="single-page">
                <h1 class="single-h1 page-h1">حساب کاربری من</h1>
                <div class="woocommerce">
                    @await Html.PartialAsync("../Account/_ProfileMenu")

                    <div class="woocommerce-MyAccount-content">
                        <div class="woocommerce-notices-wrapper"></div>
                        <form asp-action="AddAddress">
                            <input type="hidden" asp-for="CustomerId" />
                            @if (ViewData.ModelState.IsValid.ToString() == "False")
                            {
                                <div asp-validation-summary="All" class="alert alert-danger mb-4"></div>
                            }
                            @if (ViewBag.Alert != null)
                            {
                                <div class="alert alert-success alert-dismissable mb-3">
                                    @ViewBag.Alert
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }

                            <h3>آدرس برای ارسال بار : </h3>
                            <div class="woocommerce-address-fields">

                                <div class="woocommerce-address-fields__field-wrapper">
                                    <p class="form-row form-row-first validate-required">
                                        <label class="">نام&nbsp;<abbr class="required" title="ضروری">*</abbr></label>
                                        <span class="woocommerce-input-wrapper">
                                            <input asp-for="FirstName2" type="text" class="input-text " />
                                        </span>
                                    </p>
                                    <p class="form-row form-row-last validate-required">
                                        <label class="">نام خانوادگی&nbsp;<abbr class="required" title="ضروری">*</abbr></label>
                                        <span class="woocommerce-input-wrapper">
                                            <input asp-for="LastName2" type="text" class="input-text " />
                                        </span>
                                    </p>
                                    <p class="form-row form-row-wide">
                                        <label class="">نام شرکت&nbsp;<span class="optional">(اختیاری)</span></label>
                                        <span class="woocommerce-input-wrapper">
                                            <input asp-for="Company2" type="text" class="input-text " />
                                        </span>
                                    </p>
                                    <p class="form-row form-row-wide address-field update_totals_on_change validate-required">
                                        <label class="">کشور&nbsp;<abbr class="required" title="ضروری">*</abbr></label>
                                        <span class="woocommerce-input-wrapper">
                                            <strong>ایران</strong>
                                            <input type="hidden" value="IR" class="country_to_state" readonly="readonly" />
                                        </span>
                                    </p>
                                    <p class="form-row form-row-wide address-field validate-required">
                                        <label class="">آدرس&nbsp;<abbr class="required" title="ضروری">*</abbr></label>
                                        <span class="woocommerce-input-wrapper">
                                            <input asp-for="Address2" type="text" class="input-text " placeholder="پلاک خانه و نام خیابان" />
                                        </span>
                                    </p>
                                    <p class="form-row form-row-wide address-field">
                                        <span class="woocommerce-input-wrapper">
                                            <input asp-for="ContinueAddress" type="text" class="input-text " placeholder="شماره واحد ، بلوک ، پلاک (دلخواه)" />
                                        </span>
                                    </p>

                                    <select name="state" onChange="listOfProvincesAndCities(this.value);">
                                        <option value="0" data-placeholder="انتخاب کنید"></option>
                                        <option value="1">تهران</option>
                                        <option value="2">گیلان</option>
                                        <option value="3">آذربایجان شرقی</option>
                                        <option value="4">خوزستان</option>
                                        <option value="5">فارس</option>
                                        <option value="6">اصفهان</option>
                                        <option value="7">خراسان رضوی</option>
                                        <option value="8">قزوین</option>
                                        <option value="9">سمنان</option>
                                        <option value="10">قم</option>
                                        <option value="11">مرکزی</option>
                                        <option value="12">زنجان</option>
                                        <option value="13">مازندران</option>
                                        <option value="14">گلستان</option>
                                        <option value="15">اردبیل</option>
                                        <option value="16">آذربایجان غربی</option>
                                        <option value="17">همدان</option>
                                        <option value="18">کردستان</option>
                                        <option value="19">کرمانشاه</option>
                                        <option value="20">لرستان</option>
                                        <option value="21">بوشهر</option>
                                        <option value="22">کرمان</option>
                                        <option value="23">هرمزگان</option>
                                        <option value="24">چهارمحال و بختیاری</option>
                                        <option value="25">یزد</option>
                                        <option value="26">سیستان و بلوچستان</option>
                                        <option value="27">ایلام</option>
                                        <option value="28">کهگلویه و بویراحمد</option>
                                        <option value="29">خراسان شمالی</option>
                                        <option value="30">خراسان جنوبی</option>
                                        <option value="31">البرز</option>
                                    </select>
                                    <select name="city" id="city">
                                        <option value="0" data-placeholder="یک شهر انتخاب کنید"></option>
                                    </select>

                                    <p class="form-row form-row-wide address-field validate-required validate-postcode">
                                        <label class="">کدپستی&nbsp;<abbr class="required" title="ضروری">*</abbr></label>
                                        <span class="woocommerce-input-wrapper">
                                            <input asp-for="PostalCode2" type="text" class="input-text " autocomplete="postal-code" />
                                        </span>
                                    </p>
                                </div>
                                <p>
                                    <button type="submit" class="button">ذخیره آدرس</button>
                                </p>
                            </div>
                        </form>
                    </div>

                </div>
            </article>
        </div>
    </div>
</section>

<script src="~/js/city.js"></script>
