﻿@model Mahak.ViewModel.Customer.CustomerViewModel
@using Mahak.Common.Extensions
@{
    ViewData["Title"] = "AddressManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="single">
    <div class="container">
        <div class="page-offset">
            <!-- Breadcrumb -->
            <div class="breadcrumb"><a asp-action="Index" asp-controller="Home">خانه</a> <i></i> <span>حساب کاربری من</span></div>
            <article class="single-page">
                <h1 class="single-h1 page-h1">حساب کاربری من</h1>
                <div class="woocommerce">
                    @await Html.PartialAsync("../Account/_ProfileMenu")

                    <div class="woocommerce-MyAccount-content">
                        <div class="woocommerce-notices-wrapper"></div>
                        <p> آدرس‌های زیر برای ارسال فاکتور و صورت حساب استفاده خواهند شد. </p>
                        <div class="u-columns woocommerce-Addresses col2-set addresses">
                            <div class="u-column1 col-1 woocommerce-Address">
                                <header class="woocommerce-Address-title title">
                                    <h3>آدرس صورتحساب</h3>
                                    <a asp-controller="AddressManager" asp-action="EditAddress" asp-route-userId="@User.Identity.GetUserId()" class="edit">ویرایش</a>
                                </header>
                                <address>
                                    @if (@Model.Address1 == null)
                                    {
                                        @ViewBag.Alert1
                                    }
                                    else
                                    {
                                        <div>@Model.FirstName1 @Model.LastName1</div>
                                        <div>@Model.Province1</div>
                                        <div>@Model.City1</div>
                                        <div>@Model.Address1</div>
                                        <div>@Model.PostalCode1</div>
                                    }
                                </address>
                            </div>

                            <div class="u-column2 col-2 woocommerce-Address">
                                <header class="woocommerce-Address-title title">
                                    <h3>آدرس برای ارسال بار : </h3>
                                    <a asp-controller="AddressManager" asp-action="AddAddress" asp-route-userId="@User.Identity.GetUserId()" class="edit">افزودن</a>
                                </header>
                                <address>
                                    @if (@Model.Address2 == null)
                                    {
                                        @ViewBag.Alert2
                                    }
                                    else
                                    {
                                        <div>@Model.FirstName2 @Model.LastName2</div>
                                        <div>@Model.Province2</div>
                                        <div>@Model.City2</div>
                                        <div>@Model.Address2</div>
                                        @if (Model.ContinueAddress != null)
                                        {
                                            <div>@Model.ContinueAddress</div>
                                        }
                                        <div>@Model.PostalCode2</div>
                                    }
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
