﻿@model Mahak.ViewModel.Customer.CustomerViewModel
@{
    ViewData["Title"] = "EditAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/comboTreePlugin/comboTreePlugin.css" rel="stylesheet" />
<script src="~/lib/comboTreePlugin/comboTreePlugin.js"></script>

<section class="single">
    <div class="container">
        <div class="page-offset">
            <!-- Breadcrumb -->
            <div class="breadcrumb"><a asp-action="Index" asp-controller="Home">خانه</a> <i></i> <span>حساب کاربری من</span></div>
            <article class="single-page">
                <h1 class="single-h1 page-h1">حساب کاربری من</h1>
                <div class="woocommerce">
                    @await Html.PartialAsync("../Account/_ProfileMenu")

                    <div class="woocommerce-MyAccount-content">
                        <div class="woocommerce-notices-wrapper"></div>
                        <form asp-action="EditAddress">
                            <input type="hidden" asp-for="CustomerId" />
                            @if (ViewData.ModelState.IsValid.ToString() == "False")
                            {
                                <div asp-validation-summary="All" class="alert alert-danger mb-4"></div>
                            }
                            @if (ViewBag.Alert != null)
                            {
                                <div class="alert alert-success alert-dismissable mb-3">
                                    @ViewBag.Alert
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }

                            <h3>آدرس صورتحساب</h3>
                            <div class="woocommerce-address-fields">
                                <div class="woocommerce-address-fields__field-wrapper">
                                    <p class="form-row form-row-first validate-required">
                                        <label for="billing_first_name" class="">نام&nbsp;<abbr class="required" title="ضروری">*</abbr></label>
                                        <span class="woocommerce-input-wrapper">
                                            <input asp-for="FirstName1" type="text" class="input-text " />
                                        </span>
                                    </p>
                                    <p class="form-row form-row-last validate-required">
                                        <label for="billing_last_name" class="">نام خانوادگی&nbsp;<abbr class="required" title="ضروری">*</abbr></label>
                                        <span class="woocommerce-input-wrapper">
                                            <input asp-for="LastName1" type="text" class="input-text " />
                                        </span>
                                    </p>
                                    <p class="form-row form-row-wide">
                                        <label for="billing_company" class="">نام شرکت&nbsp;<span class="optional">(اختیاری)</span></label>
                                        <span class="woocommerce-input-wrapper">
                                            <input asp-for="Company1" type="text" class="input-text " placeholder="" />
                                        </span>
                                    </p>
                                    <p class="form-row form-row-wide address-field validate-required">
                                        <label for="billing_address_1" class="">آدرس&nbsp;<abbr class="required" title="ضروری">*</abbr></label>
                                        <span class="woocommerce-input-wrapper">
                                            <input asp-for="Address1" type="text" class="input-text " placeholder="پلاک خانه و نام خیابان" />
                                        </span>
                                    </p>

                                    <select asp-for="Province1" name="state" onChange="listOfProvincesAndCities(this.value);">
                                        <option>انتخاب کنید</option>
                                        <option value="EAZ">آذربایجان شرقی</option>
                                        <option value="WAZ">آذربایجان غربی</option>
                                        <option value="ADL">اردبیل</option>
                                        <option value="ESF">اصفهان</option>
                                        <option value="ABZ">البرز</option>
                                        <option value="ILM">ایلام</option>
                                        <option value="BHR">بوشهر</option>
                                        <option value="THR">تهران</option>
                                        <option value="CHB">چهارمحال و بختیاری</option>
                                        <option value="SKH">خراسان جنوبی</option>
                                        <option value="NKH">خراسان شمالی</option>
                                        <option value="RKH">خراسان رضوی</option>
                                        <option value="KHZ">خوزستان</option>
                                        <option value="ZJN">زنجان</option>
                                        <option value="SMN">سمنان</option>
                                        <option value="SBN">سیستان و بلوچستان</option>
                                        <option value="FRS">فارس</option>
                                        <option value="GZN">قزوین</option>
                                        <option value="QHM">قم</option>
                                        <option value="KRD">کردستان</option>
                                        <option value="KRN">کرمان</option>
                                        <option value="KRH">کرمانشاه</option>
                                        <option value="KBD">کهگیلویه و بویراحمد</option>
                                        <option value="GLS">گلستان</option>
                                        <option value="GIL">گیلان</option>
                                        <option value="LRS">لرستان</option>
                                        <option value="MZN">مازندران</option>
                                        <option value="MKZ">مرکزی</option>
                                        <option value="HRZ">هرمزگان</option>
                                        <option value="HDN">همدان</option>
                                        <option value="YZD">یزد</option>
                                    </select>
                                    <select asp-for="City1" name="city" id="city">
                                        <option>یک شهر انتخاب کنید</option>
                                    </select>

                                    </p><p class="form-row form-row-wide address-field validate-required validate-postcode">
                                        <label for="billing_postcode" class="">کدپستی&nbsp;<abbr class="required" title="ضروری">*</abbr></label>
                                        <span class="woocommerce-input-wrapper">
                                            <input asp-for="PostalCode1" type="text" class="input-text " />
                                        </span>
                                    </p>
                                    <p class="form-row form-row-wide validate-required validate-phone">
                                        <label for="billing_phone" class="">تلفن همراه&nbsp;<abbr class="required" title="ضروری">*</abbr></label>
                                        <span class="woocommerce-input-wrapper">
                                            <input asp-for="PhoneNumber1" type="tel" class="input-text " />
                                        </span>
                                    </p>
                                    <p class="form-row form-row-wide validate-email">
                                        <label class="">آدرس ایمیل&nbsp;<span class="optional">(اختیاری)</span></label>
                                        <span class="woocommerce-input-wrapper">
                                            <input asp-for="Email" type="email" class="input-text" />
                                        </span>
                                    </p>
                                </div>

                                <p>
                                    <button type="submit" class="button">ذخیره آدرس</button>
                                </p>
                            </div>
                        </form>
                    </div>

                </div>
            </article>
        </div>
    </div>
</section>

<script src="~/js/city.js"></script>
