﻿@using Mahak.Services.Contracts
@inject ISecurityTrimmingService securityTrimmingService

<div id="toolbar">
    <a class="btn btn-success text-white" asp-action="CreateOrUpdate">
        <i class="fa fa-plus"></i> | افزودن محصول جدید
    </a>
    <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-url="@Url.Action("DeleteGroup","Product")">
        <i class="fa fa-trash"></i> | حذف گروهی
    </button>
</div>

<table id="table"
       data-toolbar="#toolbar"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-fullscreen="true"
       data-show-columns="true"
       data-detail-view="true"
       data-show-export="true"
       data-click-to-select="true"
       data-detail-formatter="detailFormatter"
       data-minimum-count-columns="2"
       data-show-pagination-switch="true"
       data-pagination="true"
       data-id-field="id"
       data-page-list="[10, 25, 50, 100, all]"
       data-show-footer="true"
       data-side-pagination="server"
       data-url="/Admin/Product/GetProducts"
       data-response-handler="responseHandler">
</table>
<script>
    var $table = $('#table')
    var selections = []


    function get_query_params(p) {
        return {
            extraParam: 'abc',
            search: p.title,
            sort: p.sort,
            order: p.order,
            limit: p.limit,
            offset: p.offset
        }
    }


    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1
        })
        return res
    }


    function detailFormatter(index, row) {
        var html = []
        $.each(row, function (key, value) {
            if (key != "state" && key != "Id" && key != "آدرس" && key != "ردیف" && key != "تاریخ ساخت" && key != "تعداد دیدگاه ها" && key != "تصویر محصول" && key != "کد محصول")
                html.push('<p><b>' + key + ':</b> ' + value + '</p>')
            if (key == "تصویر محصول") {
                var url = '@string.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host)' + '/images/' + value;
                html.push('<p><b>' + key + ':</b> <img src="' + url + '" height="50" /></p>')
            }
            if (key == 'آدرس') {
                var url = '@string.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host)' + '/Product/' + row.Id + '/' + value;
                html.push('<p><b style="float:right">' + key + ':</b> ' + '<a href="' + url +'" style="float:right;direction:ltr;margin-right:2px;">'  + url + '</a>' + '</p>')
            }
            if(key == 'توضیحات'){
                html.push('<br><hr/><p><b>' + key + ':</b>' + value + '</p>')
            }
        })
        return html.join('')
    }


    function operateFormatter(value, row, index) {
        var access = "";
        if ('@securityTrimmingService.CanUserAccess(User,"Admin", "Product", "CreateOrUpdate")' == 'True') {
            access = access + '<a class="text-success" href="/Admin/Product/CreateOrUpdate?productId=' + row.Id + '" title="ویرایش"><i class="fa fa-edit"></i></a>';
        }
        if ('@securityTrimmingService.CanUserAccess(User,"Admin", "Product", "Delete")' == 'True') {
            access = access + '<button type="button" class="btn-link text-danger" data-toggle="ajax-modal" data-url=@Url.Action("Delete", "Product")/?productId=' + row.Id + ' title="حذف"><i class="fa fa-trash"></i></button >';
        }
        return access;
    }


    function checkBoxFormat(value, row) {
       return '<input type="checkbox" name="btSelectItem" value="' + row.Id + '" />';
    }


    function totalTextFormatter(data) {
        return 'تعداد'
    }


    function totalNameFormatter(data) {
        return data.length
    }


    function initTable() {
        $table.bootstrapTable('destroy').bootstrapTable({
            height: 600,
            locale: 'fa-IR',
            columns: [
                [{
                    field: 'state',
                    checkbox: true,
                    rowspan: 2,
                    align: 'center',
                    valign: 'middle',
                    formatter: checkBoxFormat
                }, {
                    title: 'ردیف',
                    field: 'ردیف',
                    rowspan: 2,
                    align: 'center',
                    valign: 'middle',
                    footerFormatter: totalTextFormatter
                }, {
                    title: 'جزئیات اطلاعات محصولات',
                    colspan: 9,
                    align: 'center'
                }],
                [{
                    field: 'نام محصول',
                    title: 'نام محصول',
                    sortable: true,
                    footerFormatter: totalNameFormatter,
                },{
                    field: 'دسته',
                    title: 'دسته',
                    sortable: true,
                    align: 'center'
                }, {
                    field: 'قیمت',
                    title: 'قیمت',
                    sortable: true,
                    align: 'center'
                }, {
                    field: 'موجودی',
                    title: 'موجودی',
                    sortable: true,
                    align: 'center'
                }, {
                    field: 'تاریخ ساخت',
                    title: 'تاریخ ساخت',
                    sortable: true,
                    align: 'center'
                }, {
                    field: 'operate',
                    title: 'عملیات',
                    align: 'center',
                    events: window.operateEvents,
                    formatter: operateFormatter
                }]
            ]
        })
    }


    $(function () {
        initTable()
        $('#locale').change(initTable)
    })
</script>
