﻿@model Mahak.ViewModel.Product.ProductViewModel
@using Mahak.Common.Extensions;

@{
    ViewData["Title"] = "RenderProduct";
    Layout = "../Shared/_AdminLayout.cshtml";
}

<link href="~/CacheFiles/lib/croppie/croppie.css" rel="stylesheet" asp-append-version="true" />
<script src="~/CacheFiles/lib/croppie/croppie.min.js" asp-append-version="true"></script>

<link href="~/CacheFiles/lib/treeView/TreeView.css" rel="stylesheet" asp-append-version="true" />
<script src="~/CacheFiles/lib/treeView/TreeView.js" asp-append-version="true"></script>

<link href="~/CacheFiles/lib/Bootstrap4-tags-inputmaster/css/typeahead.css" asp-append-version="true" rel="stylesheet" />
<script src="~/CacheFiles/lib/Bootstrap4-tags-inputmaster/js/tagsinput.js" asp-append-version="true"></script>
<script src="~/CacheFiles/lib/Bootstrap4-tags-inputmaster/js/typeahead.js" asp-append-version="true"></script>

<link href="~/CacheFiles/lib/clockPicker/bootstrap-clockpicker.min.css" rel="stylesheet" asp-append-version="true" />
<script src="~/CacheFiles/lib/clockPicker/bootstrap-clockpicker.min.js" asp-append-version="true"></script>

<script src="~/CacheFiles/lib/tinymce/tinymce.min.js" asp-append-version="true"></script>

<style>

    label.cabinet {
        display: block;
        cursor: pointer;
    }

        label.cabinet input.file {
            position: relative;
            opacity: 0;
            -moz-opacity: 0;
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
            margin-top: -30px;
        }

    #upload-demo {
        width: 790px;
        height: 550px;
        padding-bottom: 25px;
    }


    .modal-dialog {
        max-width: 57%;
        margin: 1.75rem auto;
    }

    .tt-hint {
        right: 0px !important;
    }
</style>

<div id="modal-placeholder"></div>
<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">
        <!-- Brand -->
        <ul class="nav nav-sitemap justify-content-center justify-content-xl-end">
            <li>
                <a class="h4 mb-0 text-white d-lg-inline-block" href="./index.html"> داشبورد </a>
            </li>
            <li class="pr-2 pl-2">
                <i class="fa fa-angle-left text-white align-middle"></i>
            </li>
            @if (Model.ProductId.HasValue())
            {
                <li>
                    <a class="h4 mb-0 text-white d-lg-inline-block" asp-action="CreateOrUpdate" asp-route-newsId="@Model.ProductId">ویرایش محصول </a>
                </li>
            }
            else
            {
                <li>
                    <a class="h4 mb-0 text-white d-lg-inline-block" asp-action="CreateOrUpdate">افزودن محصول جدید</a>
                </li>
            }
        </ul>

        <!-- User -->
        @await Html.PartialAsync("_AdminLogin")
    </div>
</nav>

<div class="header bg-gradient-primary pb-4 pt-5 pt-md-8"></div>

<div class="container-fluid mt--7">
    <div class="row mt-5">
        <div class="card shadow w-100">
            <div class="card-header font_Vazir_Medium">
                @if (Model.ProductId.HasValue())
                {
                    <span>ویرایش محصول</span>
                }
                else
                {
                    <span>افزودن محصول </span>
                }
            </div>
            <form asp-action="CreateOrUpdate" asp-controller="Product">
                <input type="hidden" asp-for="ProductId" />
                <div class="card-body">
                    @if (ViewBag.Alert != null)
                    {
                        <div class="col-md-12">
                            <div class="alert alert-success mb-4 alert-dismissable">
                                @ViewBag.Alert
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <input asp-for="ProductName" class="form-control" placeholder="نام محصول" />
                                    <span asp-validation-for="ProductName" class="text-danger"></span>
                                </div>

                                <div class="col-md-6">
                                    <input asp-for="ProductCode" class="form-control" placeholder="کد محصول" />
                                    <span asp-validation-for="ProductCode" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-1">
                                    <label asp-for="Price" class="control-label"></label>
                                </div>
                                <div class="col-md-5">
                                    <input asp-for="Price" class="form-control" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>

                                <div class="col-md-1">
                                    <label asp-for="Stock" class="control-label"></label>
                                </div>
                                <div class="col-md-5">
                                    <input asp-for="Stock" class="form-control" />
                                    <span asp-validation-for="Stock" class="text-danger"></span>
                                </div>
                            </div>

                            <p class="alert alert-warning"><i class="fa fa-exclamation-triangle ml-2"></i>  آدرس  نباید شامل کاراکترهای غیر مجاز فضای خالی و "/","\" باشد. </p>
                            <div class="form-group row">
                                <div class="col-md-9 p-0">
                                    <input asp-for="Url" class="form-control text-left" placeholder="...Enter Url" />
                                </div>
                                <div class="col-md-3 text-left p-0">@string.Format("/{0}:://{1}", Context.Request.Scheme, Context.Request.Host)</div>
                                <span asp-validation-for="Url" class="text-danger"></span>
                            </div>
                            <textarea id="mytextarea" asp-for="Description"></textarea>
                            @Html.Raw(Model.Description)
                        </div>

                        <div class="col-md-3">
                            <div class="card mb-2">
                                <div class="modal-footer">
                                    @if (Model.ProductId != null)
                                    {
                                        <button type="submit" class="btn btn-sm btn-labeled btn-success mr-1" data-save="modal">
                                            ذخیره تغییرات
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-sm btn-labeled btn-success mr-1" data-save="modal">
                                            افزودن اطلاعات
                                        </button>
                                    }
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text cursor-pointer" id="CreateDate">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        <input asp-for="PersianCreateDate" class="form-control" id="InputCreateDate" style="direction:ltr" placeholder="تاریخ ساخت محصول"/>
                                    </div>
                                    <span asp-validation-for="PersianCreateDate" class="text-danger"></span>
                                </div>

                                <div class="card mb-2">                                    
                                    <div class="card-header pt-2 pb-2 bg-light">دسته بندی</div>
                                    <div class="card-body">
                                        <ul id="category" class="demo1">
                                            @foreach (var item in Model.ProductCategoriesViewModel.Categories)
                                            {
                                                <li>
                                                    @if (Model.ProductCategoriesViewModel.CategoryIds != null)
                                                    {
                                                        if (Model.ProductCategoriesViewModel.CategoryIds.Contains(item.id))
                                                        {
                                                            <input type="checkbox" name="CategoryIds" value="@item.id" checked /> @item.title
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" name="CategoryIds" value="@item.id" /> @item.title
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="CategoryIds" value="@item.id" /> @item.title
                                                    }

                                                    @{ Model.ProductCategoriesViewModel.Categories = item.subs;}
                                                    @await Html.PartialAsync("_SubCategories", Model.ProductCategoriesViewModel)
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>

                                <div class="card mb-2">
                                    <div class="card-header pt-2 pb-2 bg-light">تصویر محصول</div>
                                    <div class="card-body">
                                        <label class="cabinet center-block">
                                            <span>
                                                @if (Model.ImageName.HasValue())
                                                {
                                                    <img src="~/images/@Model.ImageName" class="gambar img-responsive img-thumbnail" id="item-img-output" height="50" />
                                                }
                                                else
                                                {
                                                    <img src="~/assets/img/SpecifiedImage.jpg" class="gambar img-responsive img-thumbnail" id="item-img-output" height="50" />
                                                }
                                                <input type="hidden" asp-for="ImageFile" id="base64" />
                                                <a class="btn btn-success btn-sm btn-block mt-2 text-white">
                                                    <span><i class="fa fa-camera"></i></span> انتخاب کنید ...
                                                </a>
                                            </span>
                                            <input type="file" class="item-img file center-block" name="file_photo" />
                                        </label>
                                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    برش تصویر شاخص
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div id="upload-demo" class="center-block"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">بستن</button>
                <button type="button" id="cropImageBtn" class="btn btn-sm btn-primary mr-2">برش</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

    //tinymce
    tinymce.init({
        selector: '#mytextarea',
        height: 350,
        plugins: 'print preview fullscreen image link media template codesample table charmap hr help',
        toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat |fullscreen',
        language: 'fa_IR',
        directionality: 'rtl',
        images_upload_url: '/Admin/News/UploadNewsImage'
    });


    //treeView
    $('.demo1').bonsai();


    //DatePicker
    $("#CreateDate").MdPersianDateTimePicker({
        targetTextSelector: "#InputCreateDate",
        placement: 'top',
    });


    //Crop
    var $uploadCrop,
        tempFilename,
        rawImg,
        imageId;
    function readFile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('.upload-demo').addClass('ready');
                $('#cropImagePop').modal('show');
                rawImg = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
        else {
            swal("Sorry - you're browser doesn't support the FileReader API");
        }
    }

    $uploadCrop = $('#upload-demo').croppie({
        viewport: {
            width: 740,
            height: 500,
        },
        enforceBoundary: false,
        enableExif: true
    });
    $('#cropImagePop').on('shown.bs.modal', function () {
        $uploadCrop.croppie('bind', {
            url: rawImg
        }).then(function () {
            console.log('jQuery bind complete');
        });
    });

    $('.item-img').on('change', function () {
        imageId = $(this).data('id'); tempFilename = $(this).val();
        $('#cancelCropBtn').data('id', imageId); readFile(this);
    });

    $('#cropImageBtn').on('click', function (ev) {
        $uploadCrop.croppie('result', {
            type: 'base64',
            format: 'jpeg',
            size: { width: 740, height: 500 }
        }).then(function (resp) {
            $('#item-img-output').attr('src', resp);
            $("#base64").val(resp.split(',')[1]);
            $('#cropImagePop').modal('hide');
        });
    });


</script>

