﻿@model Mahak.ViewModel.Account.RegisterViewModel

<form asp-action="Register" asp-controller="Account">
    @if (ViewData.ModelState.IsValid.ToString() == "False")
    {
        <div asp-validation-summary="All" class="alert alert-danger"></div>
    }
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />

    <div class="form-group">
        <label>ایمیل <span class="text-danger">*</span></label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <input asp-for="Email" class="form-control form-control-lg" placeholder="ایمیل خود را وارد کنید ...">
        </div>
    </div>
    <div class="form-group">
        <label>نام کاربری <span class="text-danger">*</span></label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <input asp-for="UserName" class="form-control form-control-lg" placeholder="نام کاربری خود را وارد کنید...">
        </div>
    </div>
    <div class="form-group">
        <label>کلمه عبور <span class="text-danger">*</span></label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <input asp-for="Password" type="password" class="form-control form-control-lg" placeholder="*********">
        </div>
    </div>
    <div class="form-group">
        <label>تکرار کلمه عبور <span class="text-danger">*</span></label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <input asp-for="ConfirmPassword" type="password" class="form-control form-control-lg" placeholder="*********">
        </div>
    </div>
</form>
