﻿
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="single">
    <div class="container">
        <div class="page-offset">
            <!-- Breadcrumb -->
            <div class="breadcrumb"><a asp-action="Index" asp-controller="Home">خانه</a> <i></i> <span>حساب کاربری من</span></div>
            <article class="single-page">
                <h1 class="single-h1 page-h1">حساب کاربری من</h1>
                <div class="woocommerce">
                    @await Html.PartialAsync("_ProfileMenu")

                    <div class="woocommerce-MyAccount-content">
                        <div class="woocommerce-notices-wrapper"></div>
                        <div class="flex-hamdeli">
                            <div>
                                <img src="https://mahak-charity.org/wp-content/themes/kalhors-mahak/images/cloud-flower.jpg" alt="Hamdeli">
                            </div>
                            <div>
                                <h2 class="hamdeli-h2">پیام همدلی محک</h2>
                                <div class="hamdeli-text">
                                    فاصله گذاری اجتماعی همه ما را از عزیزانمان دور کرده است. اما این دوری نباید دلیلی برای پایان همدلی‌ها باشد. در این شرایط سخت هم می‌توانیم صدای همدلی‌مان را به آنها برسانیم.
                                </div>
                                <div class="hamdeli-text">
                                    <span>پیام همدلی محک </span> فضایی برای همراهی با عزیزانمان در لحظات <span>شادی</span> و <span>غم</span> است و در این روزهای سخت که باید برای حفظ سلامتی از هم دور بمانیم، روش جدیدی است تا مهرمان را به آنهایی که دوستشان داریم برسانیم و در تأمین هزینه دارو و درمان کودکان محک سهیم باشیم.
                                </div>
                                <div class="hamdeli-text hamdeli-intro">
                                    با سفارش و ارسال <span>پیام تبریک و تسلیت</span> از طریق <span>پیام همدلی محک</span> به‌ صورت آنلاین (ایمیل، واتس‌اپ و پیامک)، همراهی با عزیزانمان را به نجات زندگی کودکان مبتلا به سرطان پیوند بزنیم.
                                </div>
                                <ul class="flex-hamdeli-links">
                                    <li><a asp-controller="Account" asp-action="Tabrik" class="hamdeli-tabrik">همدلی جهت تبریک</a></li>
                                    <li><a asp-controller="Account" asp-action="Tasliat" class="hamdeli-tasliat">همدلی جهت تسلیت</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </article>
        </div>
    </div>
</section>