﻿
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="single">
    <div class="container">
        <div class="page-offset">
            <!-- Breadcrumb -->
            <div class="breadcrumb"><a asp-action="Index" asp-controller="Home">خانه</a> <i></i> <span>حساب کاربری من</span></div>
            <article class="single-page">
                <h1 class="single-h1 page-h1">حساب کاربری من</h1>
                <div class="woocommerce">
                    @await Html.PartialAsync("_ProfileMenu")

                    <div class="woocommerce-MyAccount-content">
                        <div class="woocommerce-notices-wrapper"></div><div class="">
                            <a href="https://mahak-charity.org/" class="fetrieh-logo"></a>
                            <div class="fetrieh-first">
                                <div class="">
                                    <div class="row">
                                        <div class="fetrieh-half">
                                            <div class="fetrieh-des">
                                                <span>در این روزها که دستانمان دور اما قلبهایمان نزدیک است</span>، با پرداخت مبالغ کفاره و فطریه به محک می‌توانیم نجات‌بخش زندگی قهرمانان کوچکی باشیم که در هر شرایطی باید سرسختانه با سرطان بجنگند.
                                            </div>
                                            <h2 class="fetrieh-title">مبلغ فطریه و کفاره رمضان ۹۹</h2>
                                            <span class="fetrieh-title-span">حداقل مبلغ فطریه سال ۹۹ برای هر نفر:</span>
                                            <ul class="fetrieh-ul">
                                                <li>بر مبنای قوت غالب گندم = ۱۰۰۰۰۰ ریال</li>
                                                <li>بر مبنای قوت غالب برنج = ۱۰۰۰۰۰ ریال</li>
                                            </ul>
                                            <div class="fetrieh-button-block">
                                                <div class="fbb-white">
                                                    <button class="pay-fetrieh">پرداخت فطریه</button>
                                                </div>
                                            </div>
                                            <span class="fetrieh-title-span">کفاره روزه سال ۹۹:</span>
                                            <ul class="fetrieh-ul">
                                                <li>غیر عمد = روزی  ۳۰۰۰۰ ریال</li>
                                                <li>عمد = روزی  ۱۸۰۰۰۰۰ ریال</li>
                                            </ul>
                                            <div class="fetrieh-button-block">
                                                <div class="fbb-white">
                                                    <button class="pay-kafareh">پرداخت کفاره روزه</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="fetrieh-second">
                                <div class="">
                                    <span class="fetrieh-back">برگشت</span>

                                    <form class="fetrieh-form" method="POST">
                                        <h2 class="fetrieh-title">پرداخت فطریه</h2>
                                        <span class="fetrieh-title-span">نحوه محاسبه:</span>
                                        <ul class="fetrieh-ul">
                                            <li>بر مبنای قوت غالب گندم = ۱۰۰۰۰۰ ریال</li>
                                            <li>بر مبنای قوت غالب برنج = ۱۰۰۰۰۰ ریال</li>
                                        </ul>
                                        <div class="fetrieh-row">
                                            <span class="fr-span">سیادت</span>
                                            <label class="radio"><input type="radio" checked value="public" name="ftype">فطریه عام</label>
                                            <label class="radio"><input type="radio" value="sadat" name="ftype">فطریه سادات</label>
                                        </div>
                                        <div class="fetrieh-row">
                                            <span class="fr-span">قوت غالب</span>
                                            <label class="radio"><input class="fcal" data-price="100000" type="radio" checked value="fgandom" name="ftypecal">محاسبه بر اساس گندم</label>
                                            <label class="radio"><input class="fcal" data-price="100000" type="radio" value="fbrenj" name="ftypecal">محاسبه بر اساس برنج</label>
                                        </div>
                                        <div class="fetrieh-row">
                                            <span class="fr-span">تعداد نفرات</span>
                                            <div class="FormUnit FormUnit--spin js_spin" id="fclickbtn">
                                                <input class="FormUnit-field FormUnit-field--spin js_spin-input fqty" type="number" min="1" max="999" step="1" value="1" name="quantity">
                                            </div>
                                        </div>
                                        <div class="fetrieh-row">
                                            <span class="fr-span">مبلغ</span>
                                            <ul class="fetrieh-result">
                                                <li><span class="fprice-out-n">۲۰۰,۰۰۰</span> ریال</li>
                                                <li><span class="fprice-out-w">دویست هزار</span> ریال</li>
                                            </ul>
                                        </div>
                                        <div class="fetrieh-change">در صورت نیاز به تغییر مبلغ نهایی این <span>گزینه</span> را انتخاب کنید</div>

                                        <div class="flex-port">
                                            <label class="mellat-port">
                                                <input checked type="radio" name="port" value="melat">
                                                ملت
                                            </label>
                                            <label class="saman-port">
                                                <input type="radio" name="port" value="saman">
                                                سامان
                                            </label>
                                        </div>

                                        <button type="submit" name="newf" class="buttons comment-button"> پرداخت </button>
                                    </form>
                                    <form class="fetrieh-form fetrieh-form-free" method="POST">
                                        <div class="fetrieh-row">
                                            <span class="fr-span">مبلغ دلخواه</span>
                                            <ul class="fetrieh-result">
                                                <li><input class="fetrieh-input" name="pricef" id="pricef" type="number" placeholder="وارد کنید"> ریال</li>
                                                <li class="alphabet-result"><span id="pricef-out"></span> ریال</li>
                                            </ul>
                                        </div>
                                        <div class="flex-port">
                                            <label class="mellat-port">
                                                <input checked type="radio" name="port" value="melat">
                                                ملت
                                            </label>
                                            <label class="saman-port">
                                                <input type="radio" name="port" value="saman">
                                                سامان
                                            </label>
                                        </div>
                                        <button type="submit" name="newf" class="buttons comment-button fbutton"> پرداخت </button>
                                    </form>
                                </div>
                            </div>
                            <div class="fetrieh-third">
                                <div class="">
                                    <span class="fetrieh-back">برگشت</span>
                                    <form class="fetrieh-form" method="POST">
                                        <h2 class="fetrieh-title">پرداخت کفاره</h2>
                                        <span class="fetrieh-title-span">نحوه محاسبه:</span>
                                        <ul class="fetrieh-ul">
                                            <li>غیر عمد = روزی  ۳۰۰۰۰ ریال</li>
                                            <li>عمد = روزی  ۱۸۰۰۰۰۰ ریال</li>
                                        </ul>
                                        <div class="fetrieh-row">
                                            <span class="fr-span">کفاره روزه</span>
                                            <label class="radio"><input class="kcal" data-price="30000" type="radio" checked value="knotmestake" name="typemestake">کفاره روزه غیر عمد</label>
                                            <label class="radio"><input class="kcal" data-price="1800000" type="radio" value="kmestake" name="typemestake">کفاره روزه عمد</label>
                                        </div>
                                        <div class="fetrieh-row">
                                            <span class="fr-span">تعداد روز</span>
                                            <div class="FormUnit FormUnit--spin js_spin" id="kclickbtn">
                                                <input class="FormUnit-field FormUnit-field--spin js_spin-input kqty" type="number" min="1" max="999" step="1" value="1" name="quantity">
                                            </div>
                                        </div>
                                        <div class="fetrieh-row">
                                            <span class="fr-span">مبلغ</span>
                                            <ul class="fetrieh-result">
                                                <li><span class="kprice-out-n">۲۰۰,۰۰۰</span> ریال</li>
                                                <li><span class="kprice-out-w">دویست هزار</span> ریال</li>
                                            </ul>
                                        </div>
                                        <div class="fetrieh-change">در صورت نیاز به تغییر مبلغ نهایی این <span>گزینه</span> را انتخاب کنید</div>


                                        <div class="flex-port">
                                            <label class="mellat-port">
                                                <input checked type="radio" name="port" value="melat">
                                                ملت
                                            </label>
                                            <label class="saman-port">
                                                <input type="radio" name="port" value="saman">
                                                سامان
                                            </label>
                                        </div>
                                        <button type="submit" name="newk" class="buttons comment-button"> پرداخت </button>

                                    </form>
                                    <form class="fetrieh-form fetrieh-form-free" method="POST">
                                        <div class="fetrieh-row">
                                            <span class="fr-span">مبلغ دلخواه</span>
                                            <ul class="fetrieh-result">
                                                <li><input class="fetrieh-input" name="peicek" id="peicek" type="number" placeholder="وارد کنید"> ریال</li>
                                                <li class="alphabet-result"><span id="peicek-out">صفر</span> ریال</li>
                                            </ul>
                                        </div>

                                        <div class="flex-port">
                                            <label class="mellat-port">
                                                <input checked type="radio" name="port" value="melat">
                                                ملت
                                            </label>
                                            <label class="saman-port">
                                                <input type="radio" name="port" value="saman">
                                                سامان
                                            </label>
                                        </div>
                                        <button type="submit" name="newk" class="buttons comment-button fbutton"> پرداخت </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </article>
        </div>
    </div>
</section>