﻿@model Mahak.ViewModel.Order.OrderViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="single">
    <div class="container">
        <div class="page-offset">
            <!-- Breadcrumb -->
            <div class="breadcrumb"><a asp-action="Index" asp-controller="Home">خانه</a> <i></i> <span>حساب کاربری من</span></div>
            <article class="single-page">
                <h1 class="single-h1 page-h1">حساب کاربری من</h1>
                <div class="woocommerce">
                    @await Html.PartialAsync("_ProfileMenu")

                    <div class="woocommerce-MyAccount-content">
                        <div class="woocommerce-notices-wrapper"></div>
                        <div class="woocommerce-message woocommerce-message--info woocommerce-Message woocommerce-Message--info woocommerce-info">
                            <a asp-action="GetCategoriesPaginate" asp-controller="Home" class="woocommerce-Button button">
                                نمایش محصولات
                            </a>
                            @if (Model.Orders.Count() != 0)
                            {
                                @foreach (var item in Model.Orders)
                                {
                                    
                                }
                            }
                            else
                            {
                                <p>
                                    هیچ سفارشی در اینجا یافت نشد.
                                </p>
                            }
                        </div>
                    </div>

                </div>
            </article>
        </div>
    </div>
</section>