﻿
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="single">
    <div class="container">
        <div class="page-offset">
            <!-- Breadcrumb -->
            <div class="breadcrumb"><a asp-action="Index" asp-controller="Home">خانه</a> <i></i> <span>حساب کاربری من</span></div>
            <article class="single-page">
                <h1 class="single-h1 page-h1">حساب کاربری من</h1>
                <div class="woocommerce">
                    @await Html.PartialAsync("_ProfileMenu")

                    <div class="woocommerce-MyAccount-content">
                        <div class="woocommerce-notices-wrapper"></div>
                        <div class="payments">
                            <ul>
                                <li class=""><a href="?all=all&tbl=all">همه</a></li>
                                <li class=""><a href="?type_pay=public&tbl=pay">عمومی</a></li>
                                <li class=""><a href="?type_pay=treatment&tbl=pay">درمانیاری</a></li>
                                <li class=""><a href="?type_pay=register&tbl=pay">عضویت</a></li>
                                <li class=""><a href="?payfor=campaign&tbl=pay">کمپین</a></li>
                                <li class=""><a href="?type_item=kefareh&tbl=fk">کفاره</a></li>
                                <li class=""><a href="?type_item=fetrieh&tbl=fk">فطریه</a></li>
                                <li class=""><a href="?type_hamdeli=tt&tbl=hamdeli">همدلی</a></li>
                            </ul>
                            <table>
                                <thead>
                                    <tr>
                                        <th>ردیف</th>
                                        <th>شماره تراکنش  </th>
                                        <th>بانک </th>
                                        <th>نوع پرداخت  </th>
                                        <th>مبلغ پرداخت شده  </th>
                                        <th> تاریخ    </th>
                                        <th> وضعیت   </th>
                                    </tr>
                                </thead>
                                <tbody id="the-list"></tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </article>
        </div>
    </div>
</section>