﻿@model Mahak.ViewModel.Account.AccountViewModel
@using Mahak.Common.Extensions
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="single">
    <div class="container">
        <div class="page-offset">
            <!-- Breadcrumb -->
            <div class="breadcrumb"><a asp-action="Index" asp-controller="Home">خانه</a> <i></i> <span>حساب کاربری من</span></div>
            <article class="single-page">
                <h1 class="single-h1 page-h1">حساب کاربری من</h1>
                <div class="woocommerce">
                    @await Html.PartialAsync("_ProfileMenu")

                    <div class="woocommerce-MyAccount-content">
                        <div class="woocommerce-notices-wrapper"></div>
                        <input type="hidden" id="fmahak" name="fmahak" value="e3bfebcb47" />
                        <h1 class="single-h1 page-h1">درخواست عضویت</h1>
                        <p class="margin-bottom-30" style="text-align: right;">شما نیکوکار گرامی می&zwnj;توانید با وارد کردن مشخصات، شماره همراه و مبلغ تعهد خود (حداقل ۱۰.۰۰۰ ریال) برای حمایت از کودکان مبتلا به سرطان، عضوی از خانواده بزرگ محک شوید.</p>
                        <form asp-controller="Account" asp-action="RegisteryRequest" class="form-comment">
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-3"></div>
                            <input type="hidden" asp-for="@Model.AccountId" />

                            <div class="flex-input-item">
                                <input asp-for="@Model.FirstName" type="text" placeholder="نام *" readonly>
                                <input asp-for="@Model.LastName" type="text" placeholder="نام خانوادگی *" readonly>
                                <input asp-for="@Model.PhoneNumber" type="text" placeholder="شماره همراه * (کیبورد انگلیسی)" readonly>
                            </div>
                            <div class="flex-input-item no-flex margin-top-0">
                                <input asp-for="@Model.Amount" type="text" placeholder="مبلغ تعهد (ریال)" class="placeholder-input">
                                <label class="showing-price">ریال</label>
                            </div>

                        </form>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <div class="su-button-center">
                            <a asp-controller="Account" asp-action="PaymentRegistery" class="su-button su-button-style-default" style="color:#FFFFFF;background-color:#22bdb6;border-color:#1c9892;border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px" target="_self">
                                <span style="color:#FFFFFF;padding:0px 20px;font-size:16px;line-height:32px;border-color:#65d1cc;border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none"> پرداخت حق عضویت</span>
                            </a>
                        </div>
                    </div>

                </div>
            </article>
        </div>
    </div>
</section>