﻿
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="single">
    <div class="container">
        <div class="page-offset">
            <!-- Breadcrumb -->
            <div class="breadcrumb"><a asp-action="Index" asp-controller="Home">خانه</a> <i></i> <span>حساب کاربری من</span></div>
            <article class="single-page">
                <h1 class="single-h1 page-h1">حساب کاربری من</h1>
                <div class="woocommerce">
                    @await Html.PartialAsync("_ProfileMenu")

                    <div class="woocommerce-MyAccount-content">
                        <div class="woocommerce-notices-wrapper"></div>
                        <input type="hidden" id="fmahak" name="fmahak" value="e3bfebcb47" />
                        <h1 class="single-h1 page-h1">درخواست قلک</h1>
                        <strong>
                            <span style="color: #993300;">کمک کنین تا قـد قلک محک به هزینه دارو برسه</span>
                        </strong>
                        <div class="rsform-block rsform-block-mahak-text-top" style="text-align: right;">من قلک محک&zwnj;ام و بخش مهمی از تأمین هزینه داروی کودکان مبتلا به سرطان به عهده منه.</div>
                        <div class="rsform-block rsform-block-mahak-text-top" style="text-align: right;">این روزا برای رسیدن به هزینه دارو خیلی تلاش می&zwnj;کنم.</div>
                        <div class="rsform-block rsform-block-mahak-text-top margin-bottom-30" style="text-align: center;">
                            <p style="text-align: right;">اما برای نجات کودکان مبتلا به سرطان در مسیر سختی قرار گرفتم و نگرانی&zwnj;های زیادی دارم.</p>
                            <div class="r-red" style="text-align: right;">
                            <span style="color: #ff0000;">تا کمک و همراهی شما نباشه، قد من به تأمین هزینه&zwnj;های سنگین دارو نمی&zwnj;رسه.</span>
                            </div>
                        </div><form method="POST" action="" class="form-comment">
                            <div class="flex-input-item margin-top-0">
                                <input type="text" placeholder="نام *" name="firstname" value="محمد" readonly>
                                <input type="text" placeholder="نام خانوادگی *" name="lastname" value="خاکساری" readonly>
                                <input type="text" placeholder="شماره همراه * (کیبورد انگلیسی)" name="mobile" value="09192232012" readonly>
                            </div>
                            <div class="flex-input-item gholak-form margin-top-0">
                                <select name="id_priv" id="id_priv">
                                    <option hidden>استان *</option>
                                    <option value="1">فارس</option>
                                    <option value="2">تهران</option>
                                    <option value="3">البرز</option>
                                    <option value="4">اردبیل</option>
                                    <option value="6">گیلان</option>
                                    <option value="7">مازندران</option>
                                    <option value="8">آذربایجان شرقی</option>
                                    <option value="9">آذربایجان غربی</option>
                                    <option value="10">زنجان</option>
                                    <option value="11">قزوین</option>
                                    <option value="12">کردستان</option>
                                    <option value="13">همدان</option>
                                    <option value="14">کرمانشاه</option>
                                    <option value="15">قم</option>
                                    <option value="16">مرکزی</option>
                                    <option value="17">لرستان</option>
                                    <option value="18">ایلام</option>
                                    <option value="19">گلستان</option>
                                    <option value="20">خراسان شمالی</option>
                                    <option value="21">خراسان جنوبی</option>
                                    <option value="22">خراسان رضوی</option>
                                    <option value="23">سمنان</option>
                                    <option value="24">اصفهان</option>
                                    <option value="25">یزد</option>
                                    <option value="26">چهار محال بختیاری</option>
                                    <option value="27">خوزستان</option>
                                    <option value="28">کهکیلویه و بویر احمد</option>
                                    <option value="29">بوشهر</option>
                                    <option value="30">کرمان</option>
                                    <option value="31">هرمزگان</option>
                                    <option value="32">سیستان وبلوچستان</option>
                                    <option value="33">کرمان</option>
                                    <option value="34">قزوین</option>
                                    <option value="35">مرکزی</option>
                                </select>


                                <input type="text" placeholder="کد پستی" name="postalcode" value="">
                            </div>
                            <textarea name="address" class="comment-textarea postal-address" placeholder="آدرس پستی"></textarea>
                            <div class="date-offfer">
                                <span class="labels-span gholak-span width-100 margin-bottom-0">تاریخ پیشنهادی:</span>
                                <span class="track-span online-help-span">اگر ساکن شهر تهران هستید، تاریخ مورد نظر خود را انتخاب کنید</span>
                                <input class="select-date" type="text" placeholder="تاریخ پیشنهادی" name="date_offfer" value="" readonly>
                            </div>
                            <div class="ttm-labels gholak-labels">
                                <span class="labels-span gholak-span width-100">نوع قلک:</span>
                                <div class="gholak-label">
                                    <label class="radio checkbox"><input id="forquantity1" type="checkbox" checked name="pig_empty" value="1"> می‌خواهم قلک خالی محک را داشته باشم</label>
                                    <div class="FormUnit FormUnit--spin js_spin forquantity1">
                                        <input id="quantity1" class="FormUnit-field FormUnit-field--spin js_spin-input" type="number" min="1" max="20" step="1" value="1" name="quantity1">
                                    </div>
                                </div>
                                <div class="gholak-label">
                                    <label class="radio checkbox"><input id="forquantity2" type="checkbox" name="pig_fill" value="0"> می‌خواهم قلک پر محک را تحویل دهم</label>
                                    <div class="FormUnit FormUnit--spin js_spin forquantity2">
                                        <input class="FormUnit-field FormUnit-field--spin js_spin-input" type="number" min="1" max="20" step="1" value="0" name="quantity2" id="quantity2" disabled>
                                    </div>
                                </div>
                            </div>



                            <input type="hidden" id="fmahak" name="fmahak" value="e3bfebcb47" />
                            <button name="newgholak" type="submit" class="buttons comment-button">ثبت درخواست </button>
                        </form>
                    </div>

                </div>
            </article>
        </div>
    </div>
</section>
