﻿@using Mahak.Common.Extensions

<nav class="woocommerce-MyAccount-navigation">
    <ul>
        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard is-active">
            <a asp-action="Profile" asp-controller="Account">پیشخوان</a>
        </li>
        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--feedback">
            <a asp-action="SendMessage" asp-controller="Account">انتقادات و پیشنهادات </a>
        </li>
        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--donated">
            <a asp-action="OnlineHelp" asp-controller="Account"> کمک آنلاین  </a>
        </li>
        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--pig">
            <a asp-action="PiggyBank" asp-controller="Account">درخواست قلک </a>
        </li>
        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--registery">
            <a asp-action="RegisteryRequest" asp-controller="Account">درخواست عضویت  </a>
        </li>
        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--kefareh">
            <a asp-action="Kafareh" asp-controller="Account">کفاره و فطریه </a>
        </li>
        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--treatment">
            <a asp-action="Treatment" asp-controller="Account">درخواست درمان یار </a>
        </li>
        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--payments">
            <a asp-action="Payments" asp-controller="Account">پرداخت های من </a>
        </li>
        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--hamdeli">
            <a asp-action="Hamdeli" asp-controller="Account">همدلی </a>
        </li>
        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders">
            <a asp-action="Orders" asp-controller="Account">سفارش ها</a>
        </li>
        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-address">
            <a asp-action="AddressManager" asp-controller="AddressManager" asp-route-userId="@User.Identity.GetUserId()">آدرس ها</a>
        </li>
        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-account">
            <a asp-action="UserInfo" asp-controller="Account" asp-route-userId="@User.Identity.GetUserId()">اطلاعات حساب كاربری</a>
        </li>
        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--customer-logout">
            <form asp-action="SignOut" asp-controller="Account">
                <button type="submit">خروج از سیستم</button>
            </form>
        </li>
    </ul>
</nav>
