﻿@model Mahak.ViewModel.Account.AccountViewModel
@using Mahak.Common.Extensions
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="single">
    <div class="container">
        <div class="page-offset">
            <!-- Breadcrumb -->
            <div class="breadcrumb"><a asp-action="Index" asp-controller="Home">خانه</a> <i></i> <span>حساب کاربری من</span></div>
            <article class="single-page">
                <h1 class="single-h1 page-h1">حساب کاربری من</h1>
                <div class="woocommerce">
                    @await Html.PartialAsync("_ProfileMenu")

                    <div class="woocommerce-MyAccount-content">
                        <div class="woocommerce-notices-wrapper"></div>
                        <input type="hidden" id="fmahak" name="fmahak" value="e3bfebcb47" />
                        <h1 class="single-h1 page-h1">پرداخت آنلاین</h1>
                        <p class="margin-bottom-30" style="text-align: right;">شما نیکوکار گرامی می&zwnj;توانید با وارد کردن مشخصات، شماره همراه و مبلغ تعهد خود (حداقل ۱۰.۰۰۰ ریال) برای حمایت از کودکان مبتلا به سرطان، عضوی از خانواده بزرگ محک شوید.</p>

                        <form asp-controller="Account" asp-action="RegisteryRequest" class="form-comment">
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-3"></div>
                            <input type="hidden" asp-for="AccountId" />

                            <div class="flex-input-item">
                                <input asp-for="FirstName" type="text" placeholder="نام *" readonly>
                                <input asp-for="LastName" type="text" placeholder="نام خانوادگی *" readonly>
                                <input asp-for="PhoneNumber" type="text" placeholder="شماره همراه * (کیبورد انگلیسی)" readonly>
                                <span> شماره همراه جهت دریافت پیامک برای شما واریز می باشد. </span>
                            </div>

                            <div class="flex-input-item profile-form margin-top-0">
                                <input asp-for="HelpID" type="text" placeholder="شناسه نیکوکاری">
                            </div>
                            <div class="left-ttm">
                                <div class="animations page-animation1" id="first-animation"></div>
                            </div>
                            <div class="right-ttm">
                                <p>&nbsp;</p>
                                <div class="form-block">
                                    <div class="ttm-labels">
                                        <span class="labels-span">نوع پرداخت: *</span>
                                        <input asp-for="RequestType" value="@Mahak.Entities.RequestType.Public" class="radio" id="customRadio1" type="radio" checked>
                                        <label class="radio" for="customRadio1">عمومی</label>
                                        <input asp-for="RequestType" value="@Mahak.Entities.RequestType.Register" class="radio" id="customRadio2" type="radio">
                                        <label class="radio" for="customRadio2">عضویت</label>
                                        <input asp-for="RequestType" value="@Mahak.Entities.RequestType.Assistance" class="radio" id="customRadio3" type="radio">
                                        <label class="radio" for="customRadio3">درمان‌یار</label>
                                    </div>
                                    <div class="flex-input-item profile-form no-flex margin-top-0">
                                        <input asp-for="Amount" placeholder="مبلغ مورد نظر خود را وارد کنید (ریال) *">
                                        <label class="showing-price">ریال</label>
                                    </div>
                                </div>
                                <br />
                                <p style="text-align: right;">با پرداخت آنلاین از طريق تمامى كارت‌هاى عضو شتاب، سهمی در تامین هزینه دارو و درمان کودکان مبتلا به سرطان داشته باشید و قهرمان‌های كوچك محک را تا رسیدن به سلامتی همراهی کنید.</p>
                                <div class="flex-port">
                                    <label class="mellat-port">
                                        <input asp-for="PortType" type="radio" value="@Mahak.Entities.PortType.Melat" class="radio" id="customRadio1">
                                        ملت
                                    </label>
                                    <label class="saman-port">
                                        <input asp-for="PortType" type="radio" value="@Mahak.Entities.PortType.Saman" class="radio" id="customRadio2">
                                        سامان
                                    </label>
                                </div>
                            </div>
                            <p hidden>
                                ثبت درخواست با موفقیت انجام شد.
                            </p>
                            <p hidden>
                                شما قبلا این درخواست را ثبت کرده اید.
                            </p>

                            @if (@Model.FirstName == null || @Model.LastName == null || @Model.PhoneNumber == null)
                            {
                                <div>
                                    لطفا اطلاعات خود را کامل کنید.
                                    <a asp-controller="Account" asp-action="UserInfo" asp-route-userId="@User.Identity.GetUserId()"> تکمیل اطلاعات </a>
                                </div>
                            }
                            else
                            {
                                <button type="submit" class="buttons comment-button"> پرداخت </button>
                            }

                        </form>
                    </div>

                </div>
            </article>
        </div>
    </div>
</section>