﻿@model Mahak.ViewModel.Account.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="single">
    <div class="container">
        <div class="page-offset">
            <!-- Breadcrumb -->
            <div class="breadcrumb"><a href="https://mahak-charity.org">خانه</a> <i></i> <span>ایجاد حساب کاربری</span></div>
            <article class="single-page">
                <div class="flex-talk-to-mahak">
                    <div class="left-ttm">
                        <div class="animations">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 400" width="700" height="400" preserveAspectRatio="xMidYMid meet" style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px);"><defs><clipPath id="__lottie_element_2"><rect width="700" height="400" x="0" y="0"></rect></clipPath><clipPath id="__lottie_element_4"><path d="M0,0 L800,0 L800,600 L0,600z"></path></clipPath><clipPath id="__lottie_element_41"><path d="M0,0 L800,0 L800,600 L0,600z"></path></clipPath><clipPath id="__lottie_element_78"><path d="M0,0 L800,0 L800,600 L0,600z"></path></clipPath></defs><g clip-path="url(#__lottie_element_2)"><g transform="matrix(1,0,0,1,350,200)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(148,193,31)" stroke-opacity="1" stroke-width="6" d=" M-315.5,193.5 C-262,180 -251.5,177 -206,175.5 C-160.5,174 -130,170.5 -80,172.5 C-30,174.5 3.5,171 33.5,161 C63.5,151 82.5,154 128,161 C173.5,168 205,173 248.5,178 C292,183 311.31298828125,181.06300354003906 311.31298828125,181.06300354003906"></path></g></g><g clip-path="url(#__lottie_element_78)" transform="matrix(1,0,0,1,-50,-100)" opacity="1" style="display: block;"><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-223.875,155.625 C-227.5,155.75 -233.125,156.75 -234.5,161.625 C-235.875,166.5 -234,171 -229.375,174.125 C-224.75,177.25 -206.875,176.75 -201.375,171 C-195.875,165.25 -202.375,157 -213.625,158.5 C-215.25,156.375 -220.25,155.5 -223.875,155.625z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-223.875,155.625 C-227.5,155.75 -233.125,156.75 -234.5,161.625 C-235.875,166.5 -234,171 -229.375,174.125 C-224.75,177.25 -206.875,176.75 -201.375,171 C-195.875,165.25 -202.375,157 -213.625,158.5 C-215.25,156.375 -220.25,155.5 -223.875,155.625z"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-242,13.5 C-248.5,15.5 -252.5,26.5 -251.5,26.5 C-250.5,26.5 -250.5,60 -245.5,89 C-240.5,118 -238.5,162.5 -238.5,162.5 C-238.5,162.5 -225.75,163.75 -218.25,161.25 C-210.75,158.75 -210,155.25 -212.5,149.5 C-218.25,138 -219,100.5 -220.5,84.5 C-222,68.5 -225.5,44.5 -227,24 C-232.75,16 -235.5,11.5 -242,13.5z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-242,13.5 C-248.5,15.5 -252.5,26.5 -251.5,26.5 C-250.5,26.5 -250.5,60 -245.5,89 C-240.5,118 -238.5,162.5 -238.5,162.5 C-238.5,162.5 -225.75,163.75 -218.25,161.25 C-210.75,158.75 -210,155.25 -212.5,149.5 C-218.25,138 -219,100.5 -220.5,84.5 C-222,68.5 -225.5,44.5 -227,24 C-232.75,16 -235.5,11.5 -242,13.5z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-213,150.125 C-221.625,153.25 -233.875,152.875 -237,152"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-213,150.125 C-221.625,153.25 -233.875,152.875 -237,152"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-266.375,160.75 C-271.375,160.375 -273.875,163.375 -277.375,165 C-280.875,166.625 -287.875,179.875 -269.5,180.875 C-251.125,181.875 -253.75,173.25 -258.25,165.125 C-262.75,157 -261.375,161.125 -266.375,160.75z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-266.375,160.75 C-271.375,160.375 -273.875,163.375 -277.375,165 C-280.875,166.625 -287.875,179.875 -269.5,180.875 C-251.125,181.875 -253.75,173.25 -258.25,165.125 C-262.75,157 -261.375,161.125 -266.375,160.75z"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-272.5,13 C-280.5,12 -288,21.5 -288.5,22 C-289,22.5 -286,66 -283.5,96.5 C-281,127 -278.75,166 -278.75,166 C-278.75,166 -267.75,167 -262.75,166.75 C-257.75,166.5 -250.25,168.75 -249.5,161 C-248.75,153.25 -252.5,114 -253.5,98.5 C-254.5,83 -258.75,52.5 -259.25,27.75 C-259.75,3 -264.5,14 -272.5,13z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-272.5,13 C-280.5,12 -288,21.5 -288.5,22 C-289,22.5 -286,66 -283.5,96.5 C-281,127 -278.75,166 -278.75,166 C-278.75,166 -267.75,167 -262.75,166.75 C-257.75,166.5 -250.25,168.75 -249.5,161 C-248.75,153.25 -252.5,114 -253.5,98.5 C-254.5,83 -258.75,52.5 -259.25,27.75 C-259.75,3 -264.5,14 -272.5,13z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-249.625,152.375 C-256.625,157.125 -273.875,159 -277.875,154.875"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-249.625,152.375 C-256.625,157.125 -273.875,159 -277.875,154.875"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-184.18800354003906,9.625 C-185.50100708007812,11.062999725341797 -187.875,10.375 -189.5,6.875 C-191.125,3.375 -190.75,0.06199999898672104 -189.125,-1.562999963760376 C-187.5,-3.187999963760376 -184.50100708007812,-3.875 -179.81300354003906,-3.375 C-175.125,-2.875 -172.5,0 -172.68800354003906,4.5 C-172.87600708007812,9 -177.125,15.687999725341797 -180.93800354003906,14.875 C-184.75100708007812,14.062000274658203 -184.93800354003906,7.593999862670898 -183.68800354003906,6.063000202178955 C-184.343994140625,2.9690001010894775 -183.625,0.9380000233650208 -181.63099670410156,0.052000001072883606 C-182.06199645996094,-1.937000036239624 -181.125,-3.437999963760376 -179.75,-3.375"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-184.18800354003906,9.625 C-185.50100708007812,11.062999725341797 -187.875,10.375 -189.5,6.875 C-191.125,3.375 -190.75,0.06199999898672104 -189.125,-1.562999963760376 C-187.5,-3.187999963760376 -184.50100708007812,-3.875 -179.81300354003906,-3.375 C-175.125,-2.875 -172.5,0 -172.68800354003906,4.5 C-172.87600708007812,9 -177.125,15.687999725341797 -180.93800354003906,14.875 C-184.75100708007812,14.062000274658203 -184.93800354003906,7.593999862670898 -183.68800354003906,6.063000202178955 C-184.343994140625,2.9690001010894775 -183.625,0.9380000233650208 -181.63099670410156,0.052000001072883606 C-182.06199645996094,-1.937000036239624 -181.125,-3.437999963760376 -179.75,-3.375"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-244.625,-22.375 C-248.375,-22.625 -248.25,-12.25 -248.25,-12.25 C-248.25,-12.25 -248.625,-1.25 -245.75,-1 C-225.25,-0.5 -189.5,8.5 -189.25,8.25 C-189,8 -185.75,-0.5 -185.5,-2.75 C-188.5,-5.5 -217.375,-17 -244.625,-22.375z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-244.625,-22.375 C-248.375,-22.625 -248.25,-12.25 -248.25,-12.25 C-248.25,-12.25 -248.625,-1.25 -245.75,-1 C-225.25,-0.5 -189.5,8.5 -189.25,8.25 C-189,8 -185.75,-0.5 -185.5,-2.75 C-188.5,-5.5 -217.375,-17 -244.625,-22.375z"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-177.5,-2.25 C-169.75,-15 -160.5,-34.25 -162,-54.5"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-152.875,-24.625 C-164.25,-22.875 -169.75,-14.5 -174,-8.375 C-162.875,1.125 -152.25,3.625 -139.625,-1 C-127,-5.625 -141.5,-26.375 -152.875,-24.625z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-152.875,-24.625 C-164.25,-22.875 -169.75,-14.5 -174,-8.375 C-162.875,1.125 -152.25,3.625 -139.625,-1 C-127,-5.625 -141.5,-26.375 -152.875,-24.625z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-151.25,-10.75 C-160.5,-12.125 -169.875,-8 -172.375,-7.375"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-151.25,-10.75 C-160.5,-12.125 -169.875,-8 -172.375,-7.375"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(233,37,27)" fill-opacity="1" d=" M-149.125,-101.875 C-162.375,-101 -162,-88.625 -162,-88.625 C-162,-88.625 -167.75,-96 -176.625,-94.5 C-185.5,-93 -192.5,-83 -190,-74.125 C-187.5,-65.25 -174.625,-67.25 -174.625,-67.25 C-174.625,-67.25 -181.875,-58.875 -177.125,-55.125 C-172.375,-51.375 -163,-53.75 -158.75,-56.5 C-159.375,-53.75 -155.25,-48.875 -151,-48.5 C-146.75,-48.125 -141.875,-53.375 -147.375,-55.125 C-143.625,-53.375 -135.5,-53 -130.625,-55.75 C-125.75,-58.5 -119.25,-65.125 -122,-74.25 C-124.75,-83.375 -136,-82.5 -136.375,-82.5 C-136.75,-82.5 -135.875,-102.75 -149.125,-101.875z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-149.125,-101.875 C-162.375,-101 -162,-88.625 -162,-88.625 C-162,-88.625 -167.75,-96 -176.625,-94.5 C-185.5,-93 -192.5,-83 -190,-74.125 C-187.5,-65.25 -174.625,-67.25 -174.625,-67.25 C-174.625,-67.25 -181.875,-58.875 -177.125,-55.125 C-172.375,-51.375 -163,-53.75 -158.75,-56.5 C-159.375,-53.75 -155.25,-48.875 -151,-48.5 C-146.75,-48.125 -141.875,-53.375 -147.375,-55.125 C-143.625,-53.375 -135.5,-53 -130.625,-55.75 C-125.75,-58.5 -119.25,-65.125 -122,-74.25 C-124.75,-83.375 -136,-82.5 -136.375,-82.5 C-136.75,-82.5 -135.875,-102.75 -149.125,-101.875z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-155.375,-79 C-159.875,-79.125 -161.23399353027344,-75.56500244140625 -160.375,-70.625 C-159.875,-67.75 -152,-69 -150.875,-71.375 C-149.75,-73.75 -150.875,-78.875 -155.375,-79z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-155.375,-79 C-159.875,-79.125 -161.23399353027344,-75.56500244140625 -160.375,-70.625 C-159.875,-67.75 -152,-69 -150.875,-71.375 C-149.75,-73.75 -150.875,-78.875 -155.375,-79z"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-313.75,26.75 C-316.875,25.5 -322.75,29.375 -322.75,29.375 C-322.75,29.375 -328.5,29.125 -329,33.625 C-329.5,38.125 -325,37 -325,37 C-325,37 -328.125,40.625 -325.5,42.125 C-322.875,43.625 -320.25,39.75 -320.25,39.75 C-320.25,39.75 -322.75,45.5 -318.625,46.5 C-314.5,47.5 -313.375,40.875 -313.375,40.875 C-313.375,40.875 -313,46 -309.25,44.875 C-305.5,43.75 -304.75,39.125 -308.75,34.625 C-312.75,30.125 -310.625,28 -313.75,26.75z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-313.75,26.75 C-316.875,25.5 -322.75,29.375 -322.75,29.375 C-322.75,29.375 -328.5,29.125 -329,33.625 C-329.5,38.125 -325,37 -325,37 C-325,37 -328.125,40.625 -325.5,42.125 C-322.875,43.625 -320.25,39.75 -320.25,39.75 C-320.25,39.75 -322.75,45.5 -318.625,46.5 C-314.5,47.5 -313.375,40.875 -313.375,40.875 C-313.375,40.875 -313,46 -309.25,44.875 C-305.5,43.75 -304.75,39.125 -308.75,34.625 C-312.75,30.125 -310.625,28 -313.75,26.75z"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-277,-34.25 C-283.25,-40.25 -283.75,-50.25 -296.75,-31.25 C-309.75,-12.25 -320.5,16.5 -323.5,29.25 C-317.5,34.5 -308.75,35.25 -308.75,35.25 C-308.75,35.25 -298.75,4.5 -289.5,-7.25 C-280.25,-19 -270.75,-28.25 -277,-34.25z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-277,-34.25 C-283.25,-40.25 -283.75,-50.25 -296.75,-31.25 C-309.75,-12.25 -320.5,16.5 -323.5,29.25 C-317.5,34.5 -308.75,35.25 -308.75,35.25 C-308.75,35.25 -298.75,4.5 -289.5,-7.25 C-280.25,-19 -270.75,-28.25 -277,-34.25z"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-272.25,-31.5 C-272,-39 -291.25,-40.25 -290.25,-23 C-291.5,-6.75 -292,20.25 -290,32.75 C-279.5,34.5 -264,34.75 -252.75,33.25 C-241.5,31.75 -226.75,24.25 -226.75,24.25 C-226.75,24.25 -244.25,-15 -246.75,-26.75 C-249.25,-38.5 -258.25,-36.25 -257,-27.5 C-255.75,-18.75 -252,-6.75 -263.5,-6.75 C-275,-6.75 -272.5,-24 -272.25,-31.5z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-272.25,-31.5 C-272,-39 -291.25,-40.25 -290.25,-23 C-291.5,-6.75 -292,20.25 -290,32.75 C-279.5,34.5 -264,34.75 -252.75,33.25 C-241.5,31.75 -226.75,24.25 -226.75,24.25 C-226.75,24.25 -244.25,-15 -246.75,-26.75 C-249.25,-38.5 -258.25,-36.25 -257,-27.5 C-255.75,-18.75 -252,-6.75 -263.5,-6.75 C-275,-6.75 -272.5,-24 -272.25,-31.5z"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-291,-146.25 C-321.25,-141 -325.875,-125.25 -324.75,-91.75 C-323,-90.5 -321.25,-90.75 -318.75,-90 C-319,-97.625 -318.875,-115.875 -315.75,-122.75 C-310.125,-113 -298.5,-115.5 -296.75,-120.875 C-287,-108.375 -278.375,-107.25 -275.875,-107.75 C-278.25,-110.25 -284.75,-118.125 -282.375,-122 C-279.375,-120.625 -268.625,-118.125 -269.5,-119.625 C-270.375,-121.125 -272.375,-128.125 -272.375,-128.125 C-272.375,-128.125 -265.125,-124.75 -258.375,-119.75 C-251.625,-114.75 -238.625,-107.125 -234.25,-109.125 C-240.125,-112.875 -245.75,-120 -248.375,-126 C-245,-122.375 -231.125,-115.875 -225.75,-117.25 C-223.75,-111.125 -220.5,-98.125 -220.75,-98.25 C-221,-98.375 -216.18800354003906,-100.125 -214.68800354003906,-101.5 C-214.18800354003906,-111 -219.75,-129.75 -242.75,-142.25 C-265.75,-154.75 -287.5,-153.75 -291,-146.25z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-291,-146.25 C-321.25,-141 -325.875,-125.25 -324.75,-91.75 C-323,-90.5 -321.25,-90.75 -318.75,-90 C-319,-97.625 -318.875,-115.875 -315.75,-122.75 C-310.125,-113 -298.5,-115.5 -296.75,-120.875 C-287,-108.375 -278.375,-107.25 -275.875,-107.75 C-278.25,-110.25 -284.75,-118.125 -282.375,-122 C-279.375,-120.625 -268.625,-118.125 -269.5,-119.625 C-270.375,-121.125 -272.375,-128.125 -272.375,-128.125 C-272.375,-128.125 -265.125,-124.75 -258.375,-119.75 C-251.625,-114.75 -238.625,-107.125 -234.25,-109.125 C-240.125,-112.875 -245.75,-120 -248.375,-126 C-245,-122.375 -231.125,-115.875 -225.75,-117.25 C-223.75,-111.125 -220.5,-98.125 -220.75,-98.25 C-221,-98.375 -216.18800354003906,-100.125 -214.68800354003906,-101.5 C-214.18800354003906,-111 -219.75,-129.75 -242.75,-142.25 C-265.75,-154.75 -287.5,-153.75 -291,-146.25z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-314,-55.5 C-326,-55.75 -334,-70.25 -333.25,-83.5 C-332.5,-96.75 -318.5,-89.75 -318.5,-89.75 C-318.5,-89.75 -318.75,-54.25 -304.25,-36.5 C-289.75,-18.75 -279.5,-13.25 -262.25,-13.25 C-245,-13.25 -235,-24.5 -228.25,-34.75 C-221.5,-45 -217.25,-67 -220.75,-98.5 C-206,-108.5 -196.75,-97.25 -195.5,-87 C-194.25,-76.75 -200.5,-67 -218.75,-66.25"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-314,-55.5 C-326,-55.75 -334,-70.25 -333.25,-83.5 C-332.5,-96.75 -318.5,-89.75 -318.5,-89.75 C-318.5,-89.75 -318.75,-54.25 -304.25,-36.5 C-289.75,-18.75 -279.5,-13.25 -262.25,-13.25 C-245,-13.25 -235,-24.5 -228.25,-34.75 C-221.5,-45 -217.25,-67 -220.75,-98.5 C-206,-108.5 -196.75,-97.25 -195.5,-87 C-194.25,-76.75 -200.5,-67 -218.75,-66.25"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-297.125,-58.25 C-295.875,-62.625 -293.875,-65.625 -293.875,-65.625 C-293.875,-65.625 -291.75,-44.75 -273.75,-40.875 C-255.75,-37 -248.125,-48.75 -248.75,-66.875 C-247.375,-66 -244.75,-63.375 -244.75,-63.375"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-297.125,-58.25 C-295.875,-62.625 -293.875,-65.625 -293.875,-65.625 C-293.875,-65.625 -291.75,-44.75 -273.75,-40.875 C-255.75,-37 -248.125,-48.75 -248.75,-66.875 C-247.375,-66 -244.75,-63.375 -244.75,-63.375"></path></g><g opacity="1" transform="matrix(1,0,0,1,-293.5,-89.625)"><path fill="rgb(0,0,0)" fill-opacity="1" d=" M0,-1.75 C0.8278499841690063,-1.75 1.5,-0.9658250212669373 1.5,0 C1.5,0.9658250212669373 0.8278499841690063,1.75 0,1.75 C-0.8278499841690063,1.75 -1.5,0.9658250212669373 -1.5,0 C-1.5,-0.9658250212669373 -0.8278499841690063,-1.75 0,-1.75z"></path></g><g opacity="1" transform="matrix(1,0,0,1,-251.25,-92.5)"><path fill="rgb(0,0,0)" fill-opacity="1" d=" M0,-1.75 C0.7933562397956848,-1.75 1.4375,-0.9658250212669373 1.4375,0 C1.4375,0.9658250212669373 0.7933562397956848,1.75 0,1.75 C-0.7933562397956848,1.75 -1.4375,0.9658250212669373 -1.4375,0 C-1.4375,-0.9658250212669373 -0.7933562397956848,-1.75 0,-1.75z"></path></g></g></g><g clip-path="url(#__lottie_element_41)" transform="matrix(1,0,0,1,-50,-100)" opacity="1" style="display: block;"><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-2,147.625 C-4.875,149 -4.75,153.375 -6.125,153.625 C-7.5,153.875 -15.75,156.125 -15.5,162.5 C-15.25,168.875 -7.75,170.375 -1.375,166.875 C5,163.375 5.75,158.75 3.125,151.25 C2.375,148.5 0.875,146.25 -2,147.625z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-2,147.625 C-4.875,149 -4.75,153.375 -6.125,153.625 C-7.5,153.875 -15.75,156.125 -15.5,162.5 C-15.25,168.875 -7.75,170.375 -1.375,166.875 C5,163.375 5.75,158.75 3.125,151.25 C2.375,148.5 0.875,146.25 -2,147.625z"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-1.625,25 C-4.5,25.375 -7.25,26.375 -7.375,34.75 C-7.5,43.125 -5.25,74.25 -5.5,92.75 C-5.75,111.25 -6.375,146.875 -6.75,153.25 C-0.875,154.375 3.75,150.5 3.75,150.5 C3.75,150.5 3.5,113.5 3.5,93.5 C3.5,73.5 2.625,54.375 2.625,33.5 C2.75,26.25 1.25,24.625 -1.625,25z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-1.625,25 C-4.5,25.375 -7.25,26.375 -7.375,34.75 C-7.5,43.125 -5.25,74.25 -5.5,92.75 C-5.75,111.25 -6.375,146.875 -6.75,153.25 C-0.875,154.375 3.75,150.5 3.75,150.5 C3.75,150.5 3.5,113.5 3.5,93.5 C3.5,73.5 2.625,54.375 2.625,33.5 C2.75,26.25 1.25,24.625 -1.625,25z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-2,10.25 C-8.625,10.875 -14.375,15.875 -15.125,20.5 C-15.875,25.125 -14.625,29.625 -13.375,34.75 C-5.125,35.5 11.25,32 11.25,32 C11.25,32 10,21.625 10,16.625 C10,11.625 4.625,9.625 -2,10.25z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-2,10.25 C-8.625,10.875 -14.375,15.875 -15.125,20.5 C-15.875,25.125 -14.625,29.625 -13.375,34.75 C-5.125,35.5 11.25,32 11.25,32 C11.25,32 10,21.625 10,16.625 C10,11.625 4.625,9.625 -2,10.25z"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M38.75,141.125 C36.875,141.875 33.25,144.375 30.625,146.75 C28,149.125 31.125,156.25 40.5,157.25 C49.875,158.25 55.625,152.75 53.875,146.5 C52.125,140.25 45.625,141.75 41.25,144.5 C41.375,141.75 40.625,140.375 38.75,141.125z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M38.75,141.125 C36.875,141.875 33.25,144.375 30.625,146.75 C28,149.125 31.125,156.25 40.5,157.25 C49.875,158.25 55.625,152.75 53.875,146.5 C52.125,140.25 45.625,141.75 41.25,144.5 C41.375,141.75 40.625,140.375 38.75,141.125z"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M26.625,17.375 C24.875,18.125 22.812000274658203,19.625 23.25,27.25 C23.75,41 29,61.75 31,88.75 C33,115.75 32.125,140.5 31.25,146.875 C40.5,147.125 42.875,144.5 42.875,144.5 C42.875,144.5 43.5,111.5 42,85.5 C40.5,59.5 36.25,44.625 32.625,26 C30.687000274658203,20.312000274658203 28.375,16.625 26.625,17.375z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M26.625,17.375 C24.875,18.125 22.812000274658203,19.625 23.25,27.25 C23.75,41 29,61.75 31,88.75 C33,115.75 32.125,140.5 31.25,146.875 C40.5,147.125 42.875,144.5 42.875,144.5 C42.875,144.5 43.5,111.5 42,85.5 C40.5,59.5 36.25,44.625 32.625,26 C30.687000274658203,20.312000274658203 28.375,16.625 26.625,17.375z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M20.125,8.375 C13.75,9 13.125,13.5 12.75,15.125 C12.375,16.75 14.125,25.5 15,28.125 C23.625,28 35.875,24.5 37.5,23.875 C36.75,21.625 32.25,12 32.25,12 C32.25,12 26.5,7.75 20.125,8.375z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M20.125,8.375 C13.75,9 13.125,13.5 12.75,15.125 C12.375,16.75 14.125,25.5 15,28.125 C23.625,28 35.875,24.5 37.5,23.875 C36.75,21.625 32.25,12 32.25,12 C32.25,12 26.5,7.75 20.125,8.375z"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M65.18800354003906,26.562999725341797 C62.5,26.125 60.500999450683594,26.75 58.4379997253418,27.937999725341797 C56.375,29.125999450683594 59.375,32.75 59.375,32.75 C59.375,32.75 57.8129997253418,34.5 55.3129997253418,37.25 C52.8129997253418,40 50.6870002746582,45.5 53.375,45.6879997253418 C56.0629997253418,45.875999450683594 58,42.4379997253418 58,42.4379997253418 C58,42.4379997253418 57.5,46.4379997253418 61,46.6879997253418 C66.93800354003906,47.000999450683594 67.06300354003906,38.3129997253418 67.06300354003906,38.3129997253418 C67.06300354003906,38.3129997253418 66.93699645996094,40.3120002746582 68.5,42 C70.06300354003906,43.6879997253418 73.56300354003906,43.3129997253418 73.68800354003906,38.4379997253418 C73.81300354003906,33.5629997253418 69.81300354003906,30.75 69.81300354003906,30.75 C69.81300354003906,30.75 74.06300354003906,31 74.18800354003906,28.75 C74.31300354003906,26.5 69.8759994506836,25.75 65.18800354003906,26.562999725341797z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M65.18800354003906,26.562999725341797 C62.5,26.125 60.500999450683594,26.75 58.4379997253418,27.937999725341797 C56.375,29.125999450683594 59.375,32.75 59.375,32.75 C59.375,32.75 57.8129997253418,34.5 55.3129997253418,37.25 C52.8129997253418,40 50.6870002746582,45.5 53.375,45.6879997253418 C56.0629997253418,45.875999450683594 58,42.4379997253418 58,42.4379997253418 C58,42.4379997253418 57.5,46.4379997253418 61,46.6879997253418 C66.93800354003906,47.000999450683594 67.06300354003906,38.3129997253418 67.06300354003906,38.3129997253418 C67.06300354003906,38.3129997253418 66.93699645996094,40.3120002746582 68.5,42 C70.06300354003906,43.6879997253418 73.56300354003906,43.3129997253418 73.68800354003906,38.4379997253418 C73.81300354003906,33.5629997253418 69.81300354003906,30.75 69.81300354003906,30.75 C69.81300354003906,30.75 74.06300354003906,31 74.18800354003906,28.75 C74.31300354003906,26.5 69.8759994506836,25.75 65.18800354003906,26.562999725341797z"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M10.75,-36.5 C23.5,-38.25 25.25,-38.75 29.25,-33.75 C33.25,-28.75 42.75,-6.25 48.25,0.5 C53.75,7.25 62.5,19.25 65.5,27 C63.25,30 58.5,33.5 58.5,33.5 C58.5,33.5 50.75,23 45.25,13 C39.75,3 25.75,-11 22.25,-12 C18.75,-13 5.25,-16.5 5.25,-16.5"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M10.75,-36.5 C23.5,-38.25 25.25,-38.75 29.25,-33.75 C33.25,-28.75 42.75,-6.25 48.25,0.5 C53.75,7.25 62.5,19.25 65.5,27 C63.25,30 58.5,33.5 58.5,33.5 C58.5,33.5 50.75,23 45.25,13 C39.75,3 25.75,-11 22.25,-12 C18.75,-13 5.25,-16.5 5.25,-16.5"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-59.5,-47.625 C-63.375,-54.375 -67.25,-57.75 -72.375,-54.625 C-77.5,-51.5 -71.125,-46.25 -69,-45.375 C-70.875,-46.25 -74.75,-45.375 -75,-42.25 C-75.25,-39.125 -71.625,-37.25 -71.625,-37.25 C-71.625,-37.25 -73.8759994506836,-33 -69.93800354003906,-30.375 C-66,-27.75 -60.75,-35.125 -60.75,-35.125 C-60.75,-35.125 -56.5629997253418,-32.0629997253418 -54.25,-35.0629997253418 C-51.9370002746582,-38.0629997253418 -53.375,-41.125 -54.875,-41.9379997253418 C-54,-45.750999450683594 -54.3120002746582,-48.5 -56.375,-51 C-58.4379997253418,-53.5 -61.6879997253418,-53.1879997253418 -62.8129997253418,-52.875"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-59.5,-47.625 C-63.375,-54.375 -67.25,-57.75 -72.375,-54.625 C-77.5,-51.5 -71.125,-46.25 -69,-45.375 C-70.875,-46.25 -74.75,-45.375 -75,-42.25 C-75.25,-39.125 -71.625,-37.25 -71.625,-37.25 C-71.625,-37.25 -73.8759994506836,-33 -69.93800354003906,-30.375 C-66,-27.75 -60.75,-35.125 -60.75,-35.125 C-60.75,-35.125 -56.5629997253418,-32.0629997253418 -54.25,-35.0629997253418 C-51.9370002746582,-38.0629997253418 -53.375,-41.125 -54.875,-41.9379997253418 C-54,-45.750999450683594 -54.3120002746582,-48.5 -56.375,-51 C-58.4379997253418,-53.5 -61.6879997253418,-53.1879997253418 -62.8129997253418,-52.875"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M-53.5,-43.25 C-53.5,-43.25 -61.5,-35.25 -61.5,-35.25 C-61.5,-35.25 -54.75,-23.125 -45.625,-17 C-36.5,-10.875 -28.5,-10.625 -20,-10.625 C-11.5,-10.625 -13.125,-16.875 -13.125,-16.875 C-13.125,-16.875 -9.5,-20.5 -20,-20.5 C-30.5,-20.5 -34.375,-22 -40,-27.75 C-45.625,-33.5 -53.5,-43.25 -53.5,-43.25z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-53.5,-43.25 C-53.5,-43.25 -61.5,-35.25 -61.5,-35.25 C-61.5,-35.25 -54.75,-23.125 -45.625,-17 C-36.5,-10.875 -28.5,-10.625 -20,-10.625 C-11.5,-10.625 -13.125,-16.875 -13.125,-16.875 C-13.125,-16.875 -9.5,-20.5 -20,-20.5 C-30.5,-20.5 -34.375,-22 -40,-27.75 C-45.625,-33.5 -53.5,-43.25 -53.5,-43.25z"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M1.5,-36.25 C-13,-34.75 -20.25,-30.5 -20.5,-22.5 C-20.75,-14.5 -20,-1.75 -18.75,5.75 C-17.5,13.25 -14,20.75 -14,20.75 C-14,20.75 23.25,15.5 32,13.5 C34.75,5.25 34,-14.25 30,-24.5"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M1.5,-36.25 C-13,-34.75 -20.25,-30.5 -20.5,-22.5 C-20.75,-14.5 -20,-1.75 -18.75,5.75 C-17.5,13.25 -14,20.75 -14,20.75 C-14,20.75 23.25,15.5 32,13.5 C34.75,5.25 34,-14.25 30,-24.5"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M4.625,-16.937999725341797 C2.687000036239624,-16.312999725341797 4.688000202178955,-12.187999725341797 6.438000202178955,-12.812999725341797 C8.187999725341797,-13.437999725341797 6.563000202178955,-17.562999725341797 4.625,-16.937999725341797z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M4.625,-16.937999725341797 C2.687000036239624,-16.312999725341797 4.688000202178955,-12.187999725341797 6.438000202178955,-12.812999725341797 C8.187999725341797,-13.437999725341797 6.563000202178955,-17.562999725341797 4.625,-16.937999725341797z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M8.125,-4.188000202178955 C6.375,-3.187999963760376 9.125,1.312999963760376 11.25,-0.25 C13.375,-1.812999963760376 9.875,-5.188000202178955 8.125,-4.188000202178955z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M8.125,-4.188000202178955 C6.375,-3.187999963760376 9.125,1.312999963760376 11.25,-0.25 C13.375,-1.812999963760376 9.875,-5.188000202178955 8.125,-4.188000202178955z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M9,5.938000202178955 C7.25,4.813000202178955 6.811999797821045,5.75 7.125,7.25 C7.438000202178955,8.75 8.937000274658203,10.625 10.5,10.25 C12.062999725341797,9.875 10.75,7.063000202178955 9,5.938000202178955z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M9,5.938000202178955 C7.25,4.813000202178955 6.811999797821045,5.75 7.125,7.25 C7.438000202178955,8.75 8.937000274658203,10.625 10.5,10.25 C12.062999725341797,9.875 10.75,7.063000202178955 9,5.938000202178955z"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-24.5,-122.25 C-22.25,-125.375 -18.625,-125.25 -17.125,-124.375 C-16.875,-127 -11.562999725341797,-126.625 -11.312999725341797,-123.125 C-11.062999725341797,-119.625 -14.625,-117.125 -15.75,-115.875"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-9.375,-129.5 C-5.625,-129.375 -5.5,-127.375 -7.875,-126.375 C-5.75,-125 -7.875,-119.875 -9.5,-117.875"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M16.25,-118.25 C-12.678000450134277,-122.74400329589844 -35,-114.75 -43.75,-89.75 C-52.5,-64.75 -47.60100173950195,-32.448001861572266 -21.25,-24.25 C-10,-20.75 7.25,-25.5 21.75,-29.75 C36.25,-34 51,-50 52.75,-65.5 C55.095001220703125,-86.26799774169922 42,-114.25 16.25,-118.25z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M16.25,-118.25 C-12.678000450134277,-122.74400329589844 -35,-114.75 -43.75,-89.75 C-52.5,-64.75 -47.60100173950195,-32.448001861572266 -21.25,-24.25 C-10,-20.75 7.25,-25.5 21.75,-29.75 C36.25,-34 51,-50 52.75,-65.5 C55.095001220703125,-86.26799774169922 42,-114.25 16.25,-118.25z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M28.25,-66.75 C32,-36.75 -31.25,-28.75 -32,-58.25"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M28.25,-66.75 C32,-36.75 -31.25,-28.75 -32,-58.25"></path></g><g opacity="1" transform="matrix(1,0,0,1,-29.625,-88.18800354003906)"><path fill="rgb(0,0,0)" fill-opacity="1" d=" M0,-2.8125 C1.1727875471115112,-2.8125 2.125,-1.5522187948226929 2.125,0 C2.125,1.5522187948226929 1.1727875471115112,2.8125 0,2.8125 C-1.1727875471115112,2.8125 -2.125,1.5522187948226929 -2.125,0 C-2.125,-1.5522187948226929 -1.1727875471115112,-2.8125 0,-2.8125z"></path></g><g opacity="1" transform="matrix(1,0,0,1,15.25,-90)"><path fill="rgb(0,0,0)" fill-opacity="1" d=" M0,-2.75 C1.1727875471115112,-2.75 2.125,-1.5177249908447266 2.125,0 C2.125,1.5177249908447266 1.1727875471115112,2.75 0,2.75 C-1.1727875471115112,2.75 -2.125,1.5177249908447266 -2.125,0 C-2.125,-1.5177249908447266 -1.1727875471115112,-2.75 0,-2.75z"></path></g></g><g transform="matrix(1,0,0,1,400.25,300.125)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-68.5,-4.375 C-71,-47.375 -71.375,-93 -67.875,-110"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-83.25,-91.875 C-89.75,-94.5 -95,-93.125 -96.25,-90.125 C-97.5,-87.125 -96.5,-83 -90.5,-78.25 C-84.5,-73.5 -78.75,-69.625 -70.625,-70.75 C-70.875,-81.875 -76.75,-89.25 -83.25,-91.875z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-83,-81.875 C-78.25,-80.25 -72.125,-73.75 -70.875,-71.125"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-66.25,-159.875 C-72.43800354003906,-157 -70.06300354003906,-148.75 -70.06300354003906,-148.75 C-70.06300354003906,-148.75 -72.81300354003906,-151.75 -75.43800354003906,-153.625 C-78.06300354003906,-155.5 -88.375,-154.875 -91.375,-146.875 C-94.375,-138.875 -85.75,-135.5 -88.875,-132 C-92,-128.5 -98,-121.75 -89.375,-113.875 C-80.75,-106 -71.25,-107.375 -65.25,-109.875 C-63.8120002746582,-99.93699645996094 -52.0629997253418,-105.625 -48.4379997253418,-108.375 C-44.8129997253418,-111.125 -44.1879997253418,-119.25 -49.9379997253418,-121.375 C-42.625,-121.75 -39.5,-127.93699645996094 -40.6879997253418,-135 C-41.875999450683594,-142.06300354003906 -49.6879997253418,-140.875 -49.6879997253418,-140.875 C-49.6879997253418,-140.875 -43.8120002746582,-145 -45.125,-151.875 C-46.4379997253418,-158.75 -60.0620002746582,-162.75 -66.25,-159.875z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M-70.625,-132.875 C-66.875,-139 -59.875,-135.375 -61,-129.5 C-62.125,-123.625 -71.375,-124.875 -69.75,-130.625"></path></g></g></g><g clip-path="url(#__lottie_element_4)" transform="matrix(1,0,0,1,-50,-100)" opacity="1" style="display: block;"><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M165,122 C164.25,120.75 163.875,122.25 164,123.5 C164.25,140.125 165.5,149.75 168.5,154 C169.5,148.5 169,133.5 165,122z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M165,122 C164.25,120.75 163.875,122.25 164,123.5 C164.25,140.125 165.5,149.75 168.5,154 C169.5,148.5 169,133.5 165,122z"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M167.625,151.375 C156.25,148.75 142.75,151.625 143.25,156.125 C143.75,160.625 148.25,164.875 159.5,164.625 C172.125,164.375 171.5,152.875 167.625,151.375z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M167.625,151.375 C156.25,148.75 142.75,151.625 143.25,156.125 C143.75,160.625 148.25,164.875 159.5,164.625 C172.125,164.375 171.5,152.875 167.625,151.375z"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M223.625,141.625 C223.125,139.5 223.125,135.625 221.5,142.875 C219.875,150.125 220,155.75 222,160 C223.25,162.125 223.875,159.75 223.875,159.75 C223.875,159.75 224.125,143.75 223.625,141.625z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M223.625,141.625 C223.125,139.5 223.125,135.625 221.5,142.875 C219.875,150.125 220,155.75 222,160 C223.25,162.125 223.875,159.75 223.875,159.75 C223.875,159.75 224.125,143.75 223.625,141.625z"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M222,158.875 C215.625,159.625 221.75,167.125 225.25,170.125 C228.75,173.125 241.125,176.125 245.875,173.75 C250.625,171.375 247.125,166.875 241.375,163.875 C235.625,160.875 228.375,158.125 222,158.875z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M222,158.875 C215.625,159.625 221.75,167.125 225.25,170.125 C228.75,173.125 241.125,176.125 245.875,173.75 C250.625,171.375 247.125,166.875 241.375,163.875 C235.625,160.875 228.375,158.125 222,158.875z"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M130.25,-74.75 C130.25,-74.75 126.5,-70.75 126.5,-70.75 C126.5,-70.75 138.5,-56.25 150,-47.5 C161.5,-38.75 174.5,-35.75 181.75,-33.75 C189,-31.75 207.5,-34 189.75,-38.75 C172,-43.5 161,-50.25 154,-55 C147,-59.75 130.25,-74.75 130.25,-74.75z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M130.25,-74.75 C130.25,-74.75 126.5,-70.75 126.5,-70.75 C126.5,-70.75 138.5,-56.25 150,-47.5 C161.5,-38.75 174.5,-35.75 181.75,-33.75 C189,-31.75 207.5,-34 189.75,-38.75 C172,-43.5 161,-50.25 154,-55 C147,-59.75 130.25,-74.75 130.25,-74.75z"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M120.5,-71.75 C114,-72.375 113.75,-77.25 116.875,-79.875 C120,-82.5 127.375,-78.75 129.375,-76.25 C128.5,-73.75 124.875,-67.25 123.5,-65.625 C122.125,-64 118.375,-60.375 114.75,-63 C111.125,-65.625 112.75,-69.125 112.75,-69.125 C112.75,-69.125 109.25,-69.75 109.25,-75.375 C109.25,-81 115.125,-82.625 115.125,-82.625 C115.125,-82.625 112.375,-87.125 118.25,-86.5 C121,-86.125 123.75,-83.125 126.25,-79"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M120.5,-71.75 C114,-72.375 113.75,-77.25 116.875,-79.875 C120,-82.5 127.375,-78.75 129.375,-76.25 C128.5,-73.75 124.875,-67.25 123.5,-65.625 C122.125,-64 118.375,-60.375 114.75,-63 C111.125,-65.625 112.75,-69.125 112.75,-69.125 C112.75,-69.125 109.25,-69.75 109.25,-75.375 C109.25,-81 115.125,-82.625 115.125,-82.625 C115.125,-82.625 112.375,-87.125 118.25,-86.5 C121,-86.125 123.75,-83.125 126.25,-79"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M114.75,-18 C114,-48 116,-79.5 130,-98.25"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M123.5,-135.5 C112.75,-137 107.25,-128 107,-119.25 C106.75,-110.5 112.5,-96.5 127.75,-100.5 C136.25,-83.5 161,-90 155.25,-108.5 C168.75,-114.75 162.25,-131 147.5,-129.25 C145,-140.25 132.25,-145.5 123.5,-135.5z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M123.5,-135.5 C112.75,-137 107.25,-128 107,-119.25 C106.75,-110.5 112.5,-96.5 127.75,-100.5 C136.25,-83.5 161,-90 155.25,-108.5 C168.75,-114.75 162.25,-131 147.5,-129.25 C145,-140.25 132.25,-145.5 123.5,-135.5z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M136.5,-122.875 C135.25,-122.625 136.5,-115.25 139,-115.5 C141.5,-115.75 140.75,-118.75 140.625,-120 C140.5,-121.25 137.75,-123.125 136.5,-122.875z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M136.5,-122.875 C135.25,-122.625 136.5,-115.25 139,-115.5 C141.5,-115.75 140.75,-118.75 140.625,-120 C140.5,-121.25 137.75,-123.125 136.5,-122.875z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M115.375,-49.875 C125.125,-50.625 131.3560028076172,-45.58700180053711 129.75,-41.25 C128.5,-37.875 116.125,-42.625 114.75,-45"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M124.25,-44.375 C121.375,-45.625 119.375,-46.5 115.25,-47"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M115.625,-54.25 C108.75,-52.75 99.5,-56.25 100.625,-61 C101.75,-65.75 112.5,-63.125 116,-58.5"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M106.625,-58 C110.25,-58.5 114,-57.875 116.125,-56.5"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M263.5,-12.5 C244,-21.5 262,-4.25 268.25,-1 C274.5,2.25 283.5,7 294.75,14.75 C306,22.5 318.5,32.25 322,32.75 C325.5,33.25 327.5,29 327.5,29 C327.5,29 309.75,18.25 298,9 C286.25,-0.25 283,-3.5 263.5,-12.5z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M263.5,-12.5 C244,-21.5 262,-4.25 268.25,-1 C274.5,2.25 283.5,7 294.75,14.75 C306,22.5 318.5,32.25 322,32.75 C325.5,33.25 327.5,29 327.5,29 C327.5,29 309.75,18.25 298,9 C286.25,-0.25 283,-3.5 263.5,-12.5z"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M340.125,18.375 C337.75,15.625 331.875,15.375 329.625,21.75 C327.375,28.125 325.375,30.25 320,33.375 C314.625,36.5 316.5,40.5 318.625,43 C320.75,45.5 325.375,44.625 328.5,41.875 C335.375,49.5 343.375,45 339.625,37.375 C345.75,34.75 344.625,28.125 339.375,26 C342.125,23.875 342.5,21.125 340.125,18.375z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M340.125,18.375 C337.75,15.625 331.875,15.375 329.625,21.75 C327.375,28.125 325.375,30.25 320,33.375 C314.625,36.5 316.5,40.5 318.625,43 C320.75,45.5 325.375,44.625 328.5,41.875 C335.375,49.5 343.375,45 339.625,37.375 C345.75,34.75 344.625,28.125 339.375,26 C342.125,23.875 342.5,21.125 340.125,18.375z"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M139.75,68.25 C131,80.75 132.25,92 135.5,107 C138.75,122 145.875,125.75 151.5,126.5 C157.125,127.25 159,122 160.5,123.5 C162,125 167.5,125.375 169.875,121.625 C172.25,132 179.125,137.125 189.375,138.5 C199.625,139.875 204.5,131.625 205.5,128 C207.25,138.625 212.375,143.375 220.375,144.375 C228.375,145.375 233.875,136.375 233.875,136.375 C233.875,136.375 236,143.125 245,143.875 C254,144.625 257.5,137.5 257.5,137.5 C257.5,137.5 257.375,143.375 260.875,144 C264.375,144.625 270.25,132.25 270.75,112 C271.25,91.75 148.5,55.75 139.75,68.25z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M139.75,68.25 C131,80.75 132.25,92 135.5,107 C138.75,122 145.875,125.75 151.5,126.5 C157.125,127.25 159,122 160.5,123.5 C162,125 167.5,125.375 169.875,121.625 C172.25,132 179.125,137.125 189.375,138.5 C199.625,139.875 204.5,131.625 205.5,128 C207.25,138.625 212.375,143.375 220.375,144.375 C228.375,145.375 233.875,136.375 233.875,136.375 C233.875,136.375 236,143.125 245,143.875 C254,144.625 257.5,137.5 257.5,137.5 C257.5,137.5 257.375,143.375 260.875,144 C264.375,144.625 270.25,132.25 270.75,112 C271.25,91.75 148.5,55.75 139.75,68.25z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M157,9.5 C145,16.5 144,23.75 142.25,33.25 C140.5,42.75 133.5,61.75 133.5,68 C133.5,74.25 138.5,80.75 145.25,78.75 C152,76.75 154,69.5 154,69.5 C154,69.5 154,92.25 174.25,99.75 C194.5,107.25 207.75,90.75 207.75,90.75 C207.75,90.75 209.75,111.25 227.5,115.25 C245.25,119.25 251,101.25 251,101.25 C251,101.25 258,121.75 274.25,117.25 C290.5,112.75 277.5,31.75 266.5,24.25 C255.5,16.75 169,2.5 157,9.5z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M157,9.5 C145,16.5 144,23.75 142.25,33.25 C140.5,42.75 133.5,61.75 133.5,68 C133.5,74.25 138.5,80.75 145.25,78.75 C152,76.75 154,69.5 154,69.5 C154,69.5 154,92.25 174.25,99.75 C194.5,107.25 207.75,90.75 207.75,90.75 C207.75,90.75 209.75,111.25 227.5,115.25 C245.25,119.25 251,101.25 251,101.25 C251,101.25 258,121.75 274.25,117.25 C290.5,112.75 277.5,31.75 266.5,24.25 C255.5,16.75 169,2.5 157,9.5z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M178.75,-24.5 C162.75,-18.5 151,-6.5 150.5,11.25 C150,29 161,36 165.25,36.75 C169.5,37.5 173.75,30.5 173.75,30.5 C173.75,30.5 179.25,40.25 188.75,43 C198.25,45.75 199.5,38 199.5,38 C199.5,38 205.75,45 216.75,50.5 C227.75,56 233.75,49.25 236.25,43.25 C242,53.5 250,59.75 258.25,59.75 C266.5,59.75 268.25,48.75 268.25,48.75 C268.25,48.75 272,57.5 278.5,54 C285,50.5 284.25,24.5 271.5,14.5 C258.75,4.5 234.25,-3.25 234.25,-3.25 C234.25,-3.25 194.75,-30.5 178.75,-24.5z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M178.75,-24.5 C162.75,-18.5 151,-6.5 150.5,11.25 C150,29 161,36 165.25,36.75 C169.5,37.5 173.75,30.5 173.75,30.5 C173.75,30.5 179.25,40.25 188.75,43 C198.25,45.75 199.5,38 199.5,38 C199.5,38 205.75,45 216.75,50.5 C227.75,56 233.75,49.25 236.25,43.25 C242,53.5 250,59.75 258.25,59.75 C266.5,59.75 268.25,48.75 268.25,48.75 C268.25,48.75 272,57.5 278.5,54 C285,50.5 284.25,24.5 271.5,14.5 C258.75,4.5 234.25,-3.25 234.25,-3.25 C234.25,-3.25 194.75,-30.5 178.75,-24.5z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M195,-44.75 C181,-40.25 167.75,-28.5 169,-22.75 C170.25,-17 175.5,-22 178,-16.5 C180.5,-11 182,-3.25 188.25,-2.75 C194.5,-2.25 199.25,-0.75 200.5,2 C201.75,4.75 205.25,5.125 208.75,5.375 C209.125,10.375 216.125,15.875 223.875,10.25 C226.875,14.25 230.5,16.625 233.875,16.625 C237.25,16.625 239.5,11.875 243.5,14.375 C247.5,16.875 252.75,20.75 255.875,18.875 C259,17 259.75,13.75 259.75,13.75 C259.75,13.75 264.125,16.625 268.75,15.625 C273.375,14.625 274.625,11.875 274.625,11.875 C274.625,11.875 270.375,3.125 269.75,-1.25 C269.125,-5.625 265.125,-14.5 264,-15.5 C262.875,-16.5 209,-49.25 195,-44.75z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M195,-44.75 C181,-40.25 167.75,-28.5 169,-22.75 C170.25,-17 175.5,-22 178,-16.5 C180.5,-11 182,-3.25 188.25,-2.75 C194.5,-2.25 199.25,-0.75 200.5,2 C201.75,4.75 205.25,5.125 208.75,5.375 C209.125,10.375 216.125,15.875 223.875,10.25 C226.875,14.25 230.5,16.625 233.875,16.625 C237.25,16.625 239.5,11.875 243.5,14.375 C247.5,16.875 252.75,20.75 255.875,18.875 C259,17 259.75,13.75 259.75,13.75 C259.75,13.75 264.125,16.625 268.75,15.625 C273.375,14.625 274.625,11.875 274.625,11.875 C274.625,11.875 270.375,3.125 269.75,-1.25 C269.125,-5.625 265.125,-14.5 264,-15.5 C262.875,-16.5 209,-49.25 195,-44.75z"></path></g></g><g transform="matrix(1,0,0,1,400,300)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M217.75,-87.75 C204,-86.75 194.25,-75 190.75,-58 C187.25,-41 200.75,-25.5 210.25,-20.5 C219.75,-15.5 242.75,-5.25 257.25,-7 C271.75,-8.75 281.5,-22.5 286.25,-41.25 C291,-60 275.5,-76.25 260,-83.75 C244.5,-91.25 231.5,-88.75 217.75,-87.75z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M217.75,-87.75 C204,-86.75 194.25,-75 190.75,-58 C187.25,-41 200.75,-25.5 210.25,-20.5 C219.75,-15.5 242.75,-5.25 257.25,-7 C271.75,-8.75 281.5,-22.5 286.25,-41.25 C291,-60 275.5,-76.25 260,-83.75 C244.5,-91.25 231.5,-88.75 217.75,-87.75z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M222.25,-53.25 C227.625,-57.25 234.375,-62.375 234.375,-62.375"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M222.25,-53.25 C227.625,-57.25 234.375,-62.375 234.375,-62.375"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M210.625,-62.5 C199.125,-37 233.75,-16.75 248.75,-37.5"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M210.625,-62.5 C199.125,-37 233.75,-16.75 248.75,-37.5"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M223.875,-71 C222.68699645996094,-72.25 219.31300354003906,-70.03099822998047 221.18800354003906,-68.40599822998047 C223.06300354003906,-66.78099822998047 225.06300354003906,-69.75 223.875,-71z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M223.875,-71 C222.68699645996094,-72.25 219.31300354003906,-70.03099822998047 221.18800354003906,-68.40599822998047 C223.06300354003906,-66.78099822998047 225.06300354003906,-69.75 223.875,-71z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M256.281005859375,-55.90599822998047 C254.625,-57.3120002746582 252.43699645996094,-54.625 253.875,-53.25 C255.593994140625,-51.78099822998047 258.125,-54.09299850463867 256.281005859375,-55.90599822998047z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M256.281005859375,-55.90599822998047 C254.625,-57.3120002746582 252.43699645996094,-54.625 253.875,-53.25 C255.593994140625,-51.78099822998047 258.125,-54.09299850463867 256.281005859375,-55.90599822998047z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M220.125,-88.25 C209.875,-86.375 205.875,-85.75 197.125,-74.75 C187.375,-81.25 183.5,-96.5 183,-102.75 C193,-106.5 224.75,-106.75 238.5,-106.25 C252.25,-105.75 261.5,-95.25 261.5,-95.25 C261.5,-95.25 283.25,-88.75 290.75,-78.25 C298.25,-67.75 314,-24.5 308.25,-18.25 C302.5,-12 285.5,-20.75 285.5,-20.75 C285.5,-20.75 287.75,-37.25 287.75,-38.25 C287.75,-39.25 287.75,-42.75 287.75,-42.75 C287.75,-42.75 268,-43.75 258.5,-76.75 C251,-74.75 231.25,-74 222.75,-90.25"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M220.125,-88.25 C209.875,-86.375 205.875,-85.75 197.125,-74.75 C187.375,-81.25 183.5,-96.5 183,-102.75 C193,-106.5 224.75,-106.75 238.5,-106.25 C252.25,-105.75 261.5,-95.25 261.5,-95.25 C261.5,-95.25 283.25,-88.75 290.75,-78.25 C298.25,-67.75 314,-24.5 308.25,-18.25 C302.5,-12 285.5,-20.75 285.5,-20.75 C285.5,-20.75 287.75,-37.25 287.75,-38.25 C287.75,-39.25 287.75,-42.75 287.75,-42.75 C287.75,-42.75 268,-43.75 258.5,-76.75 C251,-74.75 231.25,-74 222.75,-90.25"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M215.25,-112.75 C207.125,-109.625 214.25,-99 223,-93.25 C231.75,-87.5 230,-80.125 225.875,-78.875 C221.75,-77.625 213.125,-83 219.5,-91.375 C231.125,-104.25 223.375,-115.875 215.25,-112.75z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M215.25,-112.75 C207.125,-109.625 214.25,-99 223,-93.25 C231.75,-87.5 230,-80.125 225.875,-78.875 C221.75,-77.625 213.125,-83 219.5,-91.375 C231.125,-104.25 223.375,-115.875 215.25,-112.75z"></path></g><g opacity="1" transform="matrix(1,0,0,1,0,0)"><path fill="rgb(255,255,255)" fill-opacity="1" d=" M312.5,-54.75 C306.375,-59 301.125,-56.375 297,-47.5 C292.875,-38.625 286.375,-35.25 281.875,-38 C277.375,-40.75 284.125,-51.625 292.25,-45.25 C300.375,-38.875 306,-38.375 311.875,-40.125 C317.75,-41.875 318.625,-50.5 312.5,-54.75z"></path><path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(0,0,0)" stroke-opacity="1" stroke-width="1" d=" M312.5,-54.75 C306.375,-59 301.125,-56.375 297,-47.5 C292.875,-38.625 286.375,-35.25 281.875,-38 C277.375,-40.75 284.125,-51.625 292.25,-45.25 C300.375,-38.875 306,-38.375 311.875,-40.125 C317.75,-41.875 318.625,-50.5 312.5,-54.75z"></path></g></g></g></g></svg>
                        </div>
                    </div>
                    <div class="right-ttm">
                        <h1 class="single-h1 page-h1">ایجاد حساب کاربری</h1>
                        <p>با ایجاد حساب كاربرى در وب‌سایت محک، می‌توانید تاريخچه كمك‌های خود برای تأمین هزینه دارو و درمان کودکان مبتلا به سرطان تحت حمايت محك را مشاهده کنید. پرداخت‌هایی شامل عضویت، درمانیاری و کمک آنلاین و همچنین سفارش قلک در این حساب قابل پیگیری است. با داشتن حساب كاربرى می‌توانید سهم خود در نجات جان قهرمان‌های کوچک محک و جزئیات آن را ثبت، ذخيره و پيشينه نيكوكارى تان را دنبال كنيد.</p>
                        <p>&nbsp;</p>

                        <form asp-action="Register" asp-controller="Account" class="form-comment">
                            @if (ViewData.ModelState.IsValid.ToString() == "False")
                            {
                                <div asp-validation-summary="All" class="alert alert-danger"></div>
                            }
                            <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />

                            <div class="flex-input-item margin-top-0 register-form">
                                <input asp-for="UserName" placeholder="نام کاربری (شماره موبایل) *">
                                <input asp-for="Password" type="password" placeholder="رمز عبور*" id="password">
                                <input asp-for="ConfirmPassword" type="password" placeholder="تکرار رمز عبور *" id="password-confrim">
                            </div>
                            <div class="flex-input-item margin-top-0">
                                <input asp-for="FirstName" type="text" placeholder="نام *" id="firstname">
                                <input asp-for="LastName" type="text" placeholder="نام خانوادگی *" id="lastname">
                                <input asp-for="Email" placeholder="پست الکترونیک" id="email">
                            </div>
                            <label class="radio checkbox newsletter-label">
                                <input type="checkbox" id="isemail" name="ttm">مایل به دریافت پست الکترونیک از طرف محک هستم
                            </label>
                            <button type="submit" class="buttons comment-button">ثبت نام</button>
                        </form>

                        @*<form asp-controller="Account" asp-action="Register" method="post">
                            <div class="flex-input-item margin-top-0 register-form">
                                <input asp-for="Code" type="text" placeholder="رمز پیامک شده را وارد کنید">
                            </div>
                            <a asp-controller="Account" asp-action="Register">ارسال مجدد رمز احراز هویت   <b id="counter"></b></a>
                            <button type="button" class="buttons comment-button ">احراز هویت</button>
                        </form>*@

                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
