﻿@model Mahak.ViewModel.Account.SignInViewModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="single">
    <div class="container">
        <div class="page-offset">
            <div class="breadcrumb"><a asp-action="Index" asp-controller="Home">خانه</a> <i></i> <span>حساب کاربری من</span></div>
            <article class="single-page">
                <h1 class="single-h1 page-h1">حساب کاربری من</h1>
                <div class="woocommerce">
                    <div class="woocommerce-notices-wrapper"></div>
                    <h2>ورود</h2>
                    <form method="post" asp-action="SignIn" asp-controller="Account">
                        @if (ViewData.ModelState.IsValid.ToString() == "False")
                        {
                            <div asp-validation-summary="All" class="mb-2 alert alert-danger"></div>
                        }

                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label asp-for="UserName">نام کاربری (شماره موبایل)&nbsp;<span class="required">*</span></label>
                            <input asp-for="UserName" class="woocommerce-Input woocommerce-Input--text input-text"/>
                        </p>
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label asp-for="Password">گذرواژه&nbsp;<span class="required">*</span></label>
                            <input asp-for="Password" class="woocommerce-Input woocommerce-Input--text input-text"  />
                        </p>
                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="@(Configuration.GetValue<string>("GoogleReCaptcha:ClientKey"))"></div>
                        </div>
                        <p class="form-row">
                            <label class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
                                <input asp-for="RememberMe" class="woocommerce-form__input woocommerce-form__input-checkbox" type="checkbox" value="" /> <span>مرا به خاطر بسپار</span>
                            </label>
                            <button type="submit" class="woocommerce-button button woocommerce-form-login__submit">ورود</button>
                        </p>
                        <p class="woocommerce-LostPassword lost_password">
                            <a asp-action="ForgetPassword" asp-controller="Account">گذرواژه خود را فراموش کرده اید؟</a>
                        </p>
                        <br/>
                        <div>
                            پروفایل نیکوکاری ندارید؟<a asp-action="Register" asp-controller="Account" style="color:red;"> همینک بسازید </a>
                        </div>
                    </form>
                </div>
            </article>
        </div>
    </div>
</section>
