﻿
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="single">
    <div class="container">
        <div class="page-offset">
            <!-- Breadcrumb -->
            <div class="breadcrumb"><a asp-action="Index" asp-controller="Home">خانه</a> <i></i> <span>حساب کاربری من</span></div>
            <article class="single-page">
                <h1 class="single-h1 page-h1">حساب کاربری من</h1>
                <div class="woocommerce">
                    @await Html.PartialAsync("_ProfileMenu")

                    <div class="woocommerce-MyAccount-content">
                        <div class="woocommerce-notices-wrapper"></div><input type="hidden" id="fmahak" name="fmahak" value="bad4604054" />
                        <form action="" method="POST" id="hamdeli-form">
                            <ul class="hamdeli-wizard">
                                <li class="active">ورود اطلاعات</li>
                                <li>تایید اطلاعات و پرداخت</li>
                                <li>ارسال پیام همدلی</li>
                            </ul>
                            <div class="flex-hamdeli-message">
                                <div class="pic-frame">
                                    <span>نمونه استند ديجيتال ارسالی از سوى شما</span>
                                    <img src="https://mahak-charity.org/wp-content/themes/kalhors-mahak/images/tasliat.jpg" alt="tabrik">
                                </div>
                                <div>
                                    <div class="fhm-text">
                                        در روزهایی که باید فاصله‌گذاری اجتماعی را رعایت کنیم و حتی در آینده‌ای که سلامتی باز هم به جهانمون برگرده، با سفارش و
                                        ارسال پیام تسلیت و تبریک از طریق پیام همدلی محک به صورت آنلاین، در روزهای تلخ و شیرین، همراهی با عزیزانمان را به
                                        نجات زندگی کودکان مبتلا به سرطان محک پیوند بزنیم. (ارسال پیام از طریق ایمیل، واتساپ و پیامک) با پرداخت مبلغ ۱۰۰ هزار تومان و ارسال پیام همدلی، یاد عزیز از دست رفته را با کمک به ادامه زندگی کودکان مبتلا به سرطان
                                        زنده نگه دارید و تسلی خاطر بازماندگان باشید.
                                    </div>

                                    <span class="hamdeli-message-title">خطاب به:*</span>
                                    <div class="mesal"><span>برای مثال:</span> سرکار خانم مریم محمدی گرامی/ جناب آقای علی حسینی عزیز/ خانواده محترم حسینی/ دوست عزیزم علی حسینی</div>
                                    <input name="receiver_name" class="hamdeli-message-input" type="text" placeholder="نام و نام خانوادگی گیرنده پیام همدلی را وارد کنید"> 
                                    <span class="hamdeli-message-title">از طرف:*</span>
                                    <div class="mesal">
                                        <span>برای مثال:</span> مینا سرمدی/ دوست شما رضا علوی/ خانواده علوی/ همکاران شما در واحد حسابداری/ برادران یوسفی
                                    </div>
                                    <input name="sender_name" value="محمد خاکساری" class="hamdeli-message-input" type="text" placeholder=" نام و نام خانوادگی فرستنده پیام همدلی را وارد کنید">
                                    <span class="hamdeli-message-title">متن پیام</span>
                                    <button type="button" class="edit-hamdeli">ویرایش</button>
                                    <textarea name="message" class="hamdeli-message-textarea" disabled>در این روزهای تلخ و سخت همواره به یادتان بوده و خود را در غم شما شریک می دانیم. با اینکه به دلیل فاصله گذاری اجتماعی باید دست هایمان از هم دور باشد اما لحظه ای قلب هایمان از هم دور نبوده است. به همین خاطر با فرستادن این پیام از سوی محک برآن شدیم تا همراهی خود را در لحظات سخت زندگی شما به نجات جان کودکان مبتلا به سرطان پیوند بزنیم. تسلیت ما را پذیرا باشید. به امید آنکه بعد از روزهای سخت شیوع کرونا، در دیدارمان با شما و سایر بازماندگان عزیز ازدست رفته مان، سوگ را با مهر و عشق مان به هم کمی التیام بخشیم.</textarea>
                                    <span class="hamdeli-message-title">شماره تلفن همراه نیکوکار سفارش دهنده</span>
                                    <input name="mobile" value="09192232012" class="hamdeli-message-input hamdeli-phone" type="text" placeholder="۰۹.. ... .. ..">
                                </div>
                            </div>
                            <div class="flex-whatsapp fw2">
                                <div>
                                    <h3 class="fw2-h3">روش‌های ارسال پیام را انتخاب کنید</h3>
                                    <label class="radio checkbox"><input type="checkbox" name="from_emails" class="send-email"> از طریق ایمیل</label>
                                    <span class="flex-whatsapp-title">آدرس ایمیل نیکوکار سفارش دهنده</span>
                                    <input type="text" placeholder="example@example.com" class="hamdeli-input-simple email-input" disabled value="" name="email">
                                </div>
                            </div>

                            <span class="flex-whatsapp-title">آدرس ایمیل گیرنده/ گیرندگان پیام همدلی- حداکثر ۱۰ آدرس ایمیل</span>
                            <div class="flex-whatsapp fw-append-head">
                                <div>
                                    <input type="text" placeholder="example@example.com" class="hamdeli-input-simple his-half email-input" disabled name="emails[]">
                                    <button type="button" class="add-hamdeli-input email-input" disabled>+</button>
                                </div>
                                <div>
                                    <input type="text" placeholder="example@example.com" class="hamdeli-input-simple email-input" disabled name="emails[]">
                                </div>
                            </div>
                            <div class="flex-whatsapp">
                                <div>
                                    <label class="radio checkbox"><input type="checkbox" name="from_sms" class="send-sms"> از طریق پیامک</label>
                                    <span class="flex-whatsapp-title">شماره تلفن همراه گیرنده پیام - حداکثر ۲ شماره تماس</span>
                                    <input type="text" class="hamdeli-input-simple sms-input" disabled name="mobiles[]" placeholder="۰۹.. ... .. ..">
                                    <input type="text" class="hamdeli-input-simple sms-input" disabled name="mobiles[]" placeholder="۰۹.. ... .. ..">
                                </div><div>
                                    <label class="radio checkbox"><input type="checkbox" name="from_whatsapp"> از طریق واتساپ</label>
                                    <span class="flex-whatsapp-title">ارسال به واتس اپ توسط شما</span>
                                </div>
                            </div>
                            <div class="flex-port">
                                <label class="mellat-port">
                                    <input checked type="radio" name="port" value="melat">
                                    ملت
                                </label>
                                <label class="saman-port">
                                    <input type="radio" name="port" value="saman">
                                    سامان
                                </label>
                            </div>
                            <input type="hidden" id="fmahak" name="fmahak" value="bad4604054" />
                            <input type="hidden" value="new" name="waction">
                            <span class="hamdeli-price">میزان کمک شما در نجات زندگی کودکان محک با ارسال پیام همدلی به عزیزانتان ۱۰۰ هزار تومان است.</span>
                            <button type="submit" class="hamdeli-message-submit">ذخیره و مرحله بعدی</button>
                        </form>
                        <div class="hamdeli-ok">
                            <h3 class="hamdeli-ok-title"> آیا از گزینه های انتخاب شده مطمئن هستید؟</h3>
                            <ul class="hamdeli-ok-ul">
                                <li><a href="#" id="sform">بله مطمئنم، ادامه بده</a></li>
                                <li><button type="button">مطمئن نیستم</button></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </article>
        </div>
    </div>
</section>