﻿
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="single">
    <div class="container">
        <div class="page-offset">
            <!-- Breadcrumb -->
            <div class="breadcrumb"><a asp-action="Index" asp-controller="Home">خانه</a> <i></i> <span>حساب کاربری من</span></div>
            <article class="single-page">
                <h1 class="single-h1 page-h1">حساب کاربری من</h1>
                <div class="woocommerce">
                    @await Html.PartialAsync("_ProfileMenu")

                    <div class="woocommerce-MyAccount-content">
                        <div class="woocommerce-notices-wrapper"></div>
                        <input type="hidden" id="fmahak" name="fmahak" value="e3bfebcb47" />
                        <h1 class="single-h1 page-h1">درخواست عضویت</h1>
                        <p>شما نیکوکار گرامی می&zwnj;توانید با ثبت مشخصات و شماره همراه خود و همچنین تعداد روزهای درمان&zwnj;یاری که مد نظر دارید، به جمع درمان یاران محک بپیوندید.</p>
                        <form method="POST" action="" class="form-comment">
                            <div class="flex-input-item">
                                <input type="text" placeholder="نام *" name="firstname" value="محمد" readonly>
                                <input type="text" placeholder="نام خانوادگی *" name="lastname" value="خاکساری" readonly>
                                <input type="text" placeholder="شماره همراه * (کیبورد انگلیسی)" name="mobile" value="09192232012" readonly>
                            </div>

                            <div class="flex-input-item therapist-form margin-top-0">
                                <input v="" type="number" min="0" class="numbert" placeholder=" تعداد روز درمانیاری" name="number" data-price="1000000">
                                <div class="result-money">نمایش هزینه</div>
                            </div>
                            <span class="track-span online-help-span">هزینه درمانیاری شما = تعداد روز * ( ۱,۰۰۰,۰۰۰  ریال )</span>

                            <input type="hidden" id="fmahak" name="fmahak" value="e3bfebcb47" />
                            <button class="buttons comment-button">ثبت درخواست </button>
                        </form>
                    </div>

                </div>
            </article>
        </div>
    </div>
</section>