﻿@model Mahak.ViewModel.Account.UserPanelViewModel
@{
    ViewData["Title"] = "UserInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="single">
    <div class="container">
        <div class="page-offset">
            <!-- Breadcrumb -->
            <div class="breadcrumb"><a asp-action="Index" asp-controller="Home">خانه</a> <i></i> <span>حساب کاربری من</span></div>
            <article class="single-page">
                <h1 class="single-h1 page-h1">حساب کاربری من</h1>
                <div class="woocommerce">
                    @await Html.PartialAsync("_ProfileMenu")

                    <div class="woocommerce-MyAccount-content">
                        <div class="woocommerce-notices-wrapper"></div>
                        <form asp-controller="Account" asp-action="UserInfo" enctype="multipart/form-data">
                            <input type="hidden" asp-for="Id" />
                            @if (ViewData.ModelState.IsValid.ToString() == "False")
                            {
                                <div asp-validation-summary="All" class="alert alert-danger mb-4"></div>
                            }
                            @if (ViewBag.Alert != null)
                            {
                                <div class="alert alert-success alert-dismissable mb-3">
                                    @ViewBag.Alert
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }

                            <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
                                <label class="control-label">&nbsp;<span class="required">نام *</span></label>
                                <input asp-for="FirstName" type="text" class="woocommerce-Input woocommerce-Input--text input-text" />
                            </p>
                            <p class="woocommerce-form-row woocommerce-form-row--last form-row form-row-last">
                                <label class="control-label">&nbsp;<span class="required">نام خانوادگی *</span></label>
                                <input asp-for="LastName" type="text" class="woocommerce-Input woocommerce-Input--text input-text" />
                            </p>
                            <div class="clear"></div>

                            <p style="text-align:right;" class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                <label class="control-label">&nbsp;<span class="required">نام نمایشی *</span></label>
                                <input asp-for="ShowName" class="woocommerce-Input woocommerce-Input--text input-text" />
                                <span><em>به این صورت اسم شما در حساب کاربری و نظرات دیده خواهد شد</em></span>
                            </p>
                            <div class="clear"></div>

                            <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
                                <label class="control-label">&nbsp;<span class="required">شماره همراه *</span></label>
                                <input asp-for="PhoneNumber" type="text" class="woocommerce-Input woocommerce-Input--text input-text" />
                            </p>

                            <p class="woocommerce-form-row woocommerce-form-row--last form-row form-row-last">
                                <label class="control-label">&nbsp;<span class="required">نام کاربری *</span></label>
                                <input asp-for="UserName" type="text" class="woocommerce-Input woocommerce-Input--text input-text" />
                            </p>

                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                <label class="control-label">&nbsp;<span class="required">ایمیل *</span></label>
                                <input asp-for="Email" type="email" class="woocommerce-Input woocommerce-Input--email input-text" />
                            </p>

                            <fieldset>
                                <legend>تغییر گذرواژه</legend>
                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                    <label for="password_current">رمز عبور پیشین (در صورتی که قصد تغییر ندارید خالی بگذارید)</label>
                                    <input asp-for="OldPassword" type="password" class="woocommerce-Input woocommerce-Input--password input-text" />
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </p>
                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                    <label for="password_1">رمز عبور جدید (در صورتی که قصد تغییر ندارید خالی بگذارید)</label>
                                    <input asp-for="NewPassword" type="password" class="woocommerce-Input woocommerce-Input--password input-text" value="" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </p>
                                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                    <label asp-for="ConfirmNewPassword" class="control-label"></label>
                                    <input asp-for="ConfirmNewPassword" type="password" class="woocommerce-Input woocommerce-Input--password input-text" value="" />
                                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                </p>
                            </fieldset>
                            <div class="clear"></div>

                            <br />
                            <p>
                                <button type="submit">ذخیره تغییرات</button>
                            </p>
                        </form>
                    </div>

                </div>
            </article>
        </div>
    </div>
</section>
