﻿@model Mahak.ViewModel.Account.ResetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="single">
    <div class="container">
        <div class="page-offset">
            <!-- Breadcrumb -->
            <div class="breadcrumb"><a asp-action="Index" asp-controller="Home">خانه</a> <i></i> <span>فراموشی رمز عبور</span></div>

            <article class="single-page">
                <div class="flex-talk-to-mahak page-thumbnail-block">
                    <div class="left-ttm">
                        <div class="page-thumbnail">
                            <img width="1000" height="708" src="https://mahak-charity.org/wp-content/uploads/2020/03/forgot_password.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://mahak-charity.org/wp-content/uploads/2020/03/forgot_password.jpg 1000w, https://mahak-charity.org/wp-content/uploads/2020/03/forgot_password-600x425.jpg 600w, https://mahak-charity.org/wp-content/uploads/2020/03/forgot_password-768x544.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px" />
                        </div>
                    </div>
                    <div class="right-ttm">
                        <h1 class="single-h1 page-h1">فراموشی رمز عبور</h1>
                        <form method="post" class="form-comment fotgot-form">
                            <div class="flex-input-item margin-top-0 register-form">
                                <input type="text" asp-for="Email" readonly>
                            </div>

                            <div class="mt-5">
                                <p class="alert alert-success">
                                    برای بازنشانی کلمه عبور ایمیل خود را چک کنید.
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
