﻿@model Mahak.ViewModel.Account.UserPanelViewModel
@using Mahak.Common.Extensions
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="single">
    <div class="container">
        <div class="page-offset">
            <!-- Breadcrumb -->
            <div class="breadcrumb"><a asp-action="Index" asp-controller="Home">خانه</a> <i></i> <span>حساب کاربری من</span></div>
            <article class="single-page">
                <h1 class="single-h1 page-h1">حساب کاربری من</h1>
                <div class="woocommerce">
                    @await Html.PartialAsync("_ProfileMenu")

                    <div class="woocommerce-MyAccount-content">
                        <div class="woocommerce-notices-wrapper"></div>
                        <div>
                            <p>سلام  <strong>@Model.UserInfo.FirstName @Model.UserInfo.LastName</strong> (<strong>@Model.UserInfo.FirstName @Model.UserInfo.LastName</strong> نیستید؟ )</p>
                            <form asp-action="SignOut" asp-controller="Account"><button type="submit">خارج شوید</button></form>
                        </div>
                        <p>
                            از پیشخوان حساب کاربری خود می توانید
                            <a asp-action="Orders" asp-controller="Account">آخرین سفارش ها</a> را ببینید ، به راحتی
                            <a asp-action="AddressManager" asp-controller="AddressManager" asp-route-userId="@User.Identity.GetUserId()">آدرس حمل و نقل و صورت حساب </a> را مدیریت کنید و
                            <a asp-action="UserInfo" asp-controller="Account" asp-route-userId="@User.Identity.GetUserId()">اطلاعات حساب کاربری و رمز عبور</a> را تغییر دهید.
                        </p>
                        <img src="https://mahak-charity.org/wp-content/themes/kalhors-mahak/images/banner.jpg" style="margin:20px auto">
                    </div>

                </div>
            </article>
        </div>
    </div>
</section>
