﻿@using Mahak.Services.Contracts
@inject ISecurityTrimmingService securityTrimmingService

<div id="toolbar">
    <button type="button" class="btn btn-success" data-toggle="ajax-modal" data-url="@Url.Action("RenderSlider","Slider")">
        <i class="fa fa-plus"></i> | افزودن اسلایدر جدید
    </button>

    <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-url="@Url.Action("DeleteGroup","Slider")">
        <i class="fa fa-trash"></i> | حذف گروهی
    </button>
</div>

<table id="table"
       data-toolbar="#toolbar"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-fullscreen="true"
       data-show-columns="true"
       data-detail-view="true"
       data-show-export="true"
       data-click-to-select="true"
       data-detail-formatter="detailFormatter"
       data-minimum-count-columns="2"
       data-show-pagination-switch="true"
       data-pagination="true"
       data-id-field="id"
       data-page-list="[10, 25, 50, 100, all]"
       data-show-footer="true"
       data-side-pagination="server"
       data-url="/Admin/Slider/GetSliders"
       data-response-handler="responseHandler">
</table>

<script>
    var $table = $('#table')
    var selections = []

    function get_query_params(p) {
        return {
            extraParam: 'abc',
            search: p.title,
            sort: p.sort,
            order: p.order,
            limit: p.limit,
            offset: p.offset
        }
    }

    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1
        })
        return res
    }

    function detailFormatter(index, row) {
        var html = []
        $.each(row, function (key, value) {
            if (key != "state" && key != "Id" && key != "ردیف" && key != "آدرس" && key != "تصویر اسلایدر" && key != "جایگاه اسلایدر" && key != "sliderLocations")
                html.push('<p><b>' + key + ':</b> ' + value + '</p>')
            if (key == "تصویر اسلایدر") {
                var url = '@string.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host)' + '/images/' + value;
                html.push('<p><b>' + key + ':</b> <img src="' + url + '" height="50" /></p>')
            }
            if (key == "آدرس") {
                var url = '@string.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host)' + '/Slider/' + row.Id + '/' + value;
                html.push('<p><b style="float:right">' + key + ':</b> ' + '<a href="' + url + '" style="float:right;direction:ltr;margin-right:2px;">'  + url + '</a>' + '</p>')
            }
        })
            return html.join('')
    }

    function operateFormatter(value, row, index) {
        var access = "";
        if ('@securityTrimmingService.CanUserAccess(User,"Admin", "Slider", "RenderSlider")' == 'True') {
            access = access + '<button type="button" class="btn-link text-success" data-toggle="ajax-modal" data-url=@Url.Action("RenderSlider", "Slider")?sliderId=' + row.Id + ' title="ویرایش"><i class="fa fa-edit"></i></button >';
        }
        if ('@securityTrimmingService.CanUserAccess(User,"Admin", "Slider", "Delete")' == 'True') {
            access = access + '<button type="button" class="btn-link text-danger" data-toggle="ajax-modal" data-url=@Url.Action("Delete", "Slider")/?sliderId=' + row.Id + ' title="حذف"><i class="fa fa-trash"></i></button >';
        }
        return access;
    }

    function checkBoxFormat(value, row) {
       return '<input type="checkbox" name="btSelectItem" value="' + row.Id + '" />';
    }

    function totalTextFormatter(data) {
        return 'تعداد'
    }

    function totalNameFormatter(data) {
        return data.length
    }

    function initTable() {
        $table.bootstrapTable('destroy').bootstrapTable({
            height: 600,
            locale: 'fa-IR',
            columns: [
                [{
                    field: 'state',
                    checkbox: true,
                    rowspan: 2,
                    align: 'center',
                    valign: 'middle',
                    formatter: checkBoxFormat
                }, {
                    title: 'ردیف',
                    field: 'ردیف',
                    rowspan: 2,
                    align: 'center',
                    valign: 'middle',
                    footerFormatter: totalTextFormatter
                }, {
                    title: 'جزئیات اطلاعات اسلایدر ها',
                    colspan: 3,
                    align: 'center'
                }],
                [{
                    field: 'عنوان اسلایدر',
                    title: 'عنوان اسلایدر',
                    sortable: true,
                    footerFormatter: totalNameFormatter,
                },{
                    field: 'جایگاه اسلایدر',
                    title: 'جایگاه',
                    sortable: true,
                    align: 'center'
                }, {
                    field: 'operate',
                    title: 'عملیات',
                    align: 'center',
                    events: window.operateEvents,
                    formatter: operateFormatter
                }]
            ]
        })
    }

    $(function () {
        initTable()
        $('#locale').change(initTable)
    })
</script>
