﻿@using Mahak.Services.Contracts
@inject ISecurityTrimmingService securityTrimmingService

<div id="toolbar">
    <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-url="@Url.Action("DeleteGroup","Newsletter")">
        <i class="fa fa-trash"></i> | حذف گروهی
    </button>
</div>

<table id="table"
       data-toolbar="#toolbar"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-fullscreen="true"
       data-show-columns="true"
       data-detail-view="true"
       data-show-export="true"
       data-click-to-select="true"
       data-detail-formatter="detailFormatter"
       data-minimum-count-columns="2"
       data-show-pagination-switch="true"
       data-pagination="true"
       data-id-field="id"
       data-page-list="[10, 25, 50, 100, all]"
       data-show-footer="true"
       data-side-pagination="server"
       data-url="/Admin/Newsletter/GetNewsletter"
       data-response-handler="responseHandler">
</table>

<script>
    var $table = $('#table')
    var selections = []

    function get_query_params(p) {
        return {
            extraParam: 'abc',
            search: p.title,
            sort: p.sort,
            order: p.order,
            limit: p.limit,
            offset: p.offset
        }
    }

    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1
        })
        return res
    }

    function detailFormatter(index, row) {
        var html = []
        $.each(row, function (key, value) {
            if (key != "state" && key != "Id" && key!="ردیف" && key!="IsActive")
                html.push('<p><b>' + key + ':</b> ' + value + '</p>')
            if(key=="Id")
                html.push('<p><b> ایمیل:</b> ' + value + '</p>')
        })
        return html.join('')
    }

    function operateFormatter(value, row, index) {
        if ('@securityTrimmingService.CanUserAccess(User,"Admin","Newsletter","Delete")'=='True') {
                return [
            '<button type="button" class="btn-link text-danger" data-toggle="ajax-modal" data-url=@Url.Action("Delete", "Newsletter")?email=' + row.Id + ' title="حذف">',
            '<i class="fa fa-trash"></i>',
            '</button >'
            ].join('')
        }
    }

    function isActiveFormatter(value, row, index) {
        var attr = "";
        if (row.IsActive) {
            attr = "checked";
        }

        return [
            '<label class="custom-toggle mb-0"> <input type="checkbox" onclick="ActiveOrInActiveNewsletter('+"'"+row.Id+"'"+')" id="'+row.Id+'" '+attr+' /><span class="custom-toggle-slider rounded-circle"></span></label>'
        ].join('')
    }

    function checkBoxFormat(value, row) {
        return '<input type="checkbox" name="btSelectItem" value="' + row.Id + '" />';
    }

    function totalTextFormatter(data) {
        return 'تعداد'
    }

    function totalNameFormatter(data) {
        return data.length
    }

    function initTable() {
        $table.bootstrapTable('destroy').bootstrapTable({
            height: 600,
            locale: 'fa-IR',
            columns: [
                [{
                    field: 'state',
                    checkbox: true,
                    rowspan: 2,
                    align: 'center',
                    valign: 'middle',
                    formatter: checkBoxFormat
                }, {
                    title: 'ردیف',
                    field: 'ردیف',
                    rowspan: 2,
                    align: 'center',
                    valign: 'middle',
                    footerFormatter: totalTextFormatter
                }, {
                    title: 'جزئیات اطلاعات خبرنامه',
                    colspan: 4,
                    align: 'center'
                }],
                [{
                    field: 'Id',
                    title: 'ایمیل',
                    sortable: true,
                    footerFormatter: totalNameFormatter,
                },{
                    field: 'تاریخ عضویت',
                    title: 'تاریخ عضویت',
                    sortable: true,
                },{
                    field: '',
                    title: 'وضعیت',
                    align: 'center',
                    formatter: isActiveFormatter
                },{
                    field: 'operate',
                    title: 'عملیات',
                    align: 'center',
                    events: window.operateEvents,
                    formatter: operateFormatter
                }]
            ]
        })
    }

    $(function () {
        initTable()
        $('#locale').change(initTable)
    })
</script>
