﻿@model Mahak.ViewModel.Home.ProductDetailsViewModel

<aside class="shop-aside">
    <div class="sa-box">
        <h3 class="sa-box-h3">دسته بندی‌ها</h3>
        <div class="sa-box-content">
            @foreach (var item in Model.Categories)
            {
                <ul class="sa-ul">
                    <li>
                        <a href="/Category/@item.CategoryId/@item.Url">@item.ParentCategoryName</a>
                        <ul>
                            <li><a href="/Category/@item.CategoryId/@item.Url">@item.CategoryName</a></li>
                        </ul>
                    </li>
                </ul>
            }
        </div>
    </div>
</aside>