﻿@model Mahak.ViewModel.Home.ProductDetailsViewModel
@using Mahak.ViewModel.Category

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="single">
    @if (Model.Categories.Count() != 0)
    {
        <div class="container">
            <div class="page-offset">
                <div class="breadcrumb">
                    <a asp-controller="Home" asp-action="Index">صفحه اصلی</a>
                    <span>دسته بندی محصولات</span>
                </div>

                <div class="product-slider-block">
                    <div class="product-slider">
                        @foreach (var item in Model.Sliders)
                        {
                            @if (item.Locations == "صفحه دسته بندی ها")
                            {
                                <a href="">
                                    <img src="~/images/@item.ImageName" alt="@item.Title">
                                    <h3>@item.Title</h3>
                                </a>
                            }
                        }
                    </div>
                </div>
                <div class="flex-shop-sidebar category-shop-banner">
                    <div class="shop-section">
                        <div class="flex-shop-banner">
                            @foreach (var item in Model.Categories)
                            {
                                <a href="/product-category/@item.CategoryId/@item.Url">
                                    @if (item.ImageName != null)
                                    {
                                        <img src="~/images/@item.ImageName">
                                    }
                                    else
                                    {
                                        <img src="~/assets/img/SpecifiedImage.jpg" class="calender" />
                                    }
                                    <span>@item.CategoryName</span>
                                </a>
                            }
                        </div>
                    </div>
                        @await Component.InvokeAsync("CategoryList")
                    <div class="aside-button"></div>
                </div>
            </div>
        </div>
    }
</section>
