﻿@model Mahak.ViewModel.Home.NewsPaginateViewModel
@using Mahak.Common.Extensions

@foreach (var item in Model.News)
{
    <!-- Single Post Area -->
    <div class="single-post-area mb-30">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <!-- Post Thumbnail -->
                <div class="post-thumbnail">
                    <img src="~/newsImage/@item.ImageName" alt="@item.ImageName">

                    <!-- Video Duration -->
                    <span class="video-duration">@item.PublishDateTime.Value.ToString("HH:mm")</span>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <!-- Post Content -->
                <div class="post-content mt-0">
                    <a href="/News/@item.NewsId/@item.Url" class="post-title mb-2">
                        @item.Title
                    </a>
                    <div class="post-meta d-flex align-items-center mb-2">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <a href="#" class="post-date">@item.PublishDateTime.ConvertMiladiToShamsi("dd MMMM yyyy")</a>
                    </div>
                    <p class="mb-2">
                        @item.Abstract
                    </p>
                    <div class="post-meta d-flex float-left">
                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> @item.NumberOfComments</a>
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @item.NumberOfVisit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
