﻿@model Mahak.ViewModel.Home.ProductDetailsViewModel
@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Order != null)
{
    <section class="single">
        <div class="container">
            <div class="page-offset">
                <!-- Breadcrumb -->
                <div class="breadcrumb"><a asp-controller="Home" asp-action="Index">خانه</a> <i></i> <span>سبد خرید</span></div>
                <article class="single-page">
                    <h1 class="single-h1 page-h1">سبد خرید</h1>
                    <div class="woocommerce">
                        <div class="woocommerce-notices-wrapper"></div>
                        <form class="woocommerce-cart-form" asp-action="DoCart">
                            <input type="hidden" asp-for="Product.ProductId" />
                            <input type="hidden" asp-for="Order.OrderId" />

                            <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="product-remove">&nbsp;</th>
                                        <th class="product-thumbnail">&nbsp;</th>
                                        <th class="product-name">محصول</th>
                                        <th class="product-price">قیمت</th>
                                        <th class="product-quantity">تعداد</th>
                                        <th class="product-subtotal"> قیمت کل </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Orders != null)
                                    {
                                        @foreach (var item in Model.Orders)
                                        {
                                            <tr class="woocommerce-cart-form__cart-item cart_item">
                                                <td class="product-remove">
                                                    <a href="/Order/@item.OrderId" class="remove" aria-label="پاک کردن این آیتم">&times;</a>
                                                </td>

                                                <td class="product-thumbnail">
                                                    <a href="/product/@item.ProductId/@*@Model.Category.CategoryId*@">
                                                        <img width="300" height="300" src="~/images/@item.ProductImageName" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" />
                                                    </a>
                                                </td>

                                                <td class="product-name" data-title="محصول">
                                                    <a href="/product/@item.ProductId/@item.ProductUrl">@item.ProductName  طرح( @item.ProductCode )</a>
                                                </td>

                                                <td class="product-price" data-title="قیمت">
                                                    <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">ریال</span>@item.ProductPrice</span>
                                                </td>

                                                <td class="product-quantity" data-title="تعداد">
                                                    <div class="quantity">
                                                        <label class="screen-reader-text">@item.ProductName  طرح( @item.ProductCode ) عدد</label>
                                                        <input asp-for="Order.Quantity" type="number"
                                                               class="input-text qty text"
                                                               step="1"
                                                               min="0"
                                                               max="100"
                                                               title="تعداد"
                                                               inputmode="numeric" />
                                                    </div>
                                                </td>

                                                <td class="product-subtotal" data-title=" قیمت کل ">
                                                    <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">ریال</span>@Model.Order.Calculate</span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr class="woocommerce-cart-form__cart-item cart_item">
                                            <td class="product-remove">
                                                <a href="/Order/@Model.Order.OrderId" class="remove" aria-label="پاک کردن این آیتم">&times;</a>
                                            </td>

                                            <td class="product-thumbnail">
                                                <a href="/product/@Model.Order.ProductId">
                                                    <img width="300" height="300" src="~/images/@Model.Order.ProductImageName" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" />
                                                </a>
                                            </td>

                                            <td class="product-name" data-title="محصول">
                                                <a href="/product/@Model.Order.ProductId/@Model.Order.ProductUrl">@Model.Order.ProductName  طرح( @Model.Order.ProductCode )</a>
                                            </td>

                                            <td class="product-price" data-title="قیمت">
                                                <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">ریال</span>@Model.Order.ProductPrice</span>
                                            </td>

                                            <td class="product-quantity" data-title="تعداد">
                                                <div class="quantity">
                                                    <label class="screen-reader-text">@Model.Order.ProductName  طرح( @Model.Order.ProductCode ) عدد</label>
                                                    <input asp-for="Order.Quantity" type="number"
                                                           class="input-text qty text"
                                                           step="1"
                                                           min="0"
                                                           max="1000"
                                                           title="تعداد"
                                                           inputmode="numeric" />
                                                </div>
                                            </td>

                                            <td class="product-subtotal" data-title=" قیمت کل ">
                                                <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">ریال</span>@Model.Order.Calculate</span>
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td colspan="6" class="actions">
                                            <button type="submit" class="button">به روزرسانی سبد</button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </form>

                        <div class="cart-collaterals">
                            <div class="cart_totals ">
                                <h2>مجموع کل سبد خرید</h2>

                                <table cellspacing="0" class="shop_table shop_table_responsive">
                                    <tr class="cart-subtotal">
                                        <th> قیمت کل </th>
                                        <td data-title=" قیمت کل ">
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="woocommerce-Price-currencySymbol">ریال</span>
                                                @Model.Order.TotalCart
                                            </span>
                                        </td>
                                    </tr>

                                    <tr class="woocommerce-shipping-totals shipping">
                                        <th>حمل و نقل</th>
                                        <td data-title="حمل و نقل">
                                            <ul id="shipping_method" class="woocommerce-shipping-methods">
                                                <li>
                                                    <input type="hidden" name="shipping_method[0]" data-index="0" id="shipping_method_0_iran_peyk_shipping" value="iran_peyk_shipping" class="shipping_method" />
                                                    <label for="shipping_method_0_iran_peyk_shipping">(فقط مخصوص شهر تهران)</label>
                                                </li>
                                            </ul>
                                            <p class="woocommerce-shipping-destination">
                                                حمل و نقل به <strong>تهران</strong>.
                                            </p>

                                            <form class="woocommerce-shipping-calculator" action="https://mahak-charity.org/cart/" method="post">
                                                <a href="#" class="shipping-calculator-button">تغییر آدرس</a>
                                                <section class="shipping-calculator-form" style="display:none;">

                                                    <p class="form-row form-row-wide" id="calc_shipping_country_field">
                                                        <select name="calc_shipping_country" id="calc_shipping_country" class="country_to_state country_select" rel="calc_shipping_state">
                                                            <option value="">کشور مورد نظر را انتخاب کنید</option>
                                                            <option value="IR" selected='selected'>ایران</option>
                                                        </select>
                                                    </p>

                                                    <p class="form-row form-row-wide" id="calc_shipping_state_field">
                                                        <span>
                                                            <select name="calc_shipping_state" class="state_select" id="calc_shipping_state" data-placeholder="استان">
                                                                <option value="">انتخاب کنید</option>
                                                                <option value="ABZ">البرز</option>
                                                                <option value="ADL">اردبیل</option>
                                                                <option value="EAZ">آذربایجان شرقی</option>
                                                                <option value="WAZ">آذربایجان غربی</option>
                                                                <option value="BHR">بوشهر</option>
                                                                <option value="CHB">چهارمحال و بختیاری</option>
                                                                <option value="FRS">فارس</option>
                                                                <option value="GIL">گیلان</option>
                                                                <option value="GLS">گلستان</option>
                                                                <option value="HDN">همدان</option>
                                                                <option value="HRZ">هرمزگان</option>
                                                                <option value="ILM">ایلام</option>
                                                                <option value="ESF">اصفهان</option>
                                                                <option value="KRN">کرمان</option>
                                                                <option value="KRH">کرمانشاه</option>
                                                                <option value="NKH">خراسان شمالی</option>
                                                                <option value="RKH">خراسان رضوی</option>
                                                                <option value="SKH">خراسان جنوبی</option>
                                                                <option value="KHZ">خوزستان</option>
                                                                <option value="KBD">کهگیلویه و بویراحمد</option>
                                                                <option value="KRD">کردستان</option>
                                                                <option value="LRS">لرستان</option>
                                                                <option value="MKZ">مرکزی</option>
                                                                <option value="MZN">مازندران</option>
                                                                <option value="GZN">قزوین</option>
                                                                <option value="QHM">قم</option>
                                                                <option value="SMN">سمنان</option>
                                                                <option value="SBN">سیستان و بلوچستان</option>
                                                                <option value="THR" selected='selected'>تهران</option>
                                                                <option value="YZD">یزد</option>
                                                                <option value="ZJN">زنجان</option>
                                                            </select>
                                                        </span>
                                                    </p>

                                                    <p class="form-row form-row-wide" id="calc_shipping_city_field">
                                                        <input type="text" class="input-text" value="" placeholder="شهر" name="calc_shipping_city" id="calc_shipping_city" />
                                                    </p>

                                                    <p class="form-row form-row-wide" id="calc_shipping_postcode_field">
                                                        <input type="text" class="input-text" value="" placeholder="کدپستی" name="calc_shipping_postcode" id="calc_shipping_postcode" />
                                                    </p>

                                                    <p><button type="submit" name="calc_shipping" value="1" class="button">بروزرسانی</button></p>
                                                    <input type="hidden" id="woocommerce-shipping-calculator-nonce" name="woocommerce-shipping-calculator-nonce" value="1ef17e09be" />
                                                    <input type="hidden" name="_wp_http_referer" value="/cart/" />
                                                </section>
                                            </form>

                                        </td>
                                    </tr>

                                    <tr class="order-total">
                                        <th>مجموع</th>
                                        <td data-title="مجموع">
                                            <strong>
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">ریال</span>
                                                </span>
                                            </strong>
                                        </td>
                                    </tr>

                                </table>

                                <div class="wc-proceed-to-checkout">
                                    <a href="https://mahak-charity.org/checkout/" class="checkout-button button alt wc-forward">
                                        اقدام به پرداخت
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>
                </article>
            </div>
        </div>
    </section>
}
else
{
    <section class="single">
        <div class="container">
            <div class="page-offset">
                <!-- Breadcrumb -->
                <div class="breadcrumb"><a asp-controller="Home" asp-action="Index">خانه</a> <i></i> <span>سبد خرید</span></div>
                <article class="single-page">
                    <h1 class="single-h1 page-h1">سبد خرید</h1>
                    <div class="woocommerce">
                        <div class="woocommerce-notices-wrapper"></div>
                        <p class="cart-empty woocommerce-info">سبد خرید شما در حال حاضر خالی است.</p>
                        <p class="return-to-shop">
                            <a class="button wc-backward" href="">
                                بازگشت به فروشگاه
                            </a>
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </section>
}
