﻿@model Mahak.ViewModel.Home.HomePageViewModel
@using Mahak.Common.Extensions
@using Mahak.ViewModel.Newsletter
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="rtl home blog theme-kalhors-mahak woocommerce-no-js">
    <div class="woocommerce-notices-shortcode woocommerce"></div>
    <!-- Slider -->
    <div class="slider-block">
        <div class="slider">
            @foreach (var item in Model.Sliders)
            {
                @if (item.Locations == "صفحه اول")
                {
                    <a href=""><img src="~/images/@item.ImageName" alt="@item.Title"></a>
                }
            }
        </div>
    </div>

    <!-- Pay - Banner -->
    <section class="pay-banner-block">
        <div class="container">
            <div class="flex-pay-banner">
                <div class="pb-right pb-right-animation">
                    <div class="animations" id="first-animation"></div>
                </div>
                <div class="pb-left">
                    <div class="flex-inner-pb">
                        <div class="pay-box">
                            <div class="pay-title-block">
                                <h3 class="ptb-h3">  </h3>
                                <span class="ptb-des"><p style="text-align: justify;">شما هم سهمی در نجات کودکان محک داشته باشید</p></span>
                            </div>
                            <a href="https://mahak-charity.org/online-payment/" class="buttons index-pay-button">کمک آنلاین</a>
                        </div>
                        <!--the banner-->
                        <a href="https://mahak-charity.org/hamdelii/"><img src="https://mahak-charity.org/wp-content/uploads/2020/02/بنر-سایت2-1.jpg" alt="banner"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Shop - Help -->
    <section class="shop-help">
        <div class="container">
            <div class="flex-pay-banner flex-shop">
                <div class="pb-right">
                    <div class="help-block">
                        <h3 class="help-h3">من چگونه می‌توانم به محک کمک کنم؟</h3>
                        <ul class="help-ul">
                            <li><a class="help-ul-register" href="https://mahak-charity.org/membership-request/"> عضویت<span></span></a></li>
                            <li><a class="help-ul-medical" href="https://mahak-charity.org/request-assistance/"> درمان یار<span></span></a></li>
                            <li><a class="help-ul-other" href="https://mahak-charity.org/assistance-methods/"> سایر روش های کمک<span></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="pb-left">
                    <div class="shop-box">
                        <div class="shop-lightslider-block">
                            <div class="shop-lightslider">
                                @foreach (var item in Model.Products)
                                {
                                    <div class="inner-shop-box">
                                        <a href="/product/@item.ProductId/@item.Url" class="shop-img">
                                            @if (item.ImageName != null)
                                            {
                                                <img src="~/images/@item.ImageName" width="600" height="600" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
                                            }
                                            else
                                            {
                                                <img src="~/assets/img/SpecifiedImage.jpg" width="600" height="600" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
                                            }
                                        </a>
                                        <h2 class="shop-h2"><a href="/product/@item.ProductId/@item.Url">@item.ProductName کد ( @item.ProductCode )</a></h2>
                                        <ul class="prices">
                                            <li class="new-price">@item.Price ریال</li>
                                        </ul>
                                        <ul class="shop-buttons">
                                            <li><a href="/product/@item.ProductId/@item.Url" class="shop-read-more">جزییات</a></li>
                                            <li>
                                                <a class="shop-add-to-cart" href="/product/@item.ProductId">
                                                    افزودن سفارش
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- News -->
    <section class="news">
        <div class="container">
            <div class="flex-news">
                <div class="news-right">
                    <h3 class="news-h3">در محک چه می‌گذرد؟</h3>
                    <div class="flex-inner-news">
                        @foreach (var item in Model.News)
                        {
                            @if (item.Locations == "خبر")
                            {
                                <div>
                                    <article class="news-box">
                                        <a href="/News/@item.NewsId/@item.Url" class="news-img">
                                            <img width="263" height="142" src="~/images/@item.ImageName" class="attachment-263x142 size-263x142 wp-post-image" alt="" />
                                            <img alt="no-image" src="~/assets/img/SpecifiedImage.jpg" />
                                        </a>
                                        <h2 class="news-h2">
                                            <a href="/News/@item.NewsId/@item.Url">@item.Title</a>
                                        </h2>
                                        <ul class="news-ul">
                                            <li>@item.PublishDateTime.ConvertMiladiToShamsi("dd MMMM")</li>
                                            <li>@item.NumberOfVisit بازدید</li>
                                        </ul>
                                        <div class="news-des">
                                            <p>@item.Description&#8230;</p>
                                        </div>
                                    </article>
                                </div>
                            }
                        }

                    </div>
                    <a href="https://mahak-charity.org/category/about/about-about/news/news-mahak/" class="buttons news-button">آرشیو اخبار</a>
                </div>
                <div class="news-left">
                    <div class="animations" id="second-animation"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Newslwtter -->
    <section class="newsletter">
        <div class="container">
            <div class="flex-newsletter">
                <div class="newsletter-box">
                    <div class="newsletter-form-block">
                        <h3 class="nf-h3">با عضویت در خبرنامه محک، از اتفاقات زیر این سقف باخبر شوید</h3>
                        <span class="nf-des">برای دریافت خبرنامه، ایمیل خود را وارد کنید</span>
                        <style media="screen" class="mailster-custom-form-css">
                            .mailster-form.mailster-form-1 .mailster-wrapper label {
                                color: #ffffff;
                            }
                        </style>
                        @await Html.PartialAsync("_RegisterInNewsletter", new NewsletterViewModel())
                    </div>
                    <div class="talk-to-mahak">
                        <h3 class="nf-h3">گفتگو با محک</h3>
                        <span class="nf-des">سوالات، انتقادات و پیشنهادات خود را برای ما ارسال کنید</span>
                        <a href="https://mahak-charity.org/talk-to-mahak" class="buttons ttm-button">با ما گفتگو کنید</a>
                    </div>
                </div>
                <div class="newsletter-animation">
                    <div class="animations" id="third-animation"></div>
                </div>
            </div>
        </div>
    </section>
</body>
