﻿@model Mahak.ViewModel.Home.NewsDetailsViewModel
@using Mahak.Common.Extensions
@using Mahak.ViewModel.Comments
@{
    ViewData["Title"] = "NewsDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .post-meta.d-flex a i {
        font-size: 15px !important;
    }
</style>

<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb  justify-content-center">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> خانه</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.News.Title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="post-details-area mb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="row">
                <div class="col-12">
                    <div class="post-details-thumb mb-50">
                        <img src="~/newsImage/@Model.News.ImageName" alt="@Model.News.ImageName">
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-9 col-xl-8">
                <div class="post-details-content">
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <!-- Post Content -->
                        <div class="post-content mt-0">
                            <a href="~/News/@Model.News.NewsId/@Model.News.Url" class="post-title mb-2">@Model.News.Title</a>
                            <div class="d-flex justify-content-between mb-30">
                                <div class="post-meta d-flex align-items-center">
                                    <a href="#" class="post-author">@Model.News.AuthorInfo.FirstName  @Model.News.AuthorInfo.LastName</a>
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <a href="#" class="post-date"> @Model.News.PublishDateTime.ConvertMiladiToShamsi("dd MMMM yyyy ساعت HH:MM")</a>
                                </div>
                                <div class="post-meta d-flex">
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> @Model.News.NumberOfComments</a>
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @Model.News.NumberOfVisit</a>
                                    <a onclick="Bookmark('@Model.News.NewsId')" id="bookmark">
                                    </a>
                                </div>
                            </div>
                        </div>

                        @Html.Raw(Model.News.Description)

                        <!-- Post Author -->
                        <div class="vizew-post-author d-flex align-items-center py-2">
                            <div class="post-author-thumb">
                                <img src="~/avatars/@Model.News.AuthorInfo.Image" alt="@Model.News.AuthorInfo.Image" height="90">
                            </div>
                            <div class="post-author-desc pr-4">
                                <h6 href="#" class="author-name"> نویسنده : @Model.News.AuthorInfo.FirstName  @Model.News.AuthorInfo.LastName</h6>
                                <p>@Model.News.AuthorInfo.Bio</p>
                            </div>
                        </div>

                        <!-- Comment Area Start -->
                        <div class="comment_area clearfix mb-50">

                            <!-- Section Title -->
                            <div class="section-heading style-2">
                                <h4>نظرات</h4>
                                <div class="line"></div>
                            </div>
                            @if (Model.Comments.Count() != 0)
                            {
                                <ul>
                                    @foreach (var item in Model.Comments)
                                    {
                                        <li class="single_comment_area">
                                            <!-- Comment Content -->
                                            <div id="@("comment-"+item.CommentId)" class="comment-content d-flex">
                                                <!-- Comment Author -->
                                                <div class="comment-author">
                                                    <img src="~/assets/img/UserPic.png" alt="author">
                                                </div>
                                                <!-- Comment Meta -->
                                                <div class="comment-meta">
                                                    <a href="#" class="comment-date">@item.PostageDateTime.ConvertMiladiToShamsi("dd MMMM yyyy ساعت HH:mm")</a>
                                                    <h6>@item.Name</h6>
                                                    <p>@item.Description</p>
                                                    <div class="d-flex align-items-center">
                                                        <a id="@("btn-"+item.CommentId)" onclick="ShowCommentForm('@item.CommentId','@item.NewsId')" href="#" class="reply">پاسخ</a>
                                                    </div>
                                                </div>
                                            </div>

                                            @if (item.comments.Count() != 0)
                                            {
                                                <ol class="children">
                                                    @foreach (var sub in item.comments)
                                                    {
                                                        <li class="single_comment_area">
                                                            <div id="@("comment-"+sub.CommentId)" class="comment-content d-flex">
                                                                <div class="comment-author">
                                                                    <img src="~/assets/img/UserPic.png" alt="author">
                                                                </div>
                                                                <div class="comment-meta">
                                                                    <a href="#" class="comment-date">@sub.PostageDateTime.ConvertMiladiToShamsi("dd MMMM yyyy ساعت HH:mm")</a>
                                                                    <h6>@sub.Name</h6>
                                                                    <p>@sub.Description</p>
                                                                    <div class="d-flex align-items-center">
                                                                        <a id="@("btn-"+sub.CommentId)" href="#" onclick="ShowCommentForm('@sub.CommentId','@item.NewsId')" class="reply">پاسخ</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @if (sub.comments.Count() != 0)
                                                            {
                                                                @await Html.PartialAsync("_SubComments", sub.comments)
                                                            }
                                                        </li>
                                                    }
                                                </ol>
                                            }
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <p class="alert alert-info mb-0">دیدگاهی برای این خبر ارسال نشده است.</p>
                            }
                        </div>

                        <!-- Post A Comment Area -->
                        <div class="post-a-comment-area">

                            <!-- Section Title -->
                            <div class="section-heading style-2">
                                <h4>ارسال دیدگاه</h4>
                                <div class="line"></div>
                            </div>

                            <!-- Reply Form -->
                            @await Html.PartialAsync("_SendComment", new CommentViewModel(null, Model.News.NewsId, null))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
