﻿@model Mahak.ViewModel.Home.ProductsPaginateViewModel
@using Mahak.Common.Extensions
@using Mahak.ViewModel.Newsletter
@using Mahak.ViewModel.Home
@using Mahak.Services.Contracts
@using Mahak.ViewModel.Settings
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="single">
    <div class="container">
        <div class="page-offset">
            <!-- Breadcrumb -->
            <div class="breadcrumb"><a href="https://mahak-charity.org">خانه</a> <i></i> <span>پرداخت آنلاین</span></div>







            <article class="single-page">
                <div class="flex-talk-to-mahak">
                    <div class="left-ttm">
                        <div class="animations page-animation1" id="first-animation"></div>
                    </div>
                    <div class="right-ttm">
                        <h1 class="single-h1 page-h1">پرداخت آنلاین</h1>
                        <p>یاوران گرامی</p>
                        <p style="text-align: right;">با پرداخت آنلاین از طريق تمامى كارت‌هاى عضو شتاب، سهمی در تامین هزینه دارو و درمان کودکان مبتلا به سرطان داشته باشید و قهرمان‌های كوچك محک را تا رسیدن به سلامتی همراهی کنید.</p>
                        <p>&nbsp;</p>
                        <form method="post" class="form-comment online-help-form">
                            <div class="form-block">
                                <div class="ttm-labels">
                                    <span class="labels-span">نوع پرداخت: *</span>
                                    <label class="radio"><input checked type="radio" name="type_pay" value="public"> عمومی</label>
                                    <label class="radio"><input type="radio" name="type_pay" value="register"> عضویت</label>
                                    <label class="radio"><input type="radio" name="type_pay" value="treatment"> درمان‌یار</label>
                                </div>
                                <div class="flex-input-item profile-form no-flex margin-top-0">
                                    <input class="money placeholder-input campaign-money" value="" type="text" placeholder="مبلغ مورد نظر خود را وارد کنید (ریال) *" name="price_help">
                                    <label class="showing-price">ریال</label>
                                </div>
                                <div class="flex-input-item profile-form margin-top-0">
                                    <input type="text" placeholder="شناسه نیکوکاری" name="idcode" value="">
                                    <input type="text" placeholder="شماره همراه (کیبورد انگلیسی)" name="mobile" value="">
                                </div>
                                <span class="track-span online-help-span">چنانچه تمایل به دریافت پیامک واریز دارید، شماره همراه وارد کنید ( اختیاری )</span>
                            </div>

                            <div class="flex-port">
                                <label class="mellat-port">
                                    <input checked type="radio" name="port" value="melat">
                                    ملت
                                </label>
                                <label class="saman-port">
                                    <input type="radio" name="port" value="saman">
                                    سامان
                                </label>
                            </div>


                            <button class="buttons comment-button"> پرداخت </button>

                        </form>
                    </div>
                </div>
            </article>













        </div>
    </div>
</section>
