﻿@model Mahak.ViewModel.Home.ProductDetailsViewModel
@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="single">
    <div class="container">
        <div class="page-offset">
            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
                    <div class="breadcrumb">
                        <nav class="woocommerce-breadcrumb"><a asp-controller="Home" asp-action="Index">خانه</a>&nbsp;&#47;&nbsp;@Model.Category.CategoryName</nav>
                    </div>
                    <div class="product-slider-block">
                        <div class="product-slider">
                            @foreach (var item in Model.Sliders)
                            {
                                @if (item.Locations == "صفحه دسته بندی ها")
                                {
                                    <a href="">
                                        <img src="~/images/@item.ImageName" alt="@item.Title">
                                        <h3>@item.Title</h3>
                                    </a>
                                }
                            }
                        </div>
                    </div>

                    <div class="flex-shop-sidebar">
                        <div class="shop-section">
                            <div class="inner-shop-section show-list">
                                @foreach (var item in Model.Products)
                                {
                                    <article class="inner-shop-box">
                                        <a href="/product/@item.ProductId/@Model.Category.CategoryId" class="shop-img">
                                            <img style="width:800px;height:800px;" src="~/images/@item.ImageName" alt="@item.ImageName" sizes="(max-width: 800px) 100vw, 800px" />
                                        </a>
                                        <div class="product-block">
                                            <h2 class="shop-h2"><a href="/product/@item.ProductId/@Model.Category.CategoryId">@item.ProductName</a></h2>
                                            <ul class="prices">
                                                <li class="new-price">@item.Price</li>
                                            </ul>
                                        </div>
                                        <ul class="shop-buttons">
                                            <li><a href="/product/@item.ProductId/@Model.Category.CategoryId" class="shop-read-more">جزییات</a></li>
                                            <li>
                                                @if (Model.Product != null)
                                                {
                                                    <a href="/product/@item.ProductId" class="shop-add-to-cart">افزودن سفارش</a>
                                                }
                                                else
                                                {
                                                    <a href="/product/@item.ProductId/@Model.Order.OrderId" class="shop-add-to-cart">افزودن سفارش</a>
                                                }
                                            </li>
                                        </ul>
                                    </article>
                                }
                            </div>

                            <div class="single-page about-category">
                                <h3 class="single-h3">در مورد @Model.Category.CategoryName</h3>
                                <div class="taxonomy-description">
                                    <p>@Model.Category.Description</p>
                                </div>
                            </div>
                        </div>

                        <aside class="shop-aside">
                            <div class="sa-box">
                                <h3 class="sa-box-h3">نوع نمایش محصول</h3>
                                <div class="sa-box-content">
                                    <label class="radio"><input type="radio" class="list" name="show" checked> لیستی</label>
                                    <label class="radio"><input type="radio" class="tile" name="show"> مربعی</label>
                                </div>
                            </div>
                            @await Component.InvokeAsync("CategoryList")

                        </aside>
                        <div class="aside-button"></div>
                    </div>

                    @foreach (var item in Model.Categories)
                    {
                        <div class="flex-shop-banner">
                            <a href="/product-category/@item.CategoryId/@item.Url" class="calendar">
                                <img src="~/images/@item.ImageName" />
                                <span>@item.ParentCategoryName</span>
                            </a>
                        </div>
                    }
                </main>
            </div>
        </div>
    </div>
</section>
