﻿@model Mahak.ViewModel.Home.ProductDetailsViewModel
@using Mahak.Common.Extensions
@using Mahak.ViewModel.Comments
@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="single">
    <div class="container">
        <div class="page-offset">
            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
                    <div class="breadcrumb">
                        <nav class="woocommerce-breadcrumb">
                            <a asp-action="Index" asp-controller="Home">خانه</a>
                            <a href="/product/@Model.Product.ProductId/@Model.Category.Url">@Model.Category.Title</a>
                            <a href="/product/@Model.Product.ProductId/@Model.Product.Url">@Model.Product.ProductName</a>
                        </nav>
                    </div>
                    <article class="single-page">
                        <div class="flex-product">
                            <div>
                                <div class="product-gallery-block">
                                    <div class="product-gallery">
                                        <div data-thumb="https://mahak-charity.org/wp-content/uploads/2020/04/T1.jpg" data-src="https://mahak-charity.org/wp-content/uploads/2020/04/T1.jpg">
                                            <img src="~/images/@Model.Product.ImageName" alt="@Model.Product.ImageName">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h1 class="single-h1 page-h1">@Model.Product.ProductName</h1>
                                <ul class="prices">
                                    <li class="new-price">@Model.Product.Price ريال</li>
                                </ul><p class="stock in-stock">@Model.Product.Stock در انبار</p>
                                <form class="cart" method="post" enctype='multipart/form-data'>
                                    <div class="number-block">
                                        <span class="number">تعداد</span>
                                        <div class="FormUnit FormUnit--spin js_spin">
                                            <div class="number-block">
                                                <div class="FormUnit FormUnit--spin js_spin">
                                                    <div class="quantity">
                                                        <label class="screen-reader-text">@Model.Product.ProductName</label>
                                                        <input asp-for="Order.Quantity" type="number"
                                                               class="FormUnit-field FormUnit-field--spin js_spin-input qty"
                                                               step="1"
                                                               min="0"
                                                               max="100"
                                                               title="تعداد"
                                                               inputmode="numeric" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" name="add-to-cart" value="8248" class="product-add-to-cart  alt">افزودن سفارش</button>
                                </form>
                                <div class="product_meta">
                                    <span class="posted_in">@Model.Product.NameOfCategories: 
                                        <a href="" rel="tag">@Model.Product.ProductName کد (@Model.Product.ProductCode)</a>, <a href="/product/@Model.Product.ProductId/@Model.Category.Url" rel="tag">@Model.Category.Title</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </article>

                    <ul class="product-tab">
                        <li data-tab="tab1" class="active">توضیحات</li>
                        <li data-tab="tab2">مشخصات</li>
                        <li data-tab="tab3">نظرات</li>
                    </ul>
                    <div class="single-page">
                        <div class="tab-content active" id="tab1">
                            <div class="single-content"></div>
                            <p>@Model.Product.Description</p>
                            @Html.Raw(Model.Product.Description)
                        </div>
                        <div class="tab-content" id="tab2">
                            <ul class="product-details"></ul>
                            <p>@Model.Product.ProductName</p>
                            <p>@Model.Product.Price</p>
                            <p>@Model.Product.Stock</p>
                            <p>@Model.Product.CreateDate تاریخ ساخت:</p>
                        </div>
                        <div class="tab-content" id="tab3">
                            <div class="comment-block"></div>
                            <div id="respond" class="comment-respond">
                                @if (Model.Comments.Count() != 0)
                                {
                                    <ul>
                                        @foreach (var item in Model.Comments)
                                        {
                                            <li class="single_comment_area">
                                                <!-- Comment Content -->
                                                <div id="@("comment-"+item.CommentId)" class="comment-content d-flex">
                                                    <!-- Comment Author -->
                                                    <div class="comment-author">
                                                        <img src="~/assets/img/UserPic.png" alt="author">
                                                    </div>
                                                    <!-- Comment Meta -->
                                                    <div class="comment-meta">
                                                        <a href="#" class="comment-date">@item.PostageDateTime.ConvertMiladiToShamsi("dd MMMM yyyy ساعت HH:mm")</a>
                                                        <h6>@item.Name</h6>
                                                        <p>@item.Description</p>
                                                        <div class="d-flex align-items-center">
                                                            <a id="@("btn-"+item.CommentId)" onclick="ShowCommentForm('@item.CommentId','@item.NewsId')" href="#" class="reply">پاسخ</a>
                                                        </div>
                                                    </div>
                                                </div>

                                                @if (item.comments.Count() != 0)
                                                {
                                                    <ol class="children">
                                                        @foreach (var sub in item.comments)
                                                        {
                                                            <li class="single_comment_area">
                                                                <div id="@("comment-"+sub.CommentId)" class="comment-content d-flex">
                                                                    <div class="comment-author">
                                                                        <img src="~/assets/img/UserPic.png" alt="author">
                                                                    </div>
                                                                    <div class="comment-meta">
                                                                        <a href="#" class="comment-date">@sub.PostageDateTime.ConvertMiladiToShamsi("dd MMMM yyyy ساعت HH:mm")</a>
                                                                        <h6>@sub.Name</h6>
                                                                        <p>@sub.Description</p>
                                                                        <div class="d-flex align-items-center">
                                                                            <a id="@("btn-"+sub.CommentId)" href="#" onclick="ShowCommentForm('@sub.CommentId','@item.NewsId')" class="reply">پاسخ</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                @if (sub.comments.Count() != 0)
                                                                {
                                                                    @await Html.PartialAsync("_SubComments", sub.comments)
                                                                }
                                                            </li>
                                                        }
                                                    </ol>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <p class="alert alert-info mb-0">دیدگاهی برای این محصول ارسال نشده است.</p>
                                }
                                @await Html.PartialAsync("_SendComment", new CommentViewModel(null, null, Model.Product.ProductId))
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</section>
