﻿
@{
    ViewData["Title"] = "Introduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- Single -->
    <section class="single">
        <div class="container">
            <div class="page-offset">
                <!-- Breadcrumb -->
                <div class="breadcrumb"><a asp-action="Index" asp-controller="Home">خانه</a> <i></i> <span>گفتگو با محک</span></div>

                <article class="single-page">
                    <div class="flex-talk-to-mahak">
                        <div class="left-ttm">
                            <div class="animations" id="third-animation"></div>
                        </div>
                        <div class="right-ttm">
                            <h1 class="single-h1 page-h1">گفتگو با محک</h1>
                            <input type="hidden" id="fmahak" name="fmahak" value="bad4604054" />
                            <div id="page_porpuse" dir="rtl">
                                <div dir="rtl" style="text-align: justify;">مهم‌ترین اصول در محک شفافیت در عملکرد و پاسخگویی به نیاز مخاطبان می‌باشد و هدف از فعالیت بخش تضمین کیفیت،‌ تامین هر چه کامل‌تر این دو اصل است.</div>
                                <div dir="rtl"></div>
                            </div>
                            <div id="page_porpuse" dir="rtl">
                                <blockquote>
                                    <div dir="rtl" style="text-align: justify;"><span style="text-align: right;">بخش تضمین کیفیت با ارتباط مستقیم از طریق ذیربطان، نقاط ضعف و قوت را جویا می‌شود تا در برنامه‌ریزی‌های سازمان از آن نقطه نظرها برای هر چه بهتر طی کردن مسیر تعالی استفاده گردد.</span></div>
                                </blockquote>
                                <div dir="rtl" style="text-align: justify;"></div>
                                <div dir="rtl" style="text-align: justify;"></div>
                            </div>
                            <div dir="rtl" style="text-align: justify;">ياور گرامی، شما می توانيد از دو طريق نظرات، پیشنهادات وانتقادات خود را با واحد تضمين كيفيت محك در ميان بگذاريد:</div>
                            <h4 style="text-align: justify;">تماس با شماره تلفن<span style="color: #993300;"> <strong>۲۳۵۰۱۱۸۰</strong></span></h4>
                            <p style="text-align: justify;">
                                <form method="POST" action="" class="form-comment">
                                    <div class="flex-input-item">
                                        <input type="text" placeholder="نام و نام خانوادگی *" name="fname" value="محمد خاکساری" readonly>
                                        <input type="text" placeholder="شماره همراه (کیبورد انگلیسی) *" name="mobile" value="09192232012" readonly>
                                        <input type="text" placeholder="ایمیل *" name="email" value="">
                                    </div>
                                    <div class="ttm-labels">
                                        <span class="labels-span">نوع گفتگو:</span>
                                        <label class="radio"><input type="radio" value="پیشنهادات" name="typefeedback" checked> پیشنهادات</label>
                                        <label class="radio"><input type="radio" value="انتقادات" name="typefeedback"> انتقادات</label>
                                        <label class="radio"><input type="radio" value="سوالات" name="typefeedback"> سوالات</label>
                                        <label class="radio"><input type="radio" value="سایر پیام‌ها" name="typefeedback"> سایر پیام‌ها</label>
                                    </div>
                                    <textarea class="comment-textarea" placeholder="توضیحات ..." name="description"></textarea>

                                    <input type="hidden" id="fmahak" name="fmahak" value="bad4604054" />
                                    <button class="buttons comment-button">ارسال نظر</button>
                                </form>

                                <blockquote class="track-span">جهت پيگيری نظرات ثبت شده، لطفاً كد پيگيری شش رقمی خود را در اين قسمت وارد نماييد.</blockquote>
                                <form method="POST" class="newsletter-form">
                                    <input type="text" class="form-input" placeholder="کد شش رقمی خود را وارد کنید" name="unique_id">
                                    <button type="submit" class="buttons newsletter-button">پیگیری نظر</button>
                                </form>
                            </p>

                        </div>
                    </div>
                </article>

            </div>
        </div>
    </section>
</main>