﻿@model Mahak.ViewModel.Account.MessageUsersViewModel
@using Mahak.Common.Extensions
@{
    ViewData["Title"] = "MessageCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="single">
    <div class="container">
        <div class="page-offset">
            <!-- Breadcrumb -->
            <div class="breadcrumb"><a asp-action="Index" asp-controller="Home">خانه</a> <i></i> <span>حساب کاربری من</span></div>
            <article class="single-page">
                <h1 class="single-h1 page-h1">حساب کاربری من</h1>
                <div class="woocommerce">
                    @await Html.PartialAsync("_ProfileMenu")

                    <div class="woocommerce-MyAccount-content">
                        <div class="woocommerce-notices-wrapper"></div>

                        @ViewBag.Alert
                        <h1 class="single-h1 page-h1">انتقادات و پیشنهادات</h1>
                        <div dir="rtl" style="text-align: justify;">مهم&zwnj;ترین اصول در محک شفافیت در عملکرد و پاسخگویی به نیاز مخاطبان می&zwnj;باشد و هدف از فعالیت بخش تضمین کیفیت،&zwnj; تامین هر چه کامل&zwnj;تر این دو اصل است.</div>
                        <div id="page_porpuse" dir="rtl">
                            <blockquote>
                                <div dir="rtl" style="text-align: justify;">
                                    <span style="text-align: right;">بخش تضمین کیفیت با ارتباط مستقیم از طریق ذیربطان، نقاط ضعف و قوت را جویا می&zwnj;شود تا در برنامه&zwnj;ریزی&zwnj;های سازمان از آن نقطه نظرها برای هر چه بهتر طی کردن مسیر تعالی استفاده گردد.</span>
                                </div>
                            </blockquote>
                            <div dir="rtl" style="text-align: justify;"></div>
                            <div dir="rtl" style="text-align: justify;"></div>
                        </div>
                        <div dir="rtl" style="text-align: justify;">ياور گرامی، شما می توانيد از سه طريق نظرات، پیشنهادات وانتقادات خود را با واحد تضمين كيفيت محك در ميان بگذاريد:</div>
                        <h4 style="text-align: justify;">تماس با شماره تلفن<span style="color: #993300;">&nbsp;<strong>۲۳۵۰۱۱۸۰</strong></span></h4>
                        <form asp-controller="Code" asp-action="MessageCode" class="form-comment">
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-3"></div>
                            <input type="hidden" asp-for="@Model.MessageId" />

                            <div class="flex-input-item">
                                @*<input asp-for="@Model.FullName" type="text" placeholder="نام و نام خانوادگی *" readonly>
                                <input asp-for="@Model.PhoneNumber" type="text" placeholder="شماره همراه (کیبورد انگلیسی) *" readonly>*@
                                <input asp-for="@Model.Email" type="text" class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first" placeholder="ایمیل *" readonly>
                            </div>

                            <span class="labels-span">نوع گفتگو:</span>
                            <input asp-for="MessageTypes" value="@Mahak.Entities.MessageType.Offers" class="radio" id="customRadio1" type="radio" readonly>
                            <label class="radio" for="customRadio1">پیشنهادات</label>
                            <input asp-for="MessageTypes" value="@Mahak.Entities.MessageType.Feedback" class="radio" id="customRadio2" type="radio" readonly>
                            <label class="radio" for="customRadio2">انتقادات</label>
                            <input asp-for="MessageTypes" value="@Mahak.Entities.MessageType.Questions" class="radio" id="customRadio3" type="radio" readonly>
                            <label class="radio" for="customRadio3">سوالات</label>
                            <input asp-for="MessageTypes" value="@Mahak.Entities.MessageType.Other" class="radio" id="customRadio4" type="radio" readonly>
                            <label class="radio" for="customRadio4">سایر پیام‌ها</label>
                            <textarea asp-for="@Model.Description" class="comment-textarea" placeholder="توضیحات ..." readonly></textarea>

                            @*<button type="submit" class="buttons comment-button">ارسال نظر</button>*@
                        </form>

                        <blockquote class="track-span">جهت پيگيری نظرات ثبت شده، لطفاً كد پيگيری شش رقمی خود را در اين قسمت وارد نماييد.</blockquote>
                        <form asp-controller="Account" asp-action="MessageCode" class="newsletter-form">
                            <input type="hidden" asp-for="@Model.MessageId" />

                            <input asp-for="@Model.CommentCode" type="text" class="form-input" placeholder="کد شش رقمی خود را وارد کنید">
                            <span asp-validation-for="@Model.CommentCode" class="text-danger"></span>
                            <button type="submit" class="buttons newsletter-button">پیگیری نظر</button>

                            @*<p>@ViewBag.Massage</p>*@
                        </form>

                    </div>

                </div>
            </article>
        </div>
    </div>
</section>