﻿@model Mahak.ViewModel.Account.UserPanelViewModel
@{
    ViewData["Title"] = "SendCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-wrapper flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card p-4">
                    <div class="text-center text-uppercase h4 font-weight-light">
                        انتخاب روش احراز هویت
                    </div>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form asp-controller="Code" asp-action="SendCode" method="post" class="form-horizontal">
                        <input asp-for="RememberMe" type="hidden" />
                        <ul class="alert alert-success">
                            <li>با انتخاب احراز هویت از طریق ایمیل یک ایمیل حاوی کد اعتبارسنجی به شما ارسال می شود.</li>
                            <li>با انتخاب احراز هویت از طریق پیامک یک پیامک حاوی کد اعتبارسنجی به شما ارسال می شود</li>
                        </ul>
                        <div class="row mb-4">
                            <div class="col-md-8">
                                احراز هویت دو مرحله ای از طریق
                                <select asp-for="SelectedProvider" asp-items="Model.Providers" class="form-control input-sm d-inline-block" style="width:auto;font-size: 12px;vertical-align: -3px;"></select>
                                <button type="submit" class="btn btn-primary">ارسال</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
