﻿@model Mahak.ViewModel.Account.UserPanelViewModel
@{
    ViewData["Title"] = "VerifyCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card p-4">
                    <div class="text-center text-uppercase h4 font-weight-light">
                        ارسال کد اعتبارسنجی
                    </div>
                    <hr />
                    <p class="alert alert-success">یک کد اعتبارسنجی برای شما ارسال شد این کد را وارد کنید.</p>
                    <form asp-controller="Code" asp-action="VerifyCode" method="post" class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Provider" type="hidden" />
                        <input asp-for="RememberMe" type="hidden" />
                        <div class="form-group">
                            <label asp-for="Code" class="col-md-4 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="Code" class="form-control" placeholder="کد اعتبارسنجی" />
                                <span asp-validation-for="Code" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox mt-4 form-group">
                                    <input type="checkbox" class="custom-control-input" id="login" asp-for="RememberBrowser">
                                    <label class="custom-control-label" for="login" asp-for="RememberBrowser"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary float-left">ارسال</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
